.footer-top
  .container
    .row
      .footer-top-li-contact-logo.hidden-lg
        img.footer-top-li-contact-logo__img(src='https://dyrbj6mjld-flywheel.netdna-ssl.com/wp-content/themes/dynamicsignal/assets/custom-redesign/images/dynamicsignal-logo-white.svg')
      .col-md-4.hidden-xs
        ul.footer-top-li__links.footer-top-li-contact
          img.footer-top-li-contact-logo__img.visible-lg-block(src='https://dyrbj6mjld-flywheel.netdna-ssl.com/wp-content/themes/dynamicsignal/assets/custom-redesign/images/dynamicsignal-logo-white.svg')
          li
            span.fa-1x.fa-stack
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-inverse.fa-stack-1x.fa-map-marker
            p
              | 1111 Bayhill Drive, Suite 125
              br
              | San Bruno, California 94066
              li
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-inverse.fa-stack-1x.fa-phone
                p 650-231-2550
      .col-md-2.col-sm-3
        h5.footer-top__header Product
        ul.footer-top-li__links
          li
            a(href='http://www.dynamicsignal.com//product/') Overview
          li
            a(href='http://www.dynamicsignal.com//use-cases') Use Cases
          li
            a(href='http://www.dynamicsignal.com//customers/') Customers
          li
            a(href='http://www.dynamicsignal.com//resources/') Resources
          li
            a(href='http://www.dynamicsignal.com//agency/') Agency Partners
          li
            a(href='http://www.dynamicsignal.com//employee-advocacy/') Employee Advocacy
      .col-md-2.col-sm-3
        h5.footer-top__header Company
        ul.footer-top-li__links
          li
            a(href='http://www.dynamicsignal.com//resources/#ufh-c-206867-news/') News
          li
            a(href='http://www.dynamicsignal.com//events/') Events
          li
            a(href='http://www.dynamicsignal.com//resources/#ufh-c-208133-press/') Press Releases
          li
            a(href='http://www.dynamicsignal.com//blog/') Blog
          li
            a(href='http://www.dynamicsignal.com//team/') Team
          li
            a(href='http://www.dynamicsignal.com//careers/') Careers
      .col-md-2.col-sm-3
        h5.footer-top__header Get in Touch
        ul.footer-top-li__links
          li
            a(href='http://www.dynamicsignal.com//requestdemo/') Request Demo
          li
            a(href='http://www.dynamicsignal.com//contact-us/') Contact Us
          li
            a(href='https://dynamicsignal.desk.com/', target='_blank') Support
      .visible-xs-block
        ul.footer-top-li__links.footer-top-li-contact-mobile
          li
            span.fa-1x.fa-stack
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-inverse.fa-stack-1x.fa-map-marker
            p
              | 1111 Bayhill Drive, Suite 125
              br
              | San Bruno, California 94066
              li
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-inverse.fa-stack-1x.fa-phone
                p 650-231-2550
      .col-md-2.col-sm-3
        ul.footer-top-li__links.footer-top-li-social
          li
            a(href='https://www.facebook.com/DynamicSignal/')
              span.fa-1x.fa-stack
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-inverse.fa-stack-1x.fa-facebook
              p
                a(href='https://www.facebook.com/DynamicSignal/') Facebook
          li
            a(href='https://twitter.com/dynamic_signal')
              span.fa-1x.fa-stack
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-inverse.fa-stack-1x.fa-twitter
              p
                a(href='https://twitter.com/dynamic_signal') Twitter
          li
            a(href='https://www.linkedin.com/company/1604432')
              span.fa-1x.fa-stack
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-inverse.fa-stack-1x.fa-linkedin
              p
                a(href='https://www.linkedin.com/company/1604432') LinkedIn
.footer-bottom
  .container
    .row
      .col-sm-6
        p.footer-bottom-cp__text © 2017. Dynamic Signal Inc. All rights reserved.
      .col-sm-6
        ul.footer-bottom-cp__links
          li
            a(href='http://www.dynamicsignal.com//terms-of-use/') Terms of Use
          li
            a(href='http://www.dynamicsignal.com//terms-of-use/') Privacy Policy
