extends inc/page.pug
block template
  :php
    /*
    Template Name: 404 Page
    */
block nav
  - showSearch = "hide";
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  section.container.margin-top-header
    .row
      .col-md-8.col-md-offset-2
        img(data-src="404-bg.jpg" alt="404 File Not Found")
        p Maybe try a search?
        #search-box-sidenav
          form.search-form(action='')
            input.query#oi-query(type='text', placeholder="Enter Search Term")
            button.submit(type="submit")
              i.fa.fa-search
            #oi-spellcheck
            #oi-header
