extends inc/page-adwords.pug
block template
  :php
    /*
    Template Name: Adwords - eBook Template
    */
block content
    section.lp-container
        .container
            .row
                .col-md-12
                    p TEST