extends inc/page-adwords.pug
block template
  :php
    /*
    Template Name: Adwords - Demo Request Template
    */
block content
    -
        var pageData = {
            "videoInfo": {
                "id":"293345508",
                "type":"vimeo",
                "quote":"Employees become more informed than ever and empowered by information. Dynamic Signal helps us measure the impact of both communications and integrated marketing programs.",
                "cta":"Play Video",
                "image":"adwords-graphic-howdsworks.jpg",
                "cite":"David Armano - Global Strategy Director @ Edelman"
                }
                };
    :php
        echo "<script>var pageData = {'logos':".json_encode(get_field( 'logos' ),JSON_UNESCAPED_SLASHES)
        ."};</script>";
    section.lp-container(data-bg="header-hardhats.jpg")
        .container
            .row
                .col-md-12.lp-header
                    h1
                        :php
                            echo get_field("page_header");
                    p   
                        :php
                            echo get_field("page_subhead");
            .row
                .col-md-8
                    .lp-wrapper-video
                        iframe(src='https://player.vimeo.com/video/293345508?title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                    p
                        :php
                            echo get_field("page_copy");
                .col-md-4
                    script(src='//app-ab04.marketo.com/js/forms2/js/forms2.min.js')
                    #marketo-form-wrapper
                        :php
                            printf("<form class='marketo-form' id='%s'>","mktoForm_".get_field("form_id"));
                        script.
                            var validateCorporateEmail = true;
                        :php
                            echo "</form>"
        .container
            .row
                .col-md-12
                    #adwords-logos.adwords-logo-garden
block modals