extends inc/page-adwords.pug
block template
  :php
    /*
    Template Name: Adwords - Demo Request Template
    */
block content
    -
        var pageData = {
            "videoInfo": {
                "id":"iYvNKx7mwZ0",
                "type":"youtube",
                "quote":"Employees become more informed than ever and empowered by information. Dynamic Signal helps us measure the impact of both communications and integrated marketing programs.",
                "cta":"Play Video",
                "image":"adwords-graphic-howdsworks.jpg",
                "cite":"David Armano - Global Strategy Director @ Edelman"
                }
                };
    section.lp-container
        .container
            .row
                .col-md-12.lp-header
                    h1 CONNECT WITH 
                        .blue YOUR EMPLOYEES
                    p Request a Demo to learn how to modernize, streamline, and measure your communication and engagement
            .row.lp-panels
                .lp-panel.panel-left
                    .lp-wrapper-video
                        iframe(width='560', height='315', src='https://www.youtube.com/embed/iYvNKx7mwZ0?rel=0&modestbranding=1', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .lp-panel.panel-right
                    script(src='//app-ab04.marketo.com/js/forms2/js/forms2.min.js')
                    #marketo-form-wrapper
                        form.marketo-form#mktoForm_1753
                            script.
                                var validateCorporateEmail = true;
            .row
                .col-md-12.centered
                    p Communicate with your employees the way they expect. Wherever they are. Information intended just for them. On the device they prefer. One platform ensures that employees are always “in the know” and have everything they need to shine on the job.
                    a.lp-site-link(href="/") dynamicsignal.com
block modals