extends inc/page-adwords.pug
block template
  :php
    /*
    Template Name: Adwords - Demo Request Template
    */
block content
    -
        var pageData = {
            "videoInfo": {
                "id":"182917369",
                "type":"vimeo",
                "quote":"Employees become more informed than ever and empowered by information. Dynamic Signal helps us measure the impact of both communications and integrated marketing programs.",
                "cta":"Play Video",
                "image":"partners-testimonial-thumb.jpg",
                "cite":"David Armano - Global Strategy Director @ Edelman"
                }
                };
    section.lp-container
        .container
            .row
                .col-md-12
                    h1 CONNECT WITH 
                        .blue YOUR EMPLOYEES
                    p Request a Demo to learn how to modernize, streamline, and measure your communication and engagement
                .col-md-6
                        .customer-video-thumb.video-activator(data-video-id=pageData.videoInfo.id,video-type=pageData.videoInfo.type,data-bg=pageData.videoInfo.image)
                            .content
                                a.button(href="#")
                                    span.cta!=pageData.videoInfo.cta
                                    i.fa.fa-play
                .col-md-6
                    script(src='//app-ab04.marketo.com/js/forms2/js/forms2.min.js')
                    #marketo-form-wrapper
                        form.marketo-form#mktoForm_1753
                            script.
                                var validateCorporateEmail = true;
                .col-md-12
                    p Bottom copy
                    a.site-link(href="/") dynamicsignal.com