extends inc/page-adwords.pug
block template
  :php
    /*
    Template Name: Adwords - eBook Template
    */
block content
    section.lp-container(data-bg="adwords-ebook-bg.jpg")
        .container
            .row
                .col-md-12.lp-header
                    h1 Driving Adoption for Employee Communication and Engagement Platform
                    p Download the eBook
                    p Hands-on examples and best practices about how companies can drive high adoption rates for their Employee Communication and Engagement Platform – at the initial launch and for ongoing success.
            .row.lp-panels
                .col-md-6.lp-ebook-bucket
                    .lp-ebook-thumb(data-bg="adwords-ebook.png")
                .col-md-6
                    script(src='//app-ab04.marketo.com/js/forms2/js/forms2.min.js')
                    #marketo-form-wrapper
                        form.marketo-form#mktoForm_2044
                            script.
                                var validateCorporateEmail = true;
block modals