extends inc/page-adwords.pug
block template
  :php
    /*
    Template Name: Adwords - eBook Template
    */
block content
    section.lp-container.e-book
        .container
            .row
                .col-md-12.lp-header.ebook
                    h1
                        :php
                            echo get_field("page_header");
                    :php
                        if (get_field("page_subhead")) {
                            echo "<p>".get_field("page_subhead")."</p>";
                        }           
            .row
                .col-md-8.lp-ebook-bucket
                    :php
                        echo "<div class='lp-ebook-thumb' data-bg-array='".json_encode(get_field("ebook_image"),JSON_UNESCAPED_SLASHES)."'></div>";
                        echo get_field("page_copy");
                .col-md-4
                    script(src='//app-ab04.marketo.com/js/forms2/js/forms2.min.js')
                    #marketo-form-wrapper
                        :php
                            printf("<form class='marketo-form' id='%s'>","mktoForm_".get_field("form_id"));
                        script.
                            var validateCorporateEmail = true;
                        :php
                            echo "</form>"
block modals