extends inc/page.pug
block template
  :php
    /*
    Template Name: Agency Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $override_title = "Partners";
      echo "<script>var pageData = {'logos':".json_encode(get_field( 'logos' ),JSON_UNESCAPED_SLASHES)
      .", 'testimonials':".json_encode(get_field('agency_testimonials'),JSON_UNESCAPED_SLASHES)."};</script>";
  section.hero-inner
      .container
          .inner    
              .text
                  :php
                      printf("<h1 class='white'>%s</h1>", get_field("hero_text"));
  section.hero-media
      .container
          .inner
              .wrapper-video
                  :php
                      printf("<iframe width='560' height='315' src='https://www.youtube.com/embed/%s?rel=0&modestbranding=1&showinfo=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>", get_field("hero_video_id"));
  section.white-bg-section.padding-both
    .container
      .row
        .col-md-12
          :php
            printf("<p class='agency-content-top'>%s</p>", get_field("content_top"));
          #logo-partners-grid
  section.partners-testimonials.white-bg-section.padding-both
    .container
      #partners-testimonials
  section.uber-embed.white-bg-section.padding-both
    .container
      .row.col-center
        :php
          if ( have_rows( 'uber_embed' ) ) :
            $count = 0;
              while ( have_rows( 'uber_embed' ) ) : the_row();
                $tile = get_sub_field('embed');
                $first = ( $count === 0 ) ? 'first' : '';
                printf( '<div class="col-md-4 %s">%s</div>', $first, $tile );
                $count++;
              endwhile;
          endif;
  section.bottom-cta.padding-both
    p Learn why more than 30 percent of the Fortune 100 communicates with Dynamic Signal.
    a.button.cta.request-demo(href="/requestdemo/") Request Demo