extends inc/page.pug
block template
	:php
		/*
		Template Name: Blog Page
		*/
block content
	-
		var pageData = {
		"header":"Blog",
		"ctaLink":"/blog/",
		"ctaLabel":"Subscribe via RSS"
		 };
	section.hero#page-top
		.container
			.row
				h1!=pageData.header
				h2
					a(href=pageData.ctaLink)!=pageData.ctaLabel
	section.blog-entries.container
		:php
			error_reporting(E_ALL);
			$paged = ( get_query_var( 'paged' ) ) ? get_query_var( 'paged' ) : 1;
			$query = new WP_Query( array('post_type' => 'post','paged' => $paged) );
			if( $query->have_posts() ) {
					while( $query->have_posts() ) {
							$query->the_post();
		article
			.row
				.col-md-12.blog-thumb
					:php
						echo "<a href='".get_the_permalink()."'>";
						echo the_post_thumbnail( 'full', array('class' => 'img-responsive') );
						echo "</a>";
			.row
				.col-md-12.blog-header
					:php
						if( has_tag() ) {
							echo "<p class='blog-tags'>";
							the_tags( false );
							echo "</p>";
						}
						echo "<h1><a href='". esc_attr( get_permalink() ) ."'>".get_the_title()."</a></h1>";
			.row
				.col-md-12.blog-excerpt
					:php
						the_excerpt();
			.row
				.col-md-12.blog-author
					:php
						the_author_posts_link();

		:php
			}};
		.row
			.col-md-12.pagination
				:php
					$big = 999999999;
						echo paginate_links( array(
																				'base' => str_replace( $big, '%#%', esc_url( get_pagenum_link( $big ) ) ),
																				'format' => '?paged=%#%',
																				'current' => max( 1, get_query_var('paged') ),
																				'total' => $query->max_num_pages
																			)
						);
