extends inc/page.pug
block template
  :php
    /*
    Template Name: Blog Roll
    */
block nav
  include ./inc/header.pug
block content
  :php
    $parent_category = "blog-categories";
    $categories = ["communications","marketing","human-resources", "customer-stories","culture","events"];
    $filtered_posts = [];
    $sticky = get_option( 'sticky_posts' );
    foreach ($categories as $key=>$category) {
      $query = new WP_Query( array( 'category_name' => $parent_category.'+'.$category ) );
      array_push($filtered_posts,array("category"=>$category,"post"=>$query->posts[0]));  
    }
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Our Company",
      "link"=>"/company/"
    ));
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
          h1 Blog
  section
    .container
      .row
        .col-md-8
            :php
              foreach($filtered_posts as $key=>$post) {
              $p = $post["post"];
              $c = $post["category"];
              $c_title = ucwords(str_replace("-"," ",$post["category"]));
              if ($key==0 || $key%2==0) { echo "<div class='row'>"; }
              printf("<div class='col-md-6'><a class='category-link-title' href='%s'><h2>%s<span class='view-button'>View All<span class='divot'>»</span></span></h2><a class='story-tile-link' href='%s'><div class='featured-thumb' data-bg='%s'></div><h3>%s</h3></a></div>","/category/".$c,$c_title, $p->post_name, get_the_post_thumbnail_url($p), $p->post_title);  
              if ($key%2==1) { echo "</div>"; }
              }
        .col-md-4
          ul.side-list
            include ./inc/blog-roll.pug
            :php
              foreach($posts as $key=>$post) {
                $header = $key==0 ? "<h2>What's New?</h2>" : "";
                $classname = $key==0 ? "dot" : "";
                  printf("<li class='%s'>%s%s</li>",$classname,$header,$post);
                }
              
