extends inc/page.pug
block template
  :php
    /*
    Template Name: Blog Roll 2019
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $featured_ids = [];
    $args = array(
      'posts_per_page' => 1,
      'orderby'    => 'post_date',
      'order'      => 'DESC',
      'ignore_sticky_posts'=>1,
      'meta_query' => array(
        array(
          'key' => 'front_page_featured_entry',
          'value' => 'true'
        )
      )
    );
    $query = new WP_Query($args);
    if ($query->have_posts()) {
      $featured = $query->posts[0];
      array_push($featured_ids,$featured->ID);
    }


    $parent_category = "blog-categories";
    $category_entries = array(
      [
        "name"=>"Best Practices",
        "slug"=>"best-practices"
        ],
      [
        "name"=>"Customer Stories",
        "slug"=>"customer-stories"
        ],
      [
        "name"=>"DySi News & Culture",
        "slug"=>"news-and-culture"
        ]
    );
    $categories = ["best-practices","customer-stories","news"];
    
    $filtered_posts = [];
    foreach ($category_entries as $key=>$category) {
      $query = new WP_Query( array( 'post__not_in' => $featured_ids, 'category_name' => $parent_category.'+'.$category["slug"],'post__in'  => get_option( 'sticky_posts' ),'ignore_sticky_posts' => 0,'posts_per_page' => 1) );
      if ($query->have_posts()) {
        array_push($filtered_posts,array("category"=>$category,"post"=>$query->posts[0]));  
        array_push($featured_ids,$query->posts[0]->ID);
        }
      else {
        $query = new WP_Query( array( 'category_name' => $parent_category.'+'.$category["slug"],'posts_per_page' => 1) );
        array_push($filtered_posts,array("category"=>$category,"post"=>$query->posts[0])); 
        array_push($featured_ids,$query->posts[0]->ID);
        }  
    }

    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Our Company",
      "link"=>"/company/"
    ));
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
  section.no-padding
    .container
      .row.padding-bottom
        .col-md-12
            :php
              $thumb = get_field("social_share_image", $featured) ? get_field("social_share_image", $featured) : get_the_post_thumbnail_url($featured);
              printf("<a class='story-tile-link blog-front' href='%s'><div class='row'><div class='col-md-12'><div class='featured-thumb' data-bg='%s'><h1>%s</h1></div></div></div><div class='row'><div class='col-md-12'><ul class='post-meta hmenu'><li><span class='fa fa-star'></span>Editor's Pick</li></ul><p>%s</p></div></div></a>", get_the_permalink($featured), $thumb, get_the_title($featured),htmlentities(WPSEO_Meta::get_value('metadesc', $featured->ID), ENT_QUOTES));
  section.no-padding
    .container
      .row
        .col-md-12
          .even-height-wrapper
            :php
              foreach($filtered_posts as $key=>$post) {
              $p = $post["post"];
              $c = $post["category"];
              $thumb = get_field("social_share_image", $p) ? get_field("social_share_image", $p) : get_the_post_thumbnail_url($p);
              printf("<div class='col-3'><a class='category-link-title' href='%s'><h3>%s<span class='view-button'>View All<span class='divot'>»</span></span></h3></a><article id='%s' role='article' itemprop='haspart' itemscope='' itemtype='http://schema.org/Article' class='blog-featured-bucket'><a class='story-tile-link' href='%s' itemprop='url'><div class='featured-thumb' data-bg='%s'></div><ul class='post-meta hmenu'><li><span class='fa fa-star'></span>Featured</li></ul><h4 itemprop='title'>%s</h4></a></article></div>","/category/".$c["slug"],$c["name"],get_the_ID(), $p->post_name, $thumb, $p->post_title);  
              }
  section.no-padding-top
    .container
      .row
        .col-md-12
          h2 Most Recent
          :php
            $paged = ( get_query_var( 'paged' ) ) ? get_query_var( 'paged' ) : 1;
            $count = 0;
            $page_object = get_queried_object();
            $query = new WP_Query( array('post__not_in'=>$featured_ids,'post_type' => 'post','paged' => $paged,'posts_per_page' => 10,'orderby'=>'post_date','ignore_sticky_posts'=>1,'post_status'=>'publish') );
            if( $query->have_posts() ) {
                while( $query->have_posts() ) {
                    $query->the_post();
                    $post_tags = get_the_tags();
                    $tags = "";
                    if ($post_tags) {
                      foreach($post_tags as $key=>$tag) {
                        $tags .= sprintf("<a href='/tag/%s'>%s</a> | ", $tag->slug,$tag->name);
                      }
                      $tags = rtrim($tags,"| ");
                    }
                    $authorname = get_the_author_meta('display_name',get_the_author_id());
                    $email =  get_the_author_meta('email',get_the_author_id());
                    $authormeta = get_avatar($email);
                    printf("<article class='blog-roll-bucket flicker-in' id='%s' role='article' itemprop='haspart' itemscope='' itemtype='http://schema.org/Article'>
                              <meta itemscope='itemscope' itemprop='mainEntityOfPage' itemType='https://schema.org/WebPage'/>
                              <div class='blog-tile-wide'>
                                <div class='description'>
                                  <div class='author-block'>
                                    <div class='small-author-thumb'>%s</div>
                                    <p class='name'>%s</p>
                                    <p class='blog-date' datetime='%s' itemprop='datePublished' content='%s'>%s</p>
                                  </div>
                                  <a href='%s' itemprop='url'><h3 itemprop='headline'>%s</h3></a>
                                  <p class='excerpt'>%s</p>
                                  <div class='tag-cloud'>%s</div>
                                </div>
                                <a href='%s' itemprop='url'>
                                  <div class='thumb' data-bg='%s'></div>
                                </a> 
                              </div>  
                            </article>",get_the_ID(),get_the_author(),$authorname,get_the_time('c'),get_the_time('c'),get_the_date(),get_permalink(),get_the_title(),htmlentities(WPSEO_Meta::get_value('metadesc'), ENT_QUOTES),$tags,get_permalink(),get_the_post_thumbnail_url());
                      $count++;
                      }}
  section.container
    .row
      .col-md-12
        a.button(href="/blog-roll/") More Entries