extends inc/page.pug
block template
  :php
    /*
    Template Name: Blog Roll
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $parent_category = "blog-categories";
    $category_entries = array(
      [
        "name"=>"Communication",
        "slug"=>"communications"
        ],
      [
        "name"=>"Marketing",
        "slug"=>"marketing"
        ],
      [
        "name"=>"Human Resources",
        "slug"=>"human-resources"
        ],
      [
        "name"=>"Customer Stories",
        "slug"=>"customer-stories"
        ],
      [
        "name"=>"DySi News",
        "slug"=>"culture"
        ],
      [
        "name"=>"Events",
        "slug"=>"events"
        ]
    );
    $categories = ["communications","marketing","human-resources", "customer-stories","culture","events"];
    $filtered_posts = [];
    foreach ($category_entries as $key=>$category) {
      $query = new WP_Query( array( 'category_name' => $parent_category.'+'.$category["slug"],'post__in'  => get_option( 'sticky_posts' ),'ignore_sticky_posts' => 0,'posts_per_page' => 1) );
      if ($query->have_posts()) {
        array_push($filtered_posts,array("category"=>$category,"post"=>$query->posts[0]));  
        }
      else {
        $query = new WP_Query( array( 'category_name' => $parent_category.'+'.$category["slug"],'posts_per_page' => 1) );
        array_push($filtered_posts,array("category"=>$category,"post"=>$query->posts[0])); 
        }  
    }
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Our Company",
      "link"=>"/company/"
    ));
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
          h1 Blog
  section
    .container
      .row
        .col-md-8
            :php
              foreach($filtered_posts as $key=>$post) {
              $p = $post["post"];
              $c = $post["category"];
              if ($key==0 || $key%2==0) { echo "<div class='even-height-wrapper'>"; }
              printf("<div class='col-2'><a class='category-link-title' href='%s'><h2>%s<span class='view-button'>View All<span class='divot'>»</span></span></h2></a><article id='%s' role='article' itemprop='haspart' itemscope='' itemtype='http://schema.org/Article'><a class='story-tile-link' href='%s' itemprop='url'><div class='featured-thumb' data-bg='%s'></div><h3 itemprop='title'>%s</h3></a></article></div>","/category/".$c["slug"],$c["name"],get_the_ID(), $p->post_name, get_the_post_thumbnail_url($p), $p->post_title);  
              if ($key%2==1) { echo "</div>"; }
              }
        .col-md-4
          ul.side-list
            include ./inc/blog-roll.pug
            :php
              foreach($posts as $key=>$post) {
                $header = $key==0 ? "<a class='category-link-title' href='/blog-roll'><h2>What's New?<span class='view-button'>View All<span class='divot'>»</span></span></h2></a>" : "";
                $classname = $key==0 ? "dot" : "";
                  printf("<li class='%s'>%s%s</li>",$classname,$header,$post);
                }
              
