extends inc/page.pug
block template
  :php
    /*
    Template Name: SDR Recruitment Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Careers",
      "link"=>"/careers/"
    ));
  section.top-section#company-header(data-bg="company-bg-header.jpg")
    .inner
      h1 Straight from the Source
  :php
    if( have_posts() ): while( have_posts() ): the_post();
      $quotes = json_encode(get_field("quotes"));
    echo "<script>var pageData = {'quotes':".$quotes
    ."};</script>";
  section.container
    .row
      .col-md-8
        :php
          the_content();
      .col-md-4
        h2 Apply Now
        ul.sdr-buttons
          li
            a.button(href="https://dynamicsignal.com/career/sales-development-representative-san-bruno/") San Bruno
          li
            a.button(href="https://dynamicsignal.com/career/sales-development-representative-uk/") Chicago
          li
            a.button(href="https://dynamicsignal.com/career/sales-development-representative-chicago/") London
  section.sdr-quotes
      #sdr-quote-carousel
  section.container
    .row
      .col-md-12
        :php
          $types = array(
            "Video" => "camera",
            "eBook" => "book",
            "Presentation" => "slideshare",
            "Webinar" => "desktop",
            "Report" => "bar-chart-o",
            "Blog Post" => "camera"
          );
          $count=0;
          if ( have_rows( 'resource_tiles' ) ) :
              while ( have_rows( 'resource_tiles' ) ) : the_row();
                if ($count==0 || $count%3==0) { echo "<div class='even-height-wrapper'>"; }
                printf("<div class='col-3'><a class='story-tile-link' href='%s'><div class='featured-thumb' data-bg-array='%s'></div><ul class='post-meta hmenu'><li><span class='fa fa-%s'></span>%s</li></ul><h3>%s</h3></a></div>",get_sub_field("resource_link"), json_encode(get_sub_field("resource_image"), JSON_UNESCAPED_SLASHES),$types[get_sub_field("resource_type")],get_sub_field("resource_type"),get_sub_field("resource_title"));
                if ($count%3==2) { echo "</div>"; }
                $count++;
              endwhile;
          endif;
  :php
      endwhile;
    endif;

