extends inc/page.pug
block template
	:php
		/*
		Template Name: Case Study Page
		*/
block content
	section.hero#page-top
		.container
			.row
				h1
					:php
						the_title();
				h2
					:php
						echo get_field("subheader");
	section#case-study-page.case-study-image
		:php
			echo "<img src='".get_field("header_image")["url"]."' alt='' />";
	section.case-study-stats
		.container
			.row.case-study-stats
				.col-md-4.col-s-12
					h3 Industry
					h4
						:php
							echo get_field("industry_type");
				.col-md-4.col-s-12
					h3 Company Size
					h4
						:php
							echo get_field("company_size");
				.col-md-4.col-s-12
					h3 Use Case
					h4
						:php
							echo get_field("use_case");
	section.case-study-intro-block
		.container.case-study
			.row
				.col-md-12
					p.case-study-intro
						:php
							echo get_field("intro_paragraph");
	section.container.case-study
		.row
			.col-md-12
				h2.col-center
					:php
						echo get_field("problem_statement_header");
				p
					:php
						echo get_field("problem_statement");
		.row
			.col-md-12
				h2.col-center
					:php
						echo get_field("problem_list_header");
		.row
			.col-md-12.col-center
				ul.case-study-list.problem
					:php
						foreach(get_field("problem_points") as $key=>$value) {

					li
						include ./inc/exclamation-point.pug
						span
							:php
								echo $value["problem_point"];
					:php
						}
	section.case-study-quote
		.container
			.row
				.col-md-12
					blockquote
						:php
							echo get_field("quotation");
	section.container.case-study
		.row
			.col-md-12
				h2.col-center
					:php
						echo get_field("solution_header");
				p
					:php
						echo get_field("solution_statement")
		.row
			.col-md-12.col-center
				h2
					:php
						echo get_field("solution_items_header");
				ul.case-study-list.solution
					:php
						foreach(get_field("solution_items") as $key=>$value) {

					li
						include ./inc/checkmark.pug
						span
							:php
								echo $value["solution_item"];
					:php
						}
	section.case-study-image.black
		:php
			echo "<img src='".get_field("bottom_image")["url"]."' alt='' />";
	:php
		if (get_field("proof_type")!="noproof") {
	section.container.case-study
		.row
			.col-md-12
				:php
					if (get_field("proof_type")=="stats") {
				ul.proof-points
					:php
						foreach(get_field("proof_stats") as $key=>$stat) {
					li
						:php
							echo "<i class='fa fa-".$stat["icon_name"]."'></i>";
						h3
							:php
								echo $stat["stat_value"];
						h4
							:php
								echo $stat["stat_description"];
					:php
						}
				:php
					}
					else {
				.case-study-proof-quote.col-center
					:php
						echo get_field("proof_quote");
						if (get_field("proof_quote_citation")!="") {
					cite
						:php
							echo get_field("proof_quote_citation");
					:php
						}
				:php
					}
	:php
		}
	section.case-study.case-study-cta
		.container
			.row
				.col-md-12
					h2.col-center
						:php
							echo get_field("conclusion_header");
					p
						:php
							echo get_field("conclusion_paragraph");
			.row
				.col-md-12.col-center
					a.button-red.cta(href="/requestdemo/") Request a Demo
