extends inc/page.pug
block template
  :php
    /*
    Template Name: Case Study Page - 2019
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  section.hero-inner
      .container
          .inner    
              .text
                  h1.white
                      :php
                            echo get_field("page_title");
  section.hero-media
    .container
        .inner-image
            :php
                printf("<div class='blog-thumb' data-bg-array='%s'></div>", json_encode(get_field("header_bg"),JSON_UNESCAPED_SLASHES))
  section
    .container
      .row.case-study-stats
        .col-md-4.col-s-12
          h3 Industry
          h4
            :php
              echo get_field("industry");
        .col-md-4.col-s-12
          h3 Company Size
          h4
            :php
              echo get_field("company_size");
        .col-md-4.col-s-12
          h3 Solution
          h4
            :php
                if (count(get_field("solutions")) > 1) {
                    foreach(get_field("solutions") as $key=>$solution) {
                        printf("<a href='%s'>%s</a>%s ", $solution["link"],$solution["name"],$key == count(get_field("solutions"))-1 ? "" : ",");
                    }
                }
                else {
                    printf("<a href='%s'>%s</a>", get_field("solutions")[0]["link"],get_field("solutions")[0]["name"]);
                }
  section.case-study-content-block.padding-both
    .container
        .row
            .col-md-12.blog-content
                :php
                    echo get_field("case_study_content");
  section.case-study-takeaways.padding-both
    .container
        .row
            .col-md-12
                h2 Key Takeaways
                :php
                    foreach(get_field("takeaways") as $idk=>$tk) {
                        $bullets = "";
                        foreach($tk["bullets"] as $key=>$bullet) {
                           $bullets .= sprintf("<li>%s</li>",$bullet["content"]); 
                        }
                        printf("<div class='case-study-tk'><div class='icon' data-bg-array='%s'></div><div class='content'><h3>%s</h3><ul>%s</ul></div></div>",json_encode($tk["icon"],JSON_UNESCAPED_SLASHES),$tk["title"],$bullets);
                    }
