extends inc/page.pug
block template
  :php
    /*
    Template Name: Company Page
    */
block nav
  include ./inc/header.pug
block content
  :php
    $query = new WP_Query( array('post_type' => 'post','posts_per_page'   => '1') );
    $blog_post = $query->get_posts()[0];
    
    $args = array(
          'post_type' => 'event',
          'posts_per_page' => 1,
          'meta_key'   => 'event_start_date',
          'orderby'    => 'meta_value_num',
          'order'      => 'DESC',
          'meta_query' => array(
            array(
              'key' => 'ds_event_type',
              'value' => 'cswebinar',
              'compare' => '!='
            )
          )
        );
    $query = new WP_Query( $args );
    if($query->have_posts()) {
      while($query->have_posts()) {
      $query->the_post();
      $start_date = get_field( 'event_start_date' );
      $event_post = array(
      "title"=>get_the_title(),
      "start_month"=>date("F", strtotime($start_date)),
      "start_date"=>$start_date,
      "start_day"=>date("j", strtotime($start_date)),
      "start_year"=>date("Y", strtotime($start_date)),
      "start_time"=>get_field( 'event_start_time' ),
      "event_time_zone"=>get_field( 'event_time_zone' ),
      "finish_date"=>get_field( 'event_end_date' ) ,
      "thumb"=>get_field('ds_event_thumbnail'),
      "btn_text"=>get_field('ds_button_text'),
      "btn_url"=>get_field( 'ds_button_url' ),
      "description"=>get_the_content(),
      "excerpt"=>get_the_excerpt(),
      "type"=>get_field( 'ds_event_type' ),
      "url"=>get_permalink(),
      "location"=>get_field( 'ds_event_location' )
      );
      }
    }
    
    $query = new WP_Query( array('post_type' => 'career','posts_per_page'   => '1') );
    $career_post = $query->get_posts()[0];
    
  section.top-section#company-header(data-bg="company-bg-header.jpg")
    .inner
      h1 Committed to Helping Organizations Succeed Through Better Communication
  section.container
    .row
      .col-md-12.icon-bar
        a.icon-tile(href="/customers")
          .icon-thumb(data-bg="icon-customers.png")
          h2 Customers
        a.icon-tile(href="/team")
          .icon-thumb(data-bg="icon-team.png")
          h2 Team
        a.icon-tile(href="/agency")
          .icon-thumb(data-bg="icon-partners.png")
          h2 Partners
        a.icon-tile(href="/careers")
          .icon-thumb(data-bg="icon-careers.png")
          h2 Careers
  section.container
    .row
      .col-md-8.content
        img(src=themeDir+"images/company-peoplepic.jpg",alt="")
        p Employee Communication and Engagement Platforms are a critical component for the success of world-class organizations at a time of historic, unprecedented change in the global workplace. Successful serial entrepreneurs Russ Fradin, Steve Heyman and Jim Larrison founded the company in 2010 with the mission of establishing stronger bonds between organizations and their employees so great things can be achieved.
        p Today, hundreds of enterprise organizations, including more than 20 percent of the Fortune 100, trust Dynamic Signal to align their organizations and increase productivity by delivering timely, relevant information to millions of employees around the world so they can do their jobs better.
      .col-md-4
        ul.side-list
          li.dot
            h2 Events
            :php
              printf("<h3><a href='%s'>%s</a></h3><p>%s on %s/%s/%s<br> at %s (%s)<a class='small-link' href='%s'>%s</a><a class='small-link' href='%s'>details</a></p>",$event_post["url"],$event_post["title"],$event_post["type"],$event_post["start_month"],$event_post["start_day"],$event_post["start_year"],$event_post["start_time"],$event_post["event_time_zone"],$event_post["btn_url"],$event_post["btn_text"],$event_post["url"]) ;
            a.button(href="/events") All Events  
          li.dot
            h2 Blog
            h3
              :php
                //echo json_encode($blog_post);
                printf("<a href='%s'><h3>%s</h3><p>By %s</p></a>","/blog/".$blog_post->post_name,$blog_post->post_title,get_author_name($blog_post->author));
            a.button(href="/blog") All Entries  
          li.dot
            h2 Press
            h3 
              a(href="https://resources.dynamicsignal.com/press/mark-ragan-joins-dynamic-signal-as-an-advisor-to-transform-enterprise-communication") Mark Ragan Joins Dynamic Signal As An Advisor To Transform Enterprise Communication
            p Webinar on 1/15/18
              a.small-link(href="https://resources.dynamicsignal.com/press/mark-ragan-joins-dynamic-signal-as-an-advisor-to-transform-enterprise-communication") read
            a.button(href="/press") News and Press 
  section.bottom-cta
    .container
      .row
        .col-md-12
          p Learn why more than 20 percent of the Fortune 100 communicates with Dynamic Signal
          a.button.cta(href="https://dynamic-signal.local/requestdemo") Request Demo
