extends inc/page.pug
block template
  :php
    /*
    Template Name: Company Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $query = new WP_Query( array('post_type' => 'post','posts_per_page'   => '1','ignore_sticky_posts'=>1) );
    $blog_post = $query->get_posts()[0];
    
    $args = array(
          'post_type' => 'event',
          'posts_per_page' => 1,
          'showposts'=>1,
          'meta_key'   => 'event_start_date',
          'orderby'    => 'event_start_date',
          'meta_type' => 'date',
          'order'      => 'ASC',
          'paged' => true,
          'meta_query' => array(
            array(
              'key' => 'ds_event_type',
              'value' => 'cswebinar',
              'compare' => '!='
            ),
            array(
              'key' => 'event_start_date',
              'value' => date('Y-m-d'),
              'compare'=>'>=',
              'type'=>'date'
            )
          )
        );
    $query = new WP_Query( $args );

    $events_flag = false;
    if($query->have_posts()) {
      while($query->have_posts() && $count == 0) {
      $query->the_post();
      $start_date = get_field( 'event_start_date' );
      $event_post = array(
      "title"=>get_the_title(),
      "start_month"=>date("F", strtotime($start_date)),
      "start_date"=>$start_date,
      "start_day"=>date("j", strtotime($start_date)),
      "start_year"=>date("Y", strtotime($start_date)),
      "start_time"=>get_field( 'event_start_time' ),
      "event_time_zone"=>get_field( 'event_time_zone' ),
      "finish_date"=>get_field( 'event_end_date' ) ,
      "thumb"=>get_field('ds_event_thumbnail'),
      "btn_text"=>get_field('ds_button_text'),
      "btn_url"=>get_field( 'ds_button_url' ),
      "description"=>get_the_content(),
      "excerpt"=>get_the_excerpt(),
      "type"=>get_field( 'ds_event_type' ),
      "url"=>get_permalink(),
      "location"=>get_field( 'ds_event_location' )
      );
      $count++;
      }
    }
    else {
      $events_flag = true;
    }
    $query = new WP_Query( array('post_type' => 'career','posts_per_page'   => '1') );
    $career_post = $query->get_posts()[0];
    printf("<section class='halfpic' id='sticky-header'>");
    printf("<div class='halfpic-bg' data-bg-array='%s'></div>",json_encode(get_field("header_bg"), JSON_UNESCAPED_SLASHES));
  .white-gradient-header
  .container
      .row-flex
          .col-half-flex.gray-bg-section
              .inner
                h1
                  :php
                    printf("%s",get_field("page_header"))
  :php
    echo "</section>";   
  section.white-bg-section
    .container
      .row
        .col-md-12.icon-bar
          :php
            if (get_field("sub_nav")) {
            foreach(get_field("sub_nav") as $idx=>$button) {
              printf("<a class='icon-tile' href='%s'><div class='icon-thumb' data-bg-array='%s'></div><h2>%s</h2></a>",$button["button_target"],json_encode($button["button_icon"],JSON_UNESCAPED_SLASHES), $button["button_label"]);
            }
            }
  section.white-bg-section
    .container
      .row
        .col-md-8.content
          :php
            printf("<img src='%s' alt='' />",get_field("secondary_image")["url"]);
            printf("%s",get_field("page_copy"));
            printf("<img src='%s' alt='' />",get_field("awards")["url"]);
        .col-md-4
          ul.side-list
            :php
              if (!$events_flag) {
            li.dot
              h2 Events
              :php
                printf("<h3><a href='%s'>%s</a></h3><p>%s on %s/%s/%s<br> at %s (%s)<a class='small-link' href='%s'>%s</a><a class='small-link' href='%s'>details</a></p>",$event_post["url"],$event_post["title"],$event_post["type"],$event_post["start_month"],$event_post["start_day"],$event_post["start_year"],$event_post["start_time"],$event_post["event_time_zone"],$event_post["btn_url"],$event_post["btn_text"],$event_post["url"]) ;
              a.button(href="/events") All Events  
            :php
              }
            li.dot
              h2 Blog
              h3
                :php
                  printf("<a href='%s'><h3>%s</h3><p>By %s</p></a>","/blog/".$blog_post->post_name,$blog_post->post_title,get_author_name($blog_post->post_author));
              a.button(href="/blog") All Entries  
            li.dot
              h2 Press
              h3 
                :php
                  printf("<a href='%s'>%s</a>",get_field("press_item_link"),get_field("press_item_headline"));
              a.button(href="/press/") All Press
            li.dot
              h2 News
              h3 
                :php
                  printf("<a href='%s'>%s</a>",get_field("news_item_link"),get_field("news_item_headline"));
              a.button(href="/news/") All News
  section.bottom-cta
    .container
      .row
        .col-md-12
          p Learn why more than 20 percent of the Fortune 100 use Dynamic Signal
          a.button.cta.knockout(href="/requestdemo") Request Demo
