extends inc/page.pug
block template
  :php
    /*
    Template Name: Company Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
    section.hero-inner
        .container
            .inner
                .text
                    :php
                        printf("<h1 class='white'>%s</h1>", get_field("hero_text"));
    section.hero-media
        .container
            .inner
                .wrapper-video
                    :php
                        printf("<iframe width='560' height='315' src='https://www.youtube.com/embed/%s?rel=0&modestbranding=1&showinfo=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>", get_field("hero_video_id"))
    :php
        foreach(get_field("company_page_sections") as $idx=>$section) {
            $image_col = sprintf("<div class='col-md-6'><div class='company-thumb' id='image-%s' data-bg-array='%s'></div></div>", $idx, json_encode($section["image"], JSON_UNESCAPED_SLASHES));
            $text_col = sprintf("<div class='col-md-6'><h2 class='blue'>%s</h2><div class='content'>%s</div></div>", $section["headline"], $section["content"]);
            $content = $section["orientation"]=="left" ? $image_col.$text_col : $text_col.$image_col;
            printf("<section class='feature-section white-bg-section padding-both'><div class='container'><div class='row'>%s</div></div></section>", $content);
        }
    section.gray-bg-section.padding-both.double
        .container
            .col-md-12.centered
                h2
                    :php
                        echo get_field("diagram_headline");
                .content
                    :php
                        echo get_field("diagram_copy");
                :php
                    printf("<div class='company-diagram' data-bg-array='%s'></div>", json_encode(get_field("diagram_image"), JSON_UNESCAPED_SLASHES));
    :php
        printf("<section class='company-proof white-bg-section padding-both double' data-bg-array='%s'>", json_encode(get_field("superfluous_section_image"), JSON_UNESCAPED_SLASHES));
    .container
        .col-md-offset-6.col-md-6
            h2
                :php
                    echo get_field("superfluous_section_headline");
            .content
                :php
                    echo get_field("superfluous_section_copy");    
    :php
        echo "</section>";
    section.company-logo-garden.white-bg-section.padding-both.double
        .container
            .col-md-12
                h2.centered
                    :php
                        echo get_field("logo_garden_headline");
                .content.centered
                    :php
                        echo get_field("logo_garden_copy"); 
                ul.logo-line
                    :php
                        foreach(get_field("logo_garden_logos") as $idx=>$logo) {
                            printf("<li><div class='thumb' data-bg-array='%s'></div></li>", json_encode($logo["image"], JSON_UNESCAPED_SLASHES));
                        }       
    section.company-sitemap.padding-both.double
        .container
            .row
                .col-md-12
                    ul.sitemap-items
                        :php
                            foreach(get_field("sitemap_items") as $idx=>$item) {
                                printf("<li><span class='icon'></span><div class='top-copy'><h2 class='white'>%s</h2><p class='white'>%s</p></div><div class='cta'><a class='white' href='%s'>%s</a></div></li>", $item["headline"], $item["copy"], $item["cta_link"], $item["cta_label"]);
                            }                