extends inc/page.pug
block template
  :php
    /*
    Template Name: Company Page
    */
block nav
  include ./inc/header.pug
block content
  section.top-section#company-header(data-bg="company-bg-header.jpg")
    .inner
      h1 Committed to Helping Organizations Succeed Through Better Communication
  section.container
    .row
      .col-md-12.icon-bar
        a.icon-tile(href="/customers")
          .icon-thumb(data-bg="icon-customers.png")
          h2 Customers
        a.icon-tile(href="/team")
          .icon-thumb(data-bg="icon-team.png")
          h2 Team
        a.icon-tile(href="/agency")
          .icon-thumb(data-bg="icon-partners.png")
          h2 Partners
        a.icon-tile(href="/careers")
          .icon-thumb(data-bg="icon-careers.png")
          h2 Careers
  section.container
    .row
      .col-md-8.content
        img(src=themeDir+"images/company-peoplepic.jpg",alt="")
        p Employee Communication and Engagement Platforms are a critical component for the success of world-class organizations at a time of historic, unprecedented change in the global workplace. Successful serial entrepreneurs Russ Fradin, Steve Heyman and Jim Larrison founded the company in 2010 with the mission of establishing stronger bonds between organizations and their employees so great things can be achieved.
        p Today, hundreds of enterprise organizations, including more than 20 percent of the Fortune 100, trust Dynamic Signal to align their organizations and increase productivity by delivering timely, relevant information to millions of employees around the world so they can do their jobs better.
      .col-md-4
        ul.side-list
          li.dot
            h2 Events
            h3 How O2 Engages Their Deskless Workforce at Global Scale
            p Webinar on 1/15/18
              a.small-link(href="#") details
            a.button(href="/events") All Events  
          li.dot
            h2 Blog
            h3 Rapid Fire Friday With Nelson Page
            p Webinar on 1/15/18
              a.small-link(href="#") read
            a.button(href="/blog") All Entries  
          li.dot
            h2 Press
            h3 Mark Ragan Joins Dynamic Signal As An Advisor To Transform Enterprise Communication
            p Webinar on 1/15/18
              a.small-link(href="#") read
            a.button(href="/press") News and Press 
