extends inc/page.pug
block template
  :php
    /*
    Template Name: Connectors Page
    */
block nav
  include ./inc/header.pug
block content
  :php
    $override_title = "Integrations";
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"What Is Dynamic Signal?",
      "link"=>"/product/"
    ));
    
    echo '<script>var connectorData = '. json_encode(get_field("connectors")).';</script>';
  -
    var pageData = {
    "header":"Connectors",
    "subheader":""
    };
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
          h1 Integrations
          h2 Dynamic Signal integrates with your current enterprise systems for ease of use and global scale
  section.container
    #connectors
