extends inc/page.pug
block template
  :php
    /*
    Template Name: Contact Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  -
    var pageData = {
    "header":"Contact Us",
    "subheader":"We would love to hear from you!"
    };
  section.top-section-interior
    .container
      .row
        .col-md-12
          h1!=pageData.header
          h2!=pageData.subheader
  section.contact-map#map-container
    iframe#the-contact-map.embed-responsive-item(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3159.871663838721!2d-122.42262138468661!3d37.628706479786324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f79dccd3af767%3A0x166eb0df6a212757!2s1111+Bayhill+Dr+%23125%2C+San+Bruno%2C+CA+94066!5e0!3m2!1sen!2sus!4v1455136606631', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
  section.contact-details.container
    .row
      .col-md-offset-1.col-md-5
        h3.address-title Dynamic Signal
        p 1111 Bayhill Drive, Suite 125
          br
          | San Bruno, CA 94066
        p 650.231.2550 tel
          br
          | 877.335.9093 fax
        p Looking for solutions?
          br
          | Check our
          a.click-here-tag(href='https://support.dynamicsignal.com/', target="_blank")!=" Knowledge Base"
          | .
        h3 New York:
        p 140 Broadway, 46th Floor
          br
          | New York, NY 10014
        h3 Europe:
        p Chris Seth
          br
          a(href='mailto:chris@dynamicsignal.com') chris@dynamicsignal.com
        p Unit 8, Baden Place
          br
          | Crosby Row, London SE1 1YW United Kingdom
      .col-md-6.contact-form
        script(src='//app-ab04.marketo.com/js/forms2/js/forms2.js')
        #marketo-form-wrapper
          form.marketo-form#mktoForm_1064
        script.
          var validateCorporateEmail = true;
