extends inc/page.pug
block template
  :php
    /*
    Template Name: Customers Page
    */
block nav
  include ./inc/header.pug
block content
  :php
    $override_title = "Customers";
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Our Company",
      "link"=>"/company/"
    ));
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
          h1 The Trusted Industry Leader
  :php
    global $wp_query;
     query_posts(array(
         'post_type' => 'customer',
         'nopaging' => true
     ));
     $customers = [];
     while(have_posts()) : the_post();
        $post->logo = get_field("logo");
        $post->citation_name = get_field("citation_name");
        $post->citation_title = get_field("citation_title");
        $post->vimeo_id = get_field("vimeo_id");
        $post->video_thumbnail = get_field("video_thumbnail");
        $post->quote = get_field("quote");
        $post->customer_page = get_field("customer_page");
        $post->logo_sort_order = get_field("logo_sort_order");
         array_push($customers,$post);
     endwhile;
     wp_reset_query();
    echo '<script>var customerData = '. json_encode($customers).';</script>';
  -
    var pageData = {
    "header":"The Trusted Industry Leader",
    "subheader":"Hundreds of the world’s largest organizations, in countries around the globe, trust Dynamic Signal.",
    "ctaHeader":"Learn how world-class companies increase productivity and engagement with the only platform trusted by global leaders.",
    "ctaLabel":"Request Demo"
    };
  section
    #customer-video-carousel
  section.customers-grid.container
    h2 Hundreds of the world’s largest organizations, in countries around the globe, trust Dynamic Signal.
    #customers-grid
  section.cta-bottom.col-center
    .container
      .row
        .col-md-12
          h2!=pageData.ctaHeader
          a.button.cta(href="/requestdemo/")!=pageData.ctaLabel
