extends inc/page.pug
block template
  :php
    /*
    Template Name: Customers Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    global $wp_query;
     query_posts(array(
         'post_type' => 'customer',
         'nopaging' => true
     ));
     $customers = [];
     while(have_posts()) : the_post();
        $post->logo = get_field("logo");
        $post->citation_name = get_field("citation_name");
        $post->citation_title = get_field("citation_title");
        $post->vimeo_id = get_field("vimeo_id");
        $post->video_thumbnail = get_field("video_thumbnail");
        $post->quote = get_field("quote");
        $post->customer_page = get_field("customer_page");
        $post->logo_sort_order = get_field("logo_sort_order");
         array_push($customers,$post);
     endwhile;
     wp_reset_query();
    echo '<script>var customerData = '. json_encode($customers).';</script>';
  section.margin-top-header.padding-top-header
    #customer-video-carousel.customer-video-carousel
  section.customers-grid.container.padding-top
    h2 Hundreds of the world’s largest organizations, in countries around the globe, trust Dynamic Signal.
    #customers-grid
  section.bottom-cta
    .container
      .row
        .col-md-12
          p Learn why more than 30 percent of the Fortune 100 use Dynamic Signal.
          a.button.cta(href="/requestdemo/") Request Demo
