extends inc/page.pug
block template
  :php
    /*
    Template Name: Demo Request Form
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    printf("<section class='halfpic margin-top-header'>");
    printf("<div class='halfpic-bg' data-bg-array='%s'></div>",json_encode(get_field("header_bg"), JSON_UNESCAPED_SLASHES));
  .white-gradient-header
  .container
      .row-flex
          .col-half-flex.gray-bg-section
              .inner
                h1 Request a Demo
                p Your Employee Communication and Engagement Platform
  :php
    echo "</section>";   
  section.signup-form-bucket.white-bg-section.padding-both
    .container
      .row
        .col-md-6
          div(style='text-align: center;')
            img(src=themeDir+'images/pic-demo-request.jpg', alt='')
          p A member of our team will be in touch to schedule a personalized look at the Dynamic Signal platform.
          ul.demo-list.fa-ul
            li
              i.fa-li.fa.fa-check
              | Keep employees informed
            li
              i.fa-li.fa.fa-check
              | Increase engagement
            li
              i.fa-li.fa.fa-check
              | Retain your top talent
            li
              i.fa-li.fa.fa-check
              | Boost productivity
            li
              i.fa-li.fa.fa-check
              | Empower advocacy
        .col-md-6
          script(src='//app-ab04.marketo.com/js/forms2/js/forms2.min.js')
          #marketo-form-wrapper.blue-form
            form.marketo-blue.blue-form#mktoForm_1163
              script.
                var validateCorporateEmail = true;
          p.form-warning.warning
            span.asterisk *
            |  If a form doesn’t appear, please pause or disable your Ad Blocker in your browser and reload this page.
          p.warning
            span.asterisk *
            |  all fields are required.
