extends inc/page.pug
block template
  :php
    /*
    Template Name: Demo Center
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    if( have_posts() ){
     while( have_posts() ) {
      the_post();
    printf("<section class='halfpic margin-top-header'>");
    printf("<div class='halfpic-bg demo-center' data-bg-array='%s'></div>",json_encode(get_field("header_bg"), JSON_UNESCAPED_SLASHES));
  .white-gradient-header
  .container
      .row-flex
          .col-half-flex.gray-bg-section
              .inner
                h2
                  :php
                    printf("%s",get_field("page_header"))
                p
                  :php
                    printf("%s",get_field("page_subhead"))
  :php
    echo "</section>";   
  section.demo-home.padding-top
    .container
      .demo-video-wrapper#demo-hover-box
        :php
          foreach (get_field("demo_video_buckets") as $key=>$bucket) {
            printf("<link rel='prefetch' url='%s'>",$bucket["image_animated"]);
          }
          foreach (get_field("demo_video_buckets") as $key=>$bucket) {
            printf("<a href='%s' class='demo-video-bucket'><div class='outer'></div><div class='inner'><div class='img-bucket'><img class='gif-thumb' src='%s'  data-gif='%s' /><div class='icon'><span class='fa fa-play-circle-o'></span></div></div><h3 class='text-center'>%s</h3><p>%s</p><p class='centered'><span class='button'>Watch Demo</span></p></div></a>", $bucket["cta_target"],$bucket["image_static"], $bucket["image_animated"],$bucket["subhead"], $bucket["copy"]);
          }
  :php
     }}
