extends inc/page.pug
block template
  :php
    /*
    Template Name: DS Summit TY
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  section.short-header#summit-header(data-bg="summit-header.jpg")
    .inner
      img(src=themeDir+"images/summit-center.png")
      h1 October 9-11, 2018 | San Francisco
  section.container
    .row
      .col-md-12
        :php
          if( have_posts() ){
           while( have_posts() ) {
            the_post();
          the_content();
          }}
