:php
    /*
    Template Name: DySi Open Demo Page
    */
doctype html 
html
  head
    meta(charset="UTF-8")
    link(rel='shortcut icon', href=themeDir + 'images/favicon.ico?v=2')
    meta(name='robots',content='noindex,nofollow')
    title DySi Open Demo
    :php
        $slink = get_template_directory_uri() . "/style.css?v=" . filemtime( get_stylesheet_directory() . '/style.css');
        echo "<link href='$slink' rel='stylesheet' />";
  body
    .dysi-demo
        img(src="https://dynamicsignal.com/wp-content/uploads/2018/08/dysi-open-dashboard.jpg",style={"width":"100%","max-width":"100%"},usemap="#dmap")
        map#dmap(name='dmap')
            area(alt='Dashboard', title='', href='https://www.dysiopen.com/manage/', shape='rect', coords='30,50,127,85',target="_blank")
            area(alt='Content', title='', href='https://www.dysiopen.com/manage/post/list', shape='rect', coords='139,51,222,82',target="_blank")
            area(alt='Members', title='', href='https://www.dysiopen.com/manage/member/list', shape='rect', coords='235,52,326,84',target="_blank")
            area(alt='Reports', title='', href='https://www.dysiopen.com/manage/report/analytics', shape='rect', coords='342,52,427,87',target="_blank")
            area(alt='Admin', title='', href='https://www.dysiopen.com/manage/manager/list', shape='rect', coords='439,55,515,86',target="_blank")
    script.
        window.addEventListener("load",function () {
            var ImageMap = function (map) {
                    var n,
                        areas = map.getElementsByTagName('area'),
                        len = areas.length,
                        coords = [],
                        previousWidth = 1469;
                    for (n = 0; n < len; n++) {
                        coords[n] = areas[n].coords.split(',');
                    }
                    this.resize = function () {
                        var n, m, clen,
                            x = document.body.clientWidth / previousWidth;
                        for (n = 0; n < len; n++) {
                            clen = coords[n].length;
                            for (m = 0; m < clen; m++) {
                                coords[n][m] *= x;
                            }
                            areas[n].coords = coords[n].join(',');
                        }
                        previousWidth = document.body.clientWidth;
                        return true;
                    };
                    window.onresize = this.resize;
                };
                imageMap = new ImageMap(document.getElementById('dmap'));
            imageMap.resize();
            console.log(imageMap);
        });