extends inc/page.pug
block template
  :php
    /*
    Template Name: DySi Open Landing Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    printf("<section class='halfpic' id='sticky-header'>");
    printf("<div class='halfpic-bg' data-bg-array='%s'></div>",json_encode(get_field("header_bg"), JSON_UNESCAPED_SLASHES));
  .white-gradient-header
  .container
      .row-flex
          .col-half-flex.gray-bg-section
              .inner
                h1 Experience DySi Open
  :php
    echo "</section>";   
  section.white-bg-section
    .container
      .row
        .col-md-9.dysi-open-content
          .dysi-video-thumb.video-activator(data-video-id="268403867",video-type="vimeo",data-bg="thumb-dysi-open-video.png")
            .content.left
              p.no-quote Dynamic Signal has created DySi Open as an interactive community for communicators, marketers and human resource professionals to access and share relevant thought leadership content that will help you advance your career. The content you want gets delivered directly to you, where and when you want it.
              a.button(href="#")
                span.cta Play Video
                i.fa.fa-play
        .col-md-3.dysi-open-right
          p The DySi Open app is available on 
            a(href="itms://itunes.apple.com/us/app/dysi-open/id1339399649?mt=8",target="_blank") Apple's App Store 
            |  and the 
            a(href="https://play.google.com/store/apps/details?id=com.dynamicsignal.appstore.dysi&hl=en",target="_blank") Google Play Store
            | . If you register (it’s free), you’ll be automatically subscribed to relevant information tailored to your role, industry, and location.
          p 
            strong Download DySi Open and join the community today!
          ul.app-buttons.hmenu.lp
            li.show-desktop
              a(href="https://dysiopen.com/",target="_blank")
                img(src=themeDir + "/images/btn-dysiopen-browser.png")
            li
              a(href="itms://itunes.apple.com/us/app/dysi-open/id1339399649?mt=8",target="_blank")
                img(src=themeDir + "/images/btn-itunes.png")
            li
              a(href="https://play.google.com/store/apps/details?id=com.dynamicsignal.appstore.dysi&hl=en",target="_blank")
                img(src=themeDir + "/images/btn-android.png")
            li.show-mobile
              a(href="https://dysiopen.com/",target="_blank")
                img(src=themeDir + "/images/btn-dysiopen-browser.png")
  section.bottom-cta
    .container
      .row
        .col-md-12
          p Learn why more than 30 percent of the Fortune 100 use Dynamic Signal
          a.button.cta.knockout(href="/requestdemo") Request Demo