extends inc/page.pug
block template
  :php
    /*
    Template Name: Features Page 2019
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
    :php
        printf("<section class='features-header' data-bg-array='%s'>", json_encode(get_field("hero_bg_image"), JSON_UNESCAPED_SLASHES));
    .container
        .row
            .col-md-5
                :php
                    printf("<h1 class='caps'>%s</h1>", get_field("hero_text"));
                    printf("<a href='#' data-video-modal-id='%s' class='button white'>%s<span class='fa fa-play-circle-o'></span></a>", get_field("hero_cta_video_id"), get_field("hero_cta_text"));
            .col-md-5.features-image-bucket
                :php
                    printf("<div class='pc-image' data-bg-array='%s'></div><div class='mobile-image' data-bg-array='%s'></div>", json_encode(get_field("hero_pc_image"), JSON_UNESCAPED_SLASHES), json_encode(get_field("hero_phone_image"), JSON_UNESCAPED_SLASHES));
    :php
       echo "</section>";       
    section.platform-bullets#feature-menu
        .container
            .row
                .col-md-9
                    ul.copy-points
                        :php
                            foreach(get_field("hero_bullets") as $key=>$bullet) {
                                printf("<li><a href='%s'><span class='icon'></span><span class='text'>%s</span></a></li>", "#section-".$key, $bullet["bullet_text"]);
                            }
    :php
        foreach(get_field("features_sections") as $idx=>$section) {
            $image_section = sprintf("<div class='features-image' data-bg-array='%s'></div>",json_encode($section["image"], JSON_UNESCAPED_SLASHES));
            $bullets = "";
            foreach($section["bullets"] as $i=>$bullet) {
                $bullets .= sprintf("<li class='feature-bullet'><input %s type='radio' name='%s' id='%s'/><label for='%s'>%s</label><div class='content'>%s</div></li>", $i == 0 ? "checked" : "","radios-".$idx, "radios-".$idx."-".$i,"radios-".$idx."-".$i, $bullet["headline"], $bullet["content"]);
            }
            $copy = sprintf("<h2>%s</h2><p>%s</p><ul class='feature-bullets'>%s</ul>", $section["headline"], $section["subhead"], $bullets);
            printf("<section id='section-%s' class='features-section'><div class='container'><div class='col-md-6'>%s</div><div class='col-md-6'>%s</div></div></section>", $idx, $section["section_layout"]=="left" ? $image_section : $copy, $section["section_layout"]=="left" ? $copy : $image_section);
        }
    section.bottom-cta
        .container
            .row
                .col-md-12
                    p Learn why more than 30 percent of the Fortune 100 use Dynamic Signal
                    a.button.cta(href="/requestdemo/") Request Demo        