.glossary
    p.glossary-menu
        - var n = 65;
        while n < 91
            a(href="#"+String.fromCharCode(n))!=String.fromCharCode(n)
            |   | 
            - n++ 
    - var n = 65;
    while n < 91
        .glossary-section(id=String.fromCharCode(n))
            h2=String.fromCharCode(n) 
            .ds-table
                .data-row
                    .data-cell.knockout.width-25
                        strong Header
                    .data-cell.width-75 Description
        - n++