extends inc/page.pug
block template
  :php
    /*
    Template Name: Header Picker Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Our Company",
      "link"=>"/company/"
    ));
  section.top-section-interior#this-header
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
          h1 A Header Of Moderate Length
          h2 Here is a Very Long Tag Line With Several Words In It of Various Meaningnesses
  section
    .container
      .row
        .col-md-12
          #background-picker
          p Bacon ipsum dolor amet brisket rump ham hock sausage jerky turkey tenderloin shankle cupim beef alcatra. Buffalo filet mignon meatloaf drumstick jowl picanha burgdoggen jerky short ribs. Chicken sausage shankle, biltong bresaola brisket pork bacon pork loin swine ham hock. Bresaola beef ribs tongue biltong.
          p Tenderloin shankle pancetta, porchetta chuck tail short ribs. Kevin prosciutto pastrami leberkas kielbasa pork chop. Kevin turkey ribeye, chicken fatback rump jowl boudin tongue pork loin pork belly. Strip steak venison swine beef sirloin fatback pork pork belly, boudin tail. Frankfurter alcatra picanha beef shankle, t-bone tri-tip porchetta shoulder.
          p Kielbasa strip steak pork belly doner hamburger jerky salami turkey rump sirloin turducken chicken. Ham hock landjaeger pastrami tri-tip chuck. Drumstick flank t-bone turkey corned beef frankfurter meatball. Beef hamburger ball tip pastrami swine alcatra rump, ham pork belly. Tenderloin shankle tail brisket. Landjaeger swine strip steak, burgdoggen shankle kevin shank fatback.
  section.bottom-cta.desktop-cta
    .container
      .row
        .col-md-12
          h2 Download and Try DySi Open
          p Get a hands on demonstration of our mobile app!
          ul.app-buttons.hmenu
            li
              a(href="itms://itunes.apple.com/us/app/dysi-open/id1339399649?mt=8",target="_blank")
                img(src=themeDir + "/images/btn-itunes.png")
            li
              a(href="https://play.google.com/store/apps/details?id=com.dynamicsignal.appstore.dysi&hl=en",target="_blank")
                img(src=themeDir + "/images/btn-android.png")
