extends inc/page.pug
block template
  :php
    /*
    Template Name: Home Page New 2019 Look
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    echo "<script>var pageData = {'logos':".json_encode(get_field( 'logos' ),JSON_UNESCAPED_SLASHES)
    ."};</script>";
    printf("<section class='homepage-halfpic' data-bg-array='%s'>", json_encode(get_field("header_bg"), JSON_UNESCAPED_SLASHES));
  .container
      .row
          .col-md-6
              h1
                :php
                  echo get_field("header_headline");
              p
                :php
                  echo get_field("header_copy");
              :php
                printf("<a class='button cta modal-show' data-video-modal-id='iYvNKx7mwZ0' data-event='homeCTAMain' href='#'><span class='fa fa-play-circle-o'></span>%s</a>", get_field("header_cta_text"));
  :php
    echo "</section>";
  section
    .container
      .row
        .col-md-12
          #logo-partners-grid
          p.home-secondary
            :php
              echo get_field("secondary_copy");
  section.no-padding
    .container
      .row
        .col-md-12
          .vertical-carousel
            :php
              $images = "";
              $panels = "";
              foreach (get_field("carousel_slides") as $key=>$slide) {
                $classname = $key == 0 ? "active" : "";
                $images .= sprintf("<div class='vertical-slide %s' data-bg-array='%s' data-index='%s'></div>", $classname,json_encode($slide["slide_image"],JSON_UNESCAPED_SLASHES),$key);
                $panels .= sprintf("<a class='carousel-panel %s' data-index='%s'><h2>%s</h2><h3>%s</h3><p>%s</p></a>",$classname,$key,$slide["title"],$slide["subhead"],$slide["copy"]);
              }
            .carousel-images
              .inner.position-1
                :php
                  echo $images;
            .carousel-panels
              :php
                echo $panels;
  section.demo-videos
    .container
      .demo-video-wrapper
        :php
          foreach (get_field("demo_video_buckets") as $key=>$bucket) {
            printf("<div class='demo-video-bucket'><a href='%s'><h2>%s</h2></a><div class='inner'><h3>%s</h3><p>%s</p><div class='button-wrapper'><a class='button' href='%s'>%s<span class='fa fa-play-circle-o'></span></a></div></div></div>", $bucket["title_link"], $bucket["title"], $bucket["subhead"], $bucket["copy"], $bucket["cta_target"],$bucket["cta_text"]);
          }
  :php
    printf("<section class='homepage-partners' data-bg-array='%s'><div class='container'><div class='row'><div class='col-md-12'><h2>%s</h2><p>%s</p></div></div></div></section>", json_encode(get_field("partner_section_bg"),JSON_UNESCAPED_SLASHES),get_field("partner_section_headline"),get_field("partner_section_copy"));
  section
    .container
      .row
        .col-md-6
          :php
            printf("<a class='homepage-panel-link centered' href='%s' data-bg-array='%s'><div class='inner'><h2>%s</h2><p>%s</p></div><div class='panel-cta'>%s</div></a>", get_field("assessment_link_target"),json_encode(get_field("assessment_link_bg"),JSON_UNESCAPED_SLASHES),get_field("assessment_link_headline"),get_field("assessment_link_copy"),get_field("assessment_link_cta_text"));
        .col-md-6
          :php
            printf("<a class='homepage-panel-link modal-show has-quote' href='#' data-bg-array='%s'  data-video-modal-id='pM70TROZQsI'><div class='inner'><p class='quote'>%s</p></div><div class='panel-cta'>%s<span class='fa fa-play-circle-o'></span></div></a>",json_encode(get_field("testimonial_section_image"),JSON_UNESCAPED_SLASHES),get_field("testimonial_section_quote"),get_field("testimonial_section_cta_text"));
block modals 
