extends inc/page.pug
block template
  :php
    /*
    Template Name: Home Page New 2019 Look
    */
block nav
  - var homepage = true;    
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $featured_ids = [];
    $args = array(
      'posts_per_page' => 1,
      'orderby'    => 'post_date',
      'order'      => 'DESC',
      'ignore_sticky_posts'=>1,
      'meta_query' => array(
        array(
          'key' => 'front_page_featured_entry',
          'value' => 'true'
        )
      )
    );
    $query = new WP_Query($args);
    if ($query->have_posts()) {
      $featured = $query->posts[0];
      array_push($featured_ids,$featured->ID);
    }
    $parent_category = "blog-categories";
    $category_entries = array(
      [
        "name"=>"Best Practices",
        "slug"=>"best-practices"
        ],
      [
        "name"=>"Customer Stories",
        "slug"=>"customer-stories"
        ],
      [
        "name"=>"DySi News & Culture",
        "slug"=>"news-and-culture"
        ]
    );
    $categories = ["best-practices","customer-stories","news"];
    
    $filtered_posts = [];
    foreach ($category_entries as $key=>$category) {
      $query = new WP_Query( array( 'post__not_in' => $featured_ids, 'category_name' => $parent_category.'+'.$category["slug"],'post__in'  => get_option( 'sticky_posts' ),'ignore_sticky_posts' => 0,'posts_per_page' => 1) );
      if ($query->have_posts()) {
        array_push($filtered_posts,array("category"=>$category,"post"=>$query->posts[0]));  
        array_push($featured_ids,$query->posts[0]->ID);
        }
      else {
        $query = new WP_Query( array( 'category_name' => $parent_category.'+'.$category["slug"],'posts_per_page' => 1) );
        array_push($filtered_posts,array("category"=>$category,"post"=>$query->posts[0])); 
        array_push($featured_ids,$query->posts[0]->ID);
        }  
    }
    echo "<script>var pageData = {'logos':".json_encode(get_field( 'logos' ),JSON_UNESCAPED_SLASHES)
    .", 'hero_words':".json_encode(get_field('header_animated_words'))."};</script>";
    printf("<section class='homepage fullpic no-padding'><div class='header-bg' data-bg-array='%s'></div><div class='header-mobile-bg' data-bg-array='%s'></div>",json_encode(get_field("header_hero_bg"), JSON_UNESCAPED_SLASHES),json_encode(get_field("header_hero_mobile_bg"), JSON_UNESCAPED_SLASHES));
    printf("<div class='inner container'>");
  .col-half.text
    h1
      :php
        echo get_field("header_headline");
    p
      :php
        echo get_field("header_copy");
    :php
      printf("<a class='button cta modal-show' data-video-modal-id='m3nT4qonFgI' data-event='vidClick-HomeCTA' href='#'>%s<span class='fa fa-play-circle-o'></span></a>", get_field("header_cta_text"));
  :php
    echo "</div></section>";
  section.white-bg-section.padding-top
    .container
      .row
        .col-md-12
          #logo-partners-grid
  section.white-bg-section.phone-section.padding-top
    .container
      .row
        .col-md-12
          .vertical-carousel
            :php
              $images = "";
              $panels = "";
              foreach (get_field("carousel_slides") as $key=>$slide) {
                $classname = $key == 0 ? "active" : "";
                $images .= sprintf("<div class='vertical-slide %s' data-bg-array='%s' data-index='%s'></div>", $classname,json_encode($slide["slide_image"],JSON_UNESCAPED_SLASHES),$key);
                $panels .= sprintf("<a class='carousel-panel %s' data-index='%s'><h3>%s</h3><p>%s</p></a>",$classname,$key,$slide["title"],$slide["copy"]);
              }
            .carousel-images
              .inner.position-1
                :php
                  echo $images;
            .carousel-panels
              :php
                echo $panels;
              p.source
                :php
                  echo get_field("carousel_source");
  section.demo-home.padding-top
    .container
      .demo-video-wrapper#demo-hover-box
        :php
          foreach (get_field("demo_video_buckets") as $key=>$bucket) {
            printf("<link rel='prefetch' url='%s'>",$bucket["image_animated"]);
          }
          foreach (get_field("demo_video_buckets") as $key=>$bucket) {
            printf("<a href='%s' class='demo-video-bucket'><div class='outer'></div><div class='inner'><div class='img-bucket'><img class='gif-thumb' src='%s'  data-gif='%s' /><div class='icon'><span class='fa fa-play-circle-o'></span></div></div><h3 class='text-center'>%s</h3><p>%s</p></div></a>", $bucket["cta_target"],$bucket["image_static"], $bucket["image_animated"],$bucket["subhead"], $bucket["copy"]);
          }
  section.home-featured-ebook
    .container
      .col-md-6
        :php
          $ebook = get_field("featured_ebook");
          printf("<div class='home-ebook-thumb' data-bg-array='%s'></div>", json_encode($ebook["image"], JSON_UNESCAPED_SLASHES));
      .col-md-6
        :php
          printf("<h3 class='text-white'>%s</h3><p class='text-white'>%s</p><a class='white button' href='%s'>%s</a>", $ebook["title"], $ebook["description"], $ebook["cta_link"], $ebook["cta_label"]);  
  section.home-featured-article
    .container
      .row  
        .col-md-12
          h3 Featured Blogs
      .row
        .col-md-12
          .even-height-wrapper
            :php
              foreach($filtered_posts as $key=>$post) {
              $p = $post["post"];
              $c = $post["category"];
              $thumb = get_the_post_thumbnail_url($p);
              printf("<div class='col-3'><article id='%s' role='article' itemprop='haspart' itemscope='' itemtype='http://schema.org/Article' class='blog-featured-bucket'><a class='story-tile-link' href='%s' itemprop='url'><div class='featured-thumb' data-bg='%s'></div><ul class='post-meta hmenu'><li><span class='fa fa-star'></span>%s</li></ul><h3 itemprop='title'>%s</h3></a></article></div>",get_the_ID(), $p->post_name, $thumb, $c["name"], $p->post_title);  
              }            