extends inc/page.pug
block template
  :php
    /*
    Template Name: Home Page New 2019 Look
    */
block nav
  - var homepage = true;    
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    echo "<script>var pageData = {'logos':".json_encode(get_field( 'logos' ),JSON_UNESCAPED_SLASHES)
    .", 'customer_stories':".json_encode(get_field('customer_stories')["story_tiles"])
    .", 'hero_words':".json_encode(get_field('header_animated_words'))."};</script>";
    printf("<section class='homepage fullpic no-padding'><div class='header-bg' data-bg-array='%s'></div><div class='header-mobile-bg' data-bg-array='%s'></div>",json_encode(get_field("header_hero_bg"), JSON_UNESCAPED_SLASHES),json_encode(get_field("header_hero_mobile_bg"), JSON_UNESCAPED_SLASHES));
    printf("<div class='inner container'>");
  .col-half.text
    h1
      :php
        echo get_field("header_headline");
    p
      :php
        echo get_field("header_copy");
    :php
      printf("<a class='button cta request-demo' href='#'>%s</a>", get_field("header_cta_text"));
  :php
    echo "</div></section>";
  section.white-bg-section.padding-top
    .container
      .row
        .col-md-12
          #logo-partners-grid
  section.white-bg-section.phone-section.padding-top
    .container
      .row
        .col-md-12
          .vertical-carousel
            :php
              $images = "";
              $panels = "";
              foreach (get_field("carousel_slides") as $key=>$slide) {
                $classname = $key == 0 ? "active" : "";
                $images .= sprintf("<div class='vertical-slide %s' data-bg-array='%s' data-index='%s'></div>", $classname,json_encode($slide["slide_image"],JSON_UNESCAPED_SLASHES),$key);
                $panels .= sprintf("<a class='carousel-panel %s' data-index='%s'><h3>%s</h3><p>%s</p></a>",$classname,$key,$slide["title"],$slide["copy"]);
              }
            .carousel-images
              .inner.position-1
                :php
                  echo $images;
            .carousel-panels
              :php
                echo $panels;
              p.source
                :php
                  echo get_field("carousel_source");
  section.demo-home.padding-top
    .container
      .demo-video-wrapper#demo-hover-box
        :php
          foreach (get_field("demo_video_buckets") as $key=>$bucket) {
            printf("<link rel='prefetch' url='%s'>",$bucket["image_animated"]);
          }
          foreach (get_field("demo_video_buckets") as $key=>$bucket) {
            printf("<a href='%s' class='demo-video-bucket'><div class='outer'></div><div class='inner'><div class='img-bucket'><img class='gif-thumb' src='%s'  data-gif='%s' /><div class='icon'><span class='fa fa-play-circle-o'></span></div></div><h3 class='text-center'>%s</h3><p>%s</p><p class='centered'><span class='button'>Watch Demo</span></p></div></a>", $bucket["cta_target"],$bucket["image_static"], $bucket["image_animated"],$bucket["subhead"], $bucket["copy"]);
          }
  section.home-featured-ebook
    .container
      .col-md-6
        :php
          $ebook = get_field("featured_ebook");
          printf("<div class='home-ebook-thumb' data-bg-array='%s'></div>", json_encode($ebook["image"], JSON_UNESCAPED_SLASHES));
      .col-md-6
        :php
          printf("<h3 class='text-white'>%s</h3><p class='text-white'>%s</p><a class='white button' href='%s'>%s</a>", $ebook["title"], $ebook["description"], $ebook["cta_link"], $ebook["cta_label"]);  
  section.customer-stories.padding-both
    .container
      .row
        .col-md-12
          #customer-stories-logos.logo-carousel
          #customer-stories-carousel 
  section.home-featured-article.blue
    .container
      .row  
        .col-md-12
          h3 Featured Blogs
      .row
        .col-md-12
          .even-height-wrapper
            :php
              foreach(get_field("featured_blogs") as $key=>$post) {
              $p = $post["post"];
              $c = $post["category"];
              $thumb = get_the_post_thumbnail_url($p);
              printf("<div class='col-3'><article id='%s' role='article' itemprop='haspart' itemscope='' itemtype='http://schema.org/Article' class='blog-featured-bucket'><a class='story-tile-link' href='%s' itemprop='url'><div class='featured-thumb' data-bg='%s'></div><ul class='post-meta hmenu'><li><span class='fa fa-star'></span>%s</li></ul><h3 itemprop='title'>%s</h3></a></article></div>",get_the_ID(), $p->post_name, $thumb, $c, $p->post_title);  
              }  