extends inc/page.pug
block template
  :php
    /*
    Template Name: Basic Index Template
    */
block nav
  include ./inc/header.pug
block content
  section.top-section-interior
    .container
      .row
        .col-md-12
          h1
            :php
              the_title();
  section.container#main-content
    :php
      if( have_posts() ): while( have_posts() ): the_post();
    article.blog-post
      .blog-post-body
        :php
          the_content();
    :php
      endwhile;
      endif;
