extends inc/page.pug
block template
  :php
    /*
    Template Name: Page
    */
block content
  section.hero
    .row
      .col-md-12
        h1
          :php
            the_title();
  section.container#main-content
    :php
      if( have_posts() ): while( have_posts() ): the_post();
    article.blog-post
      .blog-post-body
        :php
          the_content();
    :php
      endwhile;
      endif;
