extends inc/page.pug
block template
  :php
    /*
    Template Name: Legal Docs Privacy
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  section.hero-inner.text-only
      .container
          .inner    
              .text
                  h1.white
                    :php
                      the_title();
  section.container.padding-both
    .row
      :php
        if( have_posts() ){
         while( have_posts() ) {
         the_post();
         $links = get_field("links");
          $thisdate = get_field("document_revised_date");
          $year = intval(substr($thisdate,0,4));
          $month = intval(substr($thisdate,4,2));
          $day = intval(substr($thisdate,6,2));
      .col-md-3.legal-links
        include ./inc/legal-menu.pug
      .col-md-9.legal-box
        p.doc-date
            :php
              echo "Effective $month/$day/$year";
        :php
          the_content();
         }}