extends inc/page.pug
block template
  :php
    /*
    Template Name: Legal Docs Main Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Legal",
      "link"=>"/legal/"
    ));
    if( have_posts() ){
    while( have_posts() ) {
    the_post();

    if (get_field("document_revised_date") && get_field("document_revised_date")!="") {
      $thisdate = get_field("document_revised_date");
      $year = intval(substr($thisdate,0,4));
      $month = intval(substr($thisdate,4,2));
      $day = intval(substr($thisdate,6,2));
      $dateline = "Effective as of $month/$day/$year";
    }
    else {
      $dateline = "";
    }
  section.hero-inner.text-only
      .container
          .inner    
              .text
                  h1.white
                    :php
                      the_title();
  section#legal-docs.container.padding-both
    .row
      .col-md-3.legal-links
        include ./inc/legal-menu.pug
      .col-md-9.legal-box
        :php
          the_content();
          echo $dateline;
          }}

        
