extends inc/page.pug
block template
  :php
    /*
    Template Name: Landing Page wih Marketo Form
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  section.hero-inner
    .container
      .inner
        .text
            h1.white
                :php
                    printf("<h1 class='white'>%s</h1>", get_field("page_header"));
            p.white
                :php
                    printf("<p class='white'>%s</p>", get_field("page_subhead"));            
  section.hero-media
    .container.centered
        .inner-image.contain
            :php
                printf("<div class='blog-thumb' itemprop='image' data-bg-array='%s'></div>", json_encode(get_field("header_bg"), JSON_UNESCAPED_SLASHES));
  section.signup-form-bucket.white-bg-section.padding-both
    .container
      .row
        .col-md-6
            :php
                printf("<div class='blog-content'>%s</div>", get_field("page_content"));
        .col-md-6
          script(src='//app-ab04.marketo.com/js/forms2/js/forms2.min.js')
          #marketo-form-wrapper.blue-form
            :php
                printf("<form class='marketo-blue blue-form' id='mktoForm_%s'>", get_field("form_id"));
            script.
                var validateCorporateEmail = true;
            :php
                echo "</form>";
                printf("<script>var formRedirectUrl = '%s';</script>", get_field("form_override_url"));
          p.form-warning.warning
            span.asterisk *
            |  If a form doesn’t appear, please pause or disable your Ad Blocker in your browser and reload this page.
          p.warning
            span.asterisk *
            |  all fields are required.
      :php
        foreach(get_field("testimonials") as $row) {
          printf("<div class='row partners-testimonial-entry'>
                    <div class='col-md-12'>
                      <img class='testimonial-thumb' src='%s' alt='%s' />
                      <div class='testimonial-body'>
                        <p>%s</p>
                        <cite class='testimonial-speaker'>
                          <span class='name'>%s</span>
                          <span class='title'>%s</span>
                        </cite>
                      </div>
                    </div>
                  </div>", $row["photo"]["url"],$row["photo"]["alt"],$row["testimonial"],$row["name"],$row["title"]);
        }