extends inc/page.pug
block template
  :php
    /*
    Template Name: Blank Page
    */
block content
  section.container.content
    :php
      if( have_posts() ): while( have_posts() ): the_post();
    article.row
      .blog-post-body.col-md-12
        :php
          the_content();
    :php
      endwhile;
      endif;
