extends inc/page.pug
block template
	:php
		/*
		Template Name: Partners Page
		*/
block content
	:php
		if( have_posts() ) {
		while( have_posts() ) {
			the_post();
			echo "<script>var pageData = {'logos':".json_encode(get_field( 'logos' ),JSON_UNESCAPED_SLASHES)
			.", 'testimonials':".json_encode(get_field('agency_testimonials'),JSON_UNESCAPED_SLASHES)."};</script>";
	-
		var pageData = {
		"header":"Grow Your Agency",
		"subheader":"Employee Advocacy Increases Client Value and Drives Revenue"
		};
	include ./inc/hero.pug
	section.marquee-bucket
		#partners-logo-marquee.marquee

	section.partners-top.container
		p.subheader
			:php
				the_field('content_top');
	section.partners-testimonials.container
		#partners-testimonials
	section.uber-embed.container
		.row
			:php
				if ( have_rows( 'uber_embed' ) ) :
					$count = 0;
						while ( have_rows( 'uber_embed' ) ) : the_row();
							$tile = get_sub_field('embed');
							$first = ( $count === 0 ) ? 'first' : '';
							printf( '<div class="col-md-4 %s">%s</div>', $first, $tile );
							$count++;
						endwhile;
				endif;
	section.partners-ebook.container
		.row
			.col-md-12
				:php
					the_field( 'ebook' );
	:php
				}}
