extends inc/page.pug
block template
  :php
    /*
    Template Name: Partners Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
    :php
        printf("<section class='homepage fullpic bigtext no-padding company-hero partners-hero' id='sticky-header'><div class='header-bg' data-bg-array='%s'></div><div class='header-mobile-bg' data-bg-array='%s'></div>",json_encode(get_field("hero_bg_image"), JSON_UNESCAPED_SLASHES),json_encode(get_field("hero_mobile_bg"), JSON_UNESCAPED_SLASHES));
        printf("<div class='inner'>");
    .col-half.text
        h1
            :php
                echo get_field("hero_text");
    :php
        echo "</div></section>";
    section.dkblue-bg-section.partners-section.padding-both
        .container
            .row
                .col-md-12
                    :php
                        printf("<h2 class='centered'>%s</h2><p class='centered'>%s</p>",get_field("top_blurb_headline"), get_field("top_blurb_copy"));
    section.gray-bg-section.partners-fourth-section.partners-section.padding-both
        .container
            .row
                .col-md-12
                    :php
                        printf("<h2 class='centered'>%s</h2><div class='partners-diagram' data-bg-array='%s'></div><p class='centered'>%s</p>", get_field("fourth_section_headline"), json_encode(get_field("fourth_section_image"), JSON_UNESCAPED_SLASHES), get_field("fourth_section_copy"));
    section.white-bg-section.partners-third-section.partners-section.padding-both
        .container
            .row
                .col-md-6
                    :php
                        printf("<h2 class='blue'>%s</h2><p>%s</p>", get_field("third_section_headline"), get_field("third_section_copy"));
                    p
                        a.button(href="/partners/salesforce-partner/") Learn More
                .col-md-6  
                    :php
                        printf("<div class='partners-pc-image' data-bg-array='%s'></div>",json_encode(get_field("third_section_image"), JSON_UNESCAPED_SLASHES));
    :php
        printf("<section class='partners-orange partners-section' data-bg-array='%s'>",json_encode(get_field("orange_section_bg_image"), JSON_UNESCAPED_SLASHES));
    .container.padding-both
        .row
            .col-md-offset-6.col-md-6
                :php
                    printf("<h2>%s</h2><p>%s</p><a class='arrow-link white' href='%s'><span class='icon'></span>%s</a>", get_field("orange_section_headline"), get_field("orange_section_copy"),  get_field("orange_section_bottom_link_url"), get_field("orange_section_bottom_link_text"));
    
    :php
        echo "</section>";
    section.bottom-cta.padding-both
        p Learn why more than 30 percent of the Fortune 100 communicates with Dynamic Signal.
        a.button.cta(href="/requestdemo/") Request Demo