extends inc/page.pug
block template
  :php
    /*
    Template Name: Platform Page 2019
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
    :php
        printf("<section class='platform-header' data-bg-array='%s'>", json_encode(get_field("hero_bg_image"), JSON_UNESCAPED_SLASHES));
    .container
        .row
            .col-md-5
                :php
                    printf("<h1 class='white'>%s</h1>", get_field("hero_text"));
                    printf("<a href='#' data-video-modal-id='%s' class='button white'>%s<span class='fa fa-play-circle-o'></span></a>", get_field("cta_video_id"), get_field("cta_text"));
            .col-md-7.platform-image-bucket
                :php
                    printf("<div class='pc-image' data-bg-array='%s'></div><div class='mobile-image' id='platform-hero-phone' data-bg-array='%s'></div>", json_encode(get_field("hero_pc_image"), JSON_UNESCAPED_SLASHES), json_encode(get_field("hero_phone_image"), JSON_UNESCAPED_SLASHES));
    :php
       echo "</section>";       
    section.platform-bullets#anchor-menu(data-anchor-target="center")
        .container
            .row
                .col-md-9
                    ul.copy-points
                        :php
                            foreach(get_field("hero_bullets") as $key=>$bullet) {
                                printf("<li><a href='%s'><span class='icon'></span><span class='text'>%s</span></a></li>", "#platform-".$key, $bullet["bullet_text"]);
                            }
    :php
        foreach(get_field("sections") as $idx=>$this_section) {
            $img_bucket = sprintf("<div class='col-half image-col'><div class='platform-section-image' data-bg-array='%s'></div><div class='platform-section-image animated' data-bg-array='%s'></div></div>", json_encode($this_section["static_image"], JSON_UNESCAPED_SLASHES),json_encode($this_section["animated_image"], JSON_UNESCAPED_SLASHES));
            $text_bucket = sprintf("<div class='col-half text-col'><h2>%s</h2><p>%s</p></div>", $this_section["header"], $this_section["copy"]);
            $content = $this_section["orientation"]=="Image Left" ? $img_bucket.$text_bucket : $text_bucket.$img_bucket;
            $classname = $this_section["orientation"]=="Image Left" ? "bucket-left" : "bucket-right";
            printf("<section id='platform-%s' class='platform-section'><div class='container'><div class='bucket %s'>%s</div></div></section>", $idx, $classname, $content);
        }
    section.platform-panels.blue-bg-section.padding-both
        .container
            .row
                .col-md-12
                    h2
                        :php
                            printf("%s", get_field("panel_section_header"));
            .platform-panel-bucket
                :php
                    foreach (get_field("panels") as $idx=>$panel) {
                        printf("<div class='platform-panel'><div class='inner'><h3>%s</h3><div class='logos' data-bg-array='%s'></div></div></div>", $panel["title"],json_encode($panel["logos"], JSON_UNESCAPED_SLASHES));
                    }
    section.platform-security-section.padding-both
        .container
            .row
                .col-md-12.centered
                    :php
                        $ss = get_field("security_section");
                    h2.caps
                        :php
                            printf("%s", $ss["header"])
                    ul.platform-logos
                        li
                            img(src=themeDir + "images/product-logos-gdpr.jpg")
                        li
                            img(src=themeDir + "images/product-logos-privacy-shield.png") 
                        li
                            img(src=themeDir + "images/product-logos-soc.png")
                        li
                            img(src=themeDir + "images/product-logos-ssl.jpg")
                    p
                        :php
                            printf("%s", $ss["copy"])                    
    section.platform-benefits-section.padding-both(data-bg="bg-platform-benefits.jpg")
        .container
            .row
                .col-md-12
                    :php
                        $bb = get_field("benefits_section");
                    h2.centered.white
                        :php
                            echo $bb["section_header"];
                    p.centered.white
                        :php
                            echo $bb["section_subhead"];
                    ul.platform-benefits
                        :php
                            foreach($bb["tabs"] as $idx=>$tab) {
                                printf("<li><div class='icon' data-bg-array='%s'></div><div class='text'><h3 class='white'>%s</h3><p class='white'>%s</p></div></li>", json_encode($tab["tab_icon"], JSON_UNESCAPED_SLASHES), $tab["tab_content_header"], $tab["tab_content"]);
                            }
    section.platform-graph-section.padding-both
        .container
            .row
                .col-md-12
                    h2.centered
                        :php
                            printf("%s", get_field("graph_header_text"));
                    include ./inc/platform-graph-section
                    .platform-graph-footer
                        h3
                            :php
                                printf("%s", get_field("graph_lower_header"));                    
                        p.footnote
                            :php
                                printf("%s", get_field("graph_lower_copy"));                    
    section.bottom-cta.padding-both
        .container
            .row
                .col-md-12
                    p Learn why more than 30 percent of the Fortune 100 use Dynamic Signal
                    a.button.cta.knockout(href="/requestdemo") Request Demo