extends inc/page.pug
block template
  :php
    /*
    Template Name: Product Page
    */
block nav
  include ./inc/header.pug
block content
  -
    var pageData = {
    "header":"What is Dynamic Signal?",
    "subheader":"A Mobile-First Company Communications Platform",
    "slides" : [{
    "header":"News",
    "subheader":"Keep Employees Connected and Aligned",
    "text":"Dynamic Signal provides companies with a way to keep their employees more informed with relevant company and industry news, on the channels and devices they prefer. Ensure your workforce is engaged and aligned with the company, by delivering them targeted content anytime, anywhere, within an easy to use mobile app.",
    "image":"news.jpg",
    "mobileImage":"news-mobile.png",
    "className":"reg"
    },
    {
    "header":"Communications",
    "subheader":"Engage Employees with Real-Time Notifications",
    "text":"Deliver the right message to the right employees at exactly the right time, all while tracking delivery and readership. Our advanced broadcast functionality enables a company to stay in touch with hard to reach employees whether they are behind a desk, in a store, or on a factory floor. Keeps all of your employees engaged, even those without a company email address.",
    "image":"sharing-screen.jpg",
    "mobileImage":"communications-mobile.png",
    "className":"reg"
    },
    {
    "header":"Advocacy",
    "subheader":"Empower Advocacy & Drive Organic Reach",
    "text":"Give employees a safe and easy way to share approved company communications on social media. Perfect for both beginners and pros, Dynamic Signal is built to simplify the user experience, with features like suggested messaging, scheduling, and support for international social networks.",
    "image":"analytics.jpg",
    "mobileImage":"advocacy-mobile.png",
    "className":"reg"
    },
    {
    "header":"Analytics",
    "subheader":"Control the Message and Track it All",
    "text":"Dynamic Signal allows administrators to easily measure the effectiveness and impact of their company communications. With robust reporting and analytics, companies gain insight into employee adoption, viewer-ship, and engagement.",
    "image":"activities.jpg",
    "mobileImage":"laptop-mobile-size.jpg",
    "imageForMobile":"laptop.png",
    "className":"big"
    },
    {
    "header":"Engagement",
    "subheader":"Activate and Encourage Employees",
    "text":"With a direct, real-time connection, companies create more alignment with their employees, fostering a culture that inspires advocacy. Surveys, quizzes, and custom activities give companies the ability to elicit feedback and encourage ongoing engagement from their employees.",
    "image":"messaging.jpg",
    "mobileImage":"engagement-mobile.png",
    "className":"reg"
    }],
    "coverflow": {
    "header":"Connected with Your Current Stack",
    "text":"Dynamic Signal seamlessly integrates with your current enterprise, messaging, and social platforms. With support for Single-Sign-On, availability in more than 15 languages, and robust APIs you can ensure your employees will have a seamless user experience.",
    "image":"Dynamic-Signal-Integrations.png"
    },
    "videoInfo": {
      "id":"124627340",
      "type":"vimeo",
      "quote":"Mobile was particularly important for our in-store staff. It gives them the ability to access the program while in the store, and share information to their networks.",
      "cite":"Kristian Lorenzon - <span class='position'>Head of Social Media</span>, <span class='company'>O2</span>",
      "cta":"Play Video",
      "image":"product_video.png"
    },
    "ctaHeader":"Learn how world-class companies increase productivity and engagement with the only platform trusted by global leaders.",
    "ctaLabel":"Request Demo"
    };
    var backgrounds = [];
    for (i in pageData.slides) {
      backgrounds.push(pageData.slides[i].image);
    }
  section.container
    .row
      .col-md-12
        h1.header-top 
          span What Is Dynamic Signal?
  section.container
    .row 
      .col-md-6
        h2 Problem Header
        p Quantitative vs. qualitative moleskine driven engaging viral integrate pivot intuitive. Intuitive pivot intuitive hacker thinker-maker-doer affordances paradigm ship it bootstrapping innovate sticky note. Affordances engaging cortado convergence entrepreneur SpaceTeam unicorn grok. Latte thinker-maker-doer SpaceTeam minimum viable product pivot bootstrapping user centered design co-working sticky note human-centered design physical computing actionable insight.
      .col-md-6
        .featured-thumb(data-bg="http://via.placeholder.com/1600x900")
      .col-md-12
        p!="&nbsp;"
  section.container
    .row 
      .col-md-6
        .featured-thumb(data-bg="http://via.placeholder.com/1600x900")
      .col-md-6
        h2 Solution Header
        p Quantitative vs. qualitative moleskine driven engaging viral integrate pivot intuitive. Intuitive pivot intuitive hacker thinker-maker-doer affordances paradigm ship it bootstrapping innovate sticky note. Affordances engaging cortado convergence entrepreneur SpaceTeam unicorn grok. Latte thinker-maker-doer SpaceTeam minimum viable product pivot bootstrapping user centered design co-working sticky note human-centered design physical computing actionable insight.
  section.container
    .row
      .col-md-12
        h2 More:
        .row
          .col-md-3.col-xs-6
            a.company-tile(href="use-cases.html")
              .company-thumb(data-bg="http://via.placeholder.com/300x200")
              h2 Use Cases
          .col-md-3.col-xs-6
            a.company-tile(href="customers.html")
              .company-thumb(data-bg="http://via.placeholder.com/300x200")
              h2 Case Studies
          .col-md-3.col-xs-6
            a.company-tile(href="customers.html")
              .company-thumb(data-bg="http://via.placeholder.com/300x200")
              h2 Integrations
          .col-md-3.col-xs-6
            a.company-tile(href="customers.html")
              .company-thumb(data-bg="http://via.placeholder.com/300x200")
              h2 Testimonials
  section.logo-strip-bucket
    .container
      .row
        .col-md-12
          p Dynamic Signal is trusted by hundreds of the world's largest enterprises, more than any other provider.
          #logo-strip.logo-strip
