extends inc/page.pug
block template
  :php
    /*
    Template Name: Product Page
    */
block nav
  include ./inc/header.pug
block content
  :php
    global $wp_query;
     query_posts(array(
         'post_type' => 'customer',
         'nopaging' => true
     ));
     $customers = [];
     while(have_posts()) : the_post();
        $post->logo = get_field("logo");
        $post->citation_name = get_field("citation_name");
        $post->citation_title = get_field("citation_title");
        $post->vimeo_id = get_field("vimeo_id");
        $post->video_thumbnail = get_field("video_thumbnail");
        $post->quote = get_field("quote");
         array_push($customers,$post);
     endwhile;
     wp_reset_query();
    echo '<script>var customerData = '. json_encode($customers).';</script>';
    $parent_title = ""; 
    $parent_url = "";
    $override_title = "What is Dynamic Signal?";
  section.top-section#whatis-header(data-bg="whatis-bg-header.jpg")
    .inner
      img.center-image(src=themeDir+"images/whatis-marquee-center.png")
      h1
        :php
          the_field("header_text");
  section.container
    .row
      .col-md-12.icon-bar
        a.icon-tile(href="/benefits/")
          .icon-thumb(data-bg="icon-usecases.png")
          h2 Benefits
        a.icon-tile(href="/case-studies/")
          .icon-thumb(data-bg="icon-casestudies.png")
          h2 Case Studies
        a.icon-tile(href="/integrations/")
          .icon-thumb(data-bg="icon-integrations.png")
          h2 Integrations
  section.whatis-carousel-bucket
    .container#whatis-carousel
      .col-md-6
        #whatis-carousel-image(data-bg="whatis-phone-1.png")
      .col-md-6
        a.active.carousel-button(href="#",data-image="whatis-phone-1.png")
          h2 Connect
          p Reach employees immediately through mobile push notifications, alerts and video to get high-priority content directly in front of them
        a.carousel-button(href="#",data-image="whatis-phone-2.png")
          h2 Align
          p Unite a dispersed workforce with a shared mission and vision by ensuring strong, measurable communication with every employee
        a.carousel-button(href="#",data-image="whatis-phone-3.png")
          h2 Engage
          p Give employees a voice with the ability to take action, such as sharing approved content with their own social networks
  section.whatis-testimonial-bucket
    .container
      #whatis-testimonials
        .row
          .col-md-12
            #product-video-carousel
  section.whatis-bottom
    .container
      .row
        .col-md-12
          .whatis-bottom-pic(data-bg="imac-analyticsv2.png")
          h2 Enabling Communicators to Reach Today’s Modern Workforce
        .col-md-4
          h3 Platform Versatility
          p More personalized ways to connect with employees on their terms through broadcasts, posts, native video, document collaboration, sharing, alerts and push notifications, newsletters, and surveys
        .col-md-4
          h3 Designed to Scale
          p Most enterprise deployments with expertise in engagement programs, robust authentication, security, delegated administration, post approvals, customized branding, connectors, and API integrations with existing systems
        .col-md-4
          h3 Personalized Targeting
          p Synchronization with organizational System of Record with the ability to add segmentation for topics and work groups, enabling targeted content and measuring impact.
  section.bottom-cta
    p Learn how world-class companies increase productivity and engagement with the only platform trusted by global leaders.
    a.button.cta(href="https://dynamic-signal.local/requestdemo") Request Demo
      
