extends inc/page.pug
block template
  :php
    /*
    Template Name: Resources Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    if( have_posts() ){
     while( have_posts() ) {
      the_post();
  section.container.margin-top-header.padding-top-header.padding-bottom
    .row
      .col-md-12
        :php
          $types = array(
            "Video" => "camera",
            "eBook" => "book",
            "Presentation" => "slideshare",
            "Webinar" => "desktop",
            "Report" => "bar-chart-o",
            "Blog Post" => "camera"
          );
          printf("<a class='story-tile-link' href='%s'><div class='row'><div class='col-md-12'><div class='featured-thumb' data-bg-array='%s'><h1>%s</h1></div></div></div>", get_field("featured_resource_link"), json_encode(get_field("featured_resource_image"), JSON_UNESCAPED_SLASHES), get_field("featured_resource_title"));
          printf("<div class='row'><div class='col-md-12'><ul class='post-meta hmenu'><li><span class='fa fa-%s'></span>%s</li><li><span class='fa fa-caret-right'></span>%s</li></ul><p>%s...</div></div></a>", $types[get_field("featured_resource_type")], get_field("featured_resource_type"), get_field("featured_resource_category"), get_field("featured_resource_description"));

    :php
      $count=0;
      if ( have_rows( 'resource_tiles' ) ) :
          while ( have_rows( 'resource_tiles' ) ) : the_row();
            if ($count==0 || $count%3==0) { echo "<div class='even-height-wrapper'>"; }
            printf("<div class='col-3'><a class='category-link-title' href='%s'><h2>%s<span class='view-button'>View All<span class='divot'>»</span></span></h2><a class='story-tile-link' href='%s'><div class='featured-thumb' data-bg-array='%s'></div><ul class='post-meta hmenu'><li><span class='fa fa-%s'></span>%s</li></ul><h3>%s</h3></a></div>",get_sub_field("resource_link"),get_sub_field("resource_category"), get_sub_field("story_link"), json_encode(get_sub_field("story_image"), JSON_UNESCAPED_SLASHES),$types[get_sub_field("story_type")],get_sub_field("story_type"),get_sub_field("story_title"));
            if ($count%3==2) { echo "</div>"; }
            $count++;
          endwhile;
      endif;
  :php
    }}
