extends inc/page.pug
block template
  :php
    /*
    Template Name: Search Results
    */
block nav
  - showSearch = "hide";
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  script(type='application/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(type='application/javascript', src='https://www.openindex.io/js/openindex.a2x8qv1hpm9rtg3i.js')
  script(type='application/javascript').
    jQuery(window).ready(function() {
    openindex.pager.autoStyle = false;
    openindex.result.autoStyle = false;
    openindex.result.showAddr = "url";
    openindex.result.addrLink = true;
    openindex.result.snippetSource = "hybrid";
    openindex.result.showImage = false;
    openindex.result.deduplicate = true;
    openindex.result.fuzzynessThreshold = 0.7;
    openindex.result.boostPopularDocuments = true;
    openindex.date.pref = 21;
    });
  section.hero-inner.text-only
    .container
      .inner
        .text
          h1.white Search
  section.search-results.container.white-bg-section.padding-top
    .row
      .col-md-12
        h3 Enter Search Term:
        #search-box-sidenav
          form.search-form(action='')
            input.query#oi-query(type='text', placeholder="Enter Search Term")
            button.submit(type="submit")
              i.fa.fa-search
        #oi-spellcheck
        #oi-header
        #oi-results
        #oi-pager
        #oi-related-queries
