extends inc/page.pug
block template
  :php
    /*
    Template Name: SEO Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
    :php
        printf("<section class='seo-header' data-bg-array='%s'>", json_encode(get_field("header_image"), JSON_UNESCAPED_SLASHES));
    .container
        .row
            .col-md-6
                :php
                    printf("<h1 class='caps'>%s</h1><p>%s</p>", get_field("header_title"), get_field("header_copy"));
    :php
       echo "</section>";
    :php
        $sections = "";
        $nav = "";
        foreach(get_field("sections") as $idx=>$section) {
            $nav .= sprintf("<li><a href='%s'><span class='icon'></span><span class='text'>%s</span></a></li>", "#section-" . $idx, $section["section_menu_title"]);
            $sections .= sprintf("<section class='seo-section %s' id='%s'><div class='container'><div class='row'><div class='col-md-12'><h2>%s</h2><div class='seo-content'>%s</div></div></div></div></section>", $section["section_bg_color"], "section-".$idx, $section["section_header"], $section["section_copy"]);
        }
    section.platform-bullets.feature-menu#feature-menu
        .container
            .row
                .col-md-12
                    ul.copy-points
                        :php
                            echo $nav;
    :php
        echo $sections;