extends inc/page.pug
block template
  :php
    /*
    Template Name: Services Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"What is Dynamic Signal?",
      "link"=>"/product/"
    ));

    /* Start the loop */
    if( have_posts() ){
     while( have_posts() ) {
      the_post();

    /* Write integrations logos */
    echo "<script>var pageData = {'logos':".json_encode(get_field("integrations_logos"),JSON_UNESCAPED_SLASHES)
    ."};</script>";


  -
    var pageData = {
    "header":"Services" 
    };
  section.top-section-interior
    .container 
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug  
          h1!=pageData.header
  :php
    printf("<section id='case-study-video' data-bg-array='%s'>", json_encode(get_field("header_image"),JSON_UNESCAPED_SLASHES));
  .container
    .row
      .col-md-12
        :php
          printf("<div class='case-study-video-content'><p>%s</p><cite>%s,%s @ %s</cite><a class='button modal-show' href='#'><span class='cta'>%s</span><i class='fa fa-play'></i></a></div>",get_field("header_quote"),get_field("header_citation_name"),get_field("header_citation_job_title"),get_field("header_citation_company"),"Play Video");
  :php
    echo "</section>";
  section.service-experience.centered
    .container
      .row
        .col-md-12
          h2
            :php
              echo get_field("experience_section_title");
          h3
            :php
              echo get_field("experience_section_subhead");
          #services-mapbox(data-bg="services-map.jpg")
            .mapbox-number
              p#map-num(data-counter-min='0',data-counter-max='50+')
          p
            :php
              echo get_field("experience_section_blurb");
      .row.services-proof-points
        :php
          foreach(get_field("experience_proof_points") as $key=>$item) {
            printf("<div class='col-md-4'><div class='svc-experience-box'><div class='checkmark-bucket'>");
        include ./inc/checkmark.pug
        :php
            printf("</div><div class='pp-val' data-counter-min='0' data-counter-max='%s' id='pp-val-%s'></div><p>%s</p></div></div>", $item["proof_point_value"],$key,$item["proof_point_description"]);
          }
  section.services-integrations.centered
    .container
      .row
        .col-md-12
          h2
            :php
              echo get_field("integrations_section_header");
          #services-integrations-logos
  section.services-services
    .container
      .row
        .col-md-12.centered
          h2
            :php
              echo get_field("services_section_header");
          h3
            :php
              echo get_field("services_section_subhead");
          p
            :php
              echo get_field("services_section_blurb");
      .row
        .col-md-12#services-services-tabs
          :php
              $tabs = [];
              $slides = [];
              foreach(get_field("services_section_slides") as $key=>$slide) {
                $new_tab = array("icon"=>$slide["slide_icon"],"title"=>$slide["slide_nav_title"]);
                $new_slide = sprintf("<div class='services-slide ".($key == 0 ? "active" : "")."' id='services-slide-%s'><h2>%s</h2><div class='user-content'>%s</div></div>", $key,$slide["slide_header"],$slide["slide_content"]);
                array_push($tabs,$new_tab);
                array_push($slides,$new_slide);   
              }
          .services-tabs
            :php
              foreach($tabs as $idx=>$tab) {
            .tab
              :php
                printf("<a href='#' class='tab-button %s' id='tab-%s' data-tab-index='%s'>",($idx==0 ? "active" : ""),$idx,$idx);    
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 80 80', style='enable-background:new 0 0 80 80;', xml:space='preserve')
                circle.circle(cx='40', cy='40', r='37.5') 
                :php
                  echo preg_replace('/[ \t]+/', ' ', preg_replace('/\s*$^\s*/m', "\n", $tab["icon"]));
              p
                :php
                  echo $tab["title"]; 
              :php
                echo "</a>";
            :php
              }
          :php
            foreach($slides as $key=>$slide) {
              echo $slide;
            }
  section.services-cs
    .container
      .row
        .col-md-12.centered
          h2
            :php
              echo get_field("cs_section_header");
          h3
            :php
              echo get_field("cs_section_subhead");
          p
            :php
              echo get_field("cs_section_blurb");
      .row
        .col-md-12#services-cs-tabs
          :php
            $tabs = [];
            $slides = [];
            foreach(get_field("cs_section_slides") as $key=>$slide) {
              $new_tab = sprintf("<a class='tab %s' id='tab-%s' data-tab-index='%s'><span class='label'>%s</span><span class='thingy'></span></a>",($key == 0 ? "active" : ""),$key,$key,$slide["nav_title"]);
              $new_slide = sprintf("<div class='services-cs-slide %s' id='services-slide-%s'><h2>%s</h2><div class='user-content'>%s</div></div>", ($key == 0 ? "active" : ""),$key,$slide["slide_title"],$slide["slide_content"]);
              array_push($tabs,$new_tab);
              array_push($slides,$new_slide);   
            }
            foreach($tabs as $idx=>$tab) {
              echo $tab;
            }
          .the-thin-blue-line
          :php
            foreach($slides as $key=>$slide) {
              echo $slide;
            }   
  section.services-community
    :php
      printf("<div class='services-community-header' data-bg-array='%s'><h2>%s</h2></div>",json_encode(get_field("community_section_header_image"),JSON_UNESCAPED_SLASHES),get_field("community_header_text"));
    .container
      :php
        foreach(get_field("community_section_blurbs") as $key=>$blurb) {
          printf("<div class='row'><div class='col-md-6'><div class='services-community-image' data-bg-array='%s'></div></div><div class='col-md-6'><h2>%s</h2><p>%s</p></div></div>",json_encode($blurb["blurb_image"],JSON_UNESCAPED_SLASHES),$blurb["blurb_title"],$blurb["blurb_content"]);
        }

  :php
      $video_id = get_field("header_cta_video_id");
     }}
block modals
  .modal
    .modal-dialog
      button.modal-hide!="&times;"
      div.blog-content
        :php
          printf("<div class='video' data-id='%s' data-event='vidClick-Services'></div>",$video_id);    

        
