extends inc/page.pug
block template
  :php
    /*
    Template Name: Team Single Entry Page
    */
block nav
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Our Company",
      "link"=>"/company/"
    ));
    array_push($breadcrumbs,array(
      "title"=>"Team",
      "link"=>"/team/"
    ));
  :php
    if( have_posts() ){
     while( have_posts() ) {
      the_post();
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
  section.container.blog-content
    .row
      .col-md-12
        article.blog-post
          .blog-post-body
            :php
              the_content();
        :php
          }}
