extends inc/page.pug
block template
	:php
		/*
		Template Name: Solutions Single Entry Page Redesign
		*/
		$override_title = get_field("page_header");
block nav
	include ./inc/navbar-toggle.pug
	include ./inc/side-nav.pug
	include ./inc/header.pug
block content
	:php
		$breadcrumbs = [];
		array_push($breadcrumbs,array(
			"title"=>"What is Dynamic Signal?",
			"link"=>"/product/"
		));
		array_push($breadcrumbs,array(
			"title"=>"Solutions",
			"link"=>"/solutions/"
		));
	:php
		printf("<section class='homepage-halfpic' id='sticky-header'>");
		printf("<div class='halfpic-bg' data-bg-array='%s'></div>",json_encode(get_field("header_bg"), JSON_UNESCAPED_SLASHES));		
	.container
		.row
			.col-md-6
				h1
					:php
						echo get_field("page_header");
				p
					:php
						echo get_field("header_copy");
				:php
					printf("<a class='button cta' href='%s'><span class='fa fa-play-circle-o'></span>%s</a>", get_field("header_cta_target"), get_field("header_cta_text"));
	:php
		echo "</section>";
	section.home-section
		.container
			.row
				.col-md-12.blog-content
					h2
						:php
							the_field("top_section_header");
					p
						:php
							the_field("top_section_copy");
	section.home-section
		.container
			.row
				.col-md-12.blog-content
					#solutions-top-carousel
						:php
							$slides = get_field("top_carousel_slides");
							foreach($slides as $slide) {
								printf("<div class='container'><div class='row'><div class='col-md-6'><div class='solutions-slide-image' data-bg-array='%s'></div></div><div class='col-md-6'><h2>%s</h2><p>%s</p></div></div></div>",json_encode($slide["slide_image"],JSON_UNESCAPED_SLASHES),$slide["slide_header"],$slide["slide_copy"]);
							}
	section.bottom-cta.home-section
		.container
			.row
				.col-md-12
					h2
						:php
							echo get_field("middle_cta_headline");
					p
						:php
							the_field("middle_cta_header");
					:php
						printf("<a href='%s' class='button'>%s</a>",get_field("middle_cta_button_target"),get_field("middle_cta_button_text"));
	:php
		$tabs = get_field("tabs");
		$nav="";
		$panels="";
		foreach($tabs as $idx=>$tab) {
			$nav .= sprintf("<li class='%s'><a href='#' data-tab='%s'>%s</a></li>",$idx==0 ? "active" : "",strtolower($tab["tab_label"]),$tab["tab_label"]);
			$panels .= sprintf("<div id='%s' class='container tab-panel %s'><div class='row'><div class='row'><div class='col-md-6'><div class='tab-image solutions-slide-image' data-bg-array='%s'></div></div><div class='col-md-6'><h2>%s</h2><p>%s</p></div></div></div></div>", strtolower($tab["tab_label"]), $idx==0 ? "active" : "",json_encode($tab["tab_image"],JSON_UNESCAPED_SLASHES),$tab["tab_header"],$tab["tab_copy"]); 
		}
	section.tabs.home-section
		.container.blog-content
			.row
				.col-md-12
					ul.tab-nav#solutions-tab-nav
						:php
							echo $nav
			:php
				echo $panels;
	section.features-link.home-section
		.container
			.row
				.col-md-12
					a(href="/features/")
						.bg(data-bg="icon-star.png")
						:php
							echo get_field("features_link_text");
	section.home-section
		.container
			.row
				.col-md-12.centered
					h2
						:php
							the_field("bottom_carousel_header");
			.row
				.col-md-12.blog-content
					#solutions-bottom-carousel
						:php
							$slides = get_field("bottom_carousel_slides");
							foreach($slides as $slide) {
								printf("<div class='container'><div class='row'><div class='col-md-4'><div class='solutions-slide-image' data-bg-array='%s'></div></div><div class='col-md-8'><div class='slide-logo' data-bg-array='%s'></div><p>%s</p></div></div></div>",json_encode($slide["slide_image"],JSON_UNESCAPED_SLASHES),json_encode($slide["slide_logo"],JSON_UNESCAPED_SLASHES),$slide["slide_copy"]);
							}
	section.home-section
		.container
			.row
				.col-md-12.centered
					:php
						$logos = get_field("bottom_logos");
						foreach($logos as $logo) {
							printf("<div class='solutions-logo-bottom' data-bg-array='%s'></div>",json_encode($logo["logo_image"],JSON_UNESCAPED_SLASHES));
						}