extends inc/page.pug
block template
  :php
    /*
    Template Name: Solutions
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  section#sticky-header.hero-with-bg(data-bg="generic-hero-bg.jpg")
    .container
      .row
        .col-md-6
          h1.white Solutions
  section.white-bg-section.padding-both
    .container
      .row
        :php
          foreach(get_field("sections") as $idx=>$section) {
            printf("<div class='col-md-12'><h2>%s</h2></div>", $section["title"]);
            foreach($section["thumbs"] as $key=>$thumb) {
              printf("<div class='col-md-4 padding-bottom'><a class='story-tile-link' href='%s'><div class='featured-thumb' data-bg-array='%s'></div><h3>%s</h3></a></div>", $thumb["url"], json_encode($thumb["image"]), $thumb["title"]);
            }
          }
  section.bottom-cta
    .container
        .row
            .col-md-12
                p Learn why more than 30 percent of the Fortune 100 use Dynamic Signal.
                a.button.cta.knockout(href="/requestdemo") Request Demo
