extends inc/page.pug
block template
  :php
    /*
    Template Name: Solutions Single Entry Page Redesign
    */
    $override_title = get_field("page_header");
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"What is Dynamic Signal?",
      "link"=>"/product/"
    ));
    array_push($breadcrumbs,array(
      "title"=>"Solutions",
      "link"=>"/solutions/"
    ));
  :php
    printf("<section class='halfpic bigtext' id='sticky-header'>");
    printf("<div class='halfpic-bg' data-bg-array='%s'></div>",json_encode(get_field("header_bg"), JSON_UNESCAPED_SLASHES));    
  .white-gradient-header
  .container
    .row-flex
      .col-half-flex.gray-bg-section
        .inner.big-text
            p.solo
            :php
                the_field("top_section_header");
            :php
            //printf("<a class='button cta' href='%s'><span class='fa fa-play-circle-o'></span>%s</a>", get_field("header_cta_target"), get_field("header_cta_text"));
  :php
    echo "</section>";
  section.white-bg-section
    .container
      .row
        .col-md-12.blog-content
          h2.centered
            :php
              echo get_field("top_copy_header");
          p
            :php
              the_field("top_section_copy");
  section.white-bg-section
    .container
      .row
        .col-md-12.blog-content
          #solutions-top-carousel
            :php
              $slides = get_field("top_carousel_slides");
              foreach($slides as $slide) {
                printf("<div class='container'><div class='row'><div class='col-md-6'><div class='solutions-slide-image' data-bg-array='%s'></div></div><div class='col-md-6'><h2>%s</h2><p>%s</p><ul class='plus-list'><li>%s</li><li>%s</li></ul><p class='source'>*%s</p></div></div></div>",json_encode($slide["slide_image"],JSON_UNESCAPED_SLASHES),$slide["slide_header"],$slide["slide_copy"],$slide["proof_point_1"],$slide["proof_point_2"],$slide["proof_point_source"]);
              }
  section.bottom-cta
    .container
      .row
        .col-md-12
          h2
            :php
              echo get_field("middle_cta_headline");
          p
            :php
              the_field("middle_cta_header");
          :php
            printf("<a href='%s' class='button'>%s</a>",get_field("middle_cta_button_target"),get_field("middle_cta_button_text"));
  :php
    $tabs = get_field("tabs");
    $nav="";
    $panels="";
    if (count($tabs)>0) {
        foreach($tabs as $idx=>$tab) {
        $nav .= sprintf("<li class='%s'><a href='#' data-tab='%s'>%s</a></li>",$idx==0 ? "active" : "",strtolower($tab["tab_label"]),$tab["tab_label"]);
        $panels .= sprintf("<div id='%s' class='container tab-panel %s'><div class='row'><div class='row'><div class='col-md-6'><div class='tab-image solutions-slide-image' data-bg-array='%s'></div></div><div class='col-md-6'><h2>%s</h2><p>%s</p></div></div></div></div>", strtolower($tab["tab_label"]), $idx==0 ? "active" : "",json_encode($tab["tab_image"],JSON_UNESCAPED_SLASHES),$tab["tab_header"],$tab["tab_copy"]); 
        }
    }

  section.tabs.white-bg-section
    .container.blog-content
      .row
        .col-md-12
          ul.tab-nav#solutions-tab-nav
            :php
              echo $nav
      :php
        echo $panels;
  section.features-link.gray-bg-section
    .container
      .row
        .col-md-12
          a(href="/features/")
            .bg(data-bg="icon-star.png")
            :php
              echo get_field("features_link_text");
  section.white-bg-section
    .container
      .row
        .col-md-12.centered
          h2
            :php
              the_field("bottom_carousel_header");
      .row
        .col-md-12.blog-content
          #solutions-bottom-carousel
            :php
              $slides = get_field("bottom_carousel_slides");
              foreach($slides as $slide) {
                printf("<div class='container'><div class='row'><div class='col-md-4'><div class='solutions-slide-image' data-bg-array='%s'></div></div><div class='col-md-8'><div class='slide-logo' data-bg-array='%s'></div><p>%s</p></div></div></div>",json_encode($slide["slide_image"],JSON_UNESCAPED_SLASHES),json_encode($slide["slide_logo"],JSON_UNESCAPED_SLASHES),$slide["slide_copy"]);
              }
  section.white-bg-section
    .container
      .row
        .col-md-12.centered
          :php
            $logos = get_field("bottom_logos");
            foreach($logos as $logo) {
              printf("<div class='solutions-logo-bottom' data-bg-array='%s'></div>",json_encode($logo["logo_image"],JSON_UNESCAPED_SLASHES));
            }