extends inc/page.pug
block template
  :php
    /*
    Template Name: Solutions
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  section.hero-inner.text-only
    .container
      .inner
        .text
          :php
            printf("<h1 class='white'>%s</h1><p class='white'>%s</p>", get_field("header_title"), get_field("header_copy"));
  :php
    foreach(get_field("panel") as $idx=>$section) {
            $orientation = $section["orientation"];
            
            $img_bucket = sprintf("<div class='col-half image-col'><div class='features-image' data-bg-array='%s'></div></div>",json_encode($section["image"], JSON_UNESCAPED_SLASHES));
            
            $bullets = "";
            
            foreach($section["bullet_links"] as $i=>$bullet) {
                $bullets .= sprintf("<li><span class='icon'></span><span class='text'><a href='%s'>%s</a></span></li>", $bullet["bullet_link"], $bullet["bullet_text"]);
            }
            
            $text_bucket = sprintf("<div class='col-half text-col'><div class='inner'><h3>%s</h3><p>%s</p><ul class='blue-bullets'>%s</ul></div></div>", $section["header"], $section["copy"], $bullets);
            $content = $orientation == "left" ? $img_bucket.$text_bucket : $text_bucket.$img_bucket;
            printf("<section class='features-section solutions-variant white-bg-section padding-both'><div class='container'><div class='bucket %s'>%s</div></div></section>", "image-".$orientation, $content);

    }
  section.bottom-cta.padding-both.double
    .container
        .row
            .col-md-12
                p Learn why more than 30 percent of the Fortune 100 use Dynamic Signal.
                a.request-demo.button.cta.knockout(href="/requestdemo") Request Demo
