extends inc/page.pug
block template
	:php
		/*
		Template Name: Solutions Single Entry Page
		*/
		$override_title = get_field("page_title");
block nav
	include ./inc/navbar-toggle.pug
	include ./inc/side-nav.pug
	include ./inc/header.pug
block content
	:php
		$breadcrumbs = [];
		array_push($breadcrumbs,array(
			"title"=>"What is Dynamic Signal?",
			"link"=>"/product/"
		));
		array_push($breadcrumbs,array(
			"title"=>"Solutions",
			"link"=>"/solutions/"
		));
		$page_index = intval(get_post_field('sort_order'));
	-
		var pageData = {
		"header":"Benefits",
		"subheader":"For Every Department in the Enterprise"
		};
	section.top-section-interior.use-case
		.container 
			.row
				.col-md-12
					include ./inc/breadcrumbs.pug  
					h1
						:php
							the_field("page_title");
	:php
		echo '<script>var useCaseBackgrounds = '. json_encode(array(get_field("solution_1_image"),get_field("solution_2_image"),get_field("solution_3_image")),JSON_UNESCAPED_SLASHES).'; var useCaseQuotes = '. json_encode(get_field("proof_points")).';</script>';
		if( have_rows('logos') ) {
	section.three-pane.container
		.row
			.col-md-12
				:php
					if (get_field("problem_statement_header")!="") {
						echo "<h2>".get_field("problem_statement_header")."</h2>";
					}
					else {
						echo "<h2>The Problems We Solve</h2>";
					}
				p.use-case-problem
					:php
						the_field("problem_statement");
	section#parallax.use-cases-parallax
		.inner
			#bg-slides(data-backgrounds)
			:php
				for ($i=0;$i<3;$i++) {
					echo "<div class='content-slide row' id='slide-$i' data-bg='".get_field("solution_".($i+1)."_image")["sizes"]["medium_large"]."'>";
					echo "<div class='col-md-12 content no-padding'>";
					echo "<h2>".get_field("solution_".($i+1)."_header")."</h2>";
					echo "<div class='text-content'>".get_field("solution_".($i+1)."_content")."</div></div></div>";
				}
	section.features-link
		.container
			.row
				.col-md-12
					a(href="/features/")
						.bg(data-bg="icon-star.png")
						:php
							echo get_field("features_link_text");
	section.container.use-case-quotes
		:php
			echo "<h2>".get_field("quote_header")."</h2>";
		#use-case-quotes
	section.use-cases-logo-strip
		ul.gray-logos
			:php
				$logos = array();
				$count = 0;
				while( have_rows('logos') ): the_row();
					$logos[$count] = array("name"=>get_sub_field('company_name'),"image"=>get_sub_field('company_logo'));
					$count++;
				endwhile;
				foreach($logos as $idx=>$logo) {
						echo "<li><img class='use-case-statement-logo' src='".$logo["image"]["url"]."' alt='".$logo["name"]."' /></li>";
				}
	:php
		}
	section.bottom-cta
		.container
			.row
				.col-md-12
					p
						:php
							the_field("cta_header");
					a.cta.button(href="/requestdemo/") Request a Demo
