extends inc/page.pug
block template
  :php
    /*
    Template Name: DS Style Guide
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
    section#sticky-header.halfpic.top-section-product(style='position: relative; margin: auto; top: 50px; left: 0px; bottom: auto; right: auto; box-sizing: border-box; width: 100%;')
        .halfpic-bg(data-bg-array='{"ID":18496,"id":18496,"title":"product-page","filename":"product-page.jpg","filesize":1382297,"url":"https://dynamicsignal.com/wp-content/uploads/2019/02/product-page.jpg","link":"https://dynamicsignal.com/product/product-page/","alt":"","author":"97","description":"","caption":"","name":"product-page","status":"inherit","uploaded_to":12736,"date":"2019-02-07 21:09:07","modified":"2019-02-07 21:09:07","menu_order":0,"mime_type":"image/jpeg","type":"image","subtype":"jpeg","icon":"https://dynamicsignal.com/wp-includes/images/media/default.png","width":2800,"height":2000,"sizes":{"thumbnail":"https://dynamicsignal.com/wp-content/uploads/2019/02/product-page-150x150.jpg","thumbnail-width":150,"thumbnail-height":150,"medium":"https://dynamicsignal.com/wp-content/uploads/2019/02/product-page-300x214.jpg","medium-width":300,"medium-height":214,"medium_large":"https://dynamicsignal.com/wp-content/uploads/2019/02/product-page-768x549.jpg","medium_large-width":768,"medium_large-height":549,"large":"https://dynamicsignal.com/wp-content/uploads/2019/02/product-page-1024x731.jpg","large-width":1024,"large-height":731,"event-thumb":"https://dynamicsignal.com/wp-content/uploads/2019/02/product-page-198x198.jpg","event-thumb-width":198,"event-thumb-height":198,"vse-shuffle":"https://dynamicsignal.com/wp-content/uploads/2019/02/product-page-270x230.jpg","vse-shuffle-width":270,"vse-shuffle-height":230}}', style='background-image: url("https://dynamicsignal.com/wp-content/uploads/2019/02/product-page.jpg");')
        .white-gradient-header
        .container
            .row-flex
                .col-half-flex.gray-bg-section
                    .inner
                        h1 Hero Heading 1
                        H2 Hero Heading 2
                        p Hero text. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
                        a.button.cta.knockout.modal-show(href='#', data-video-modal-id='s2wzmwLSR-M')
                            | Hero CTA Button
                            span.fa.fa-play-circle-o
    section.white-bg-section
        .container
            .row
                .col-md-9.blog-content
                    h1 Blog Text Styles
                    hr
                    h1 Heading 1
                        strong  Bold
                        em  Italic
                    h2 Heading 2
                        strong  Bold
                        em  Italic                    
                    h3 Heading 3
                        em  Italic                    
                    h4 Heading 4
                        em  Italic                    
                    h5 Heading 5
                        em  Italic                    
                    h6 Heading 6
                        em  Italic
                    p
                        a(href="#") Link     
                    p Standard Text. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
                    blockquote
                        h2 Blockquote
                        p Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.     
                        cite Citation Name       
                    .speaker-profile
                        <h2>Callout Block (class="speaker-profile")</h2>
                        p Callout Block text Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
                    h2 Inline Images
                    img.alignright(src="https://via.placeholder.com/300x400.png?text=For+Placement+Only")
                    p Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
                    p Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
                    img.alignleft(src="https://via.placeholder.com/300x400.png?text=For+Placement+Only")
                    p Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
                    img.size-full(src="https://via.placeholder.com/1200x600.png?text=For+Placement+Only")
                .col-md-3.related-posts
                    h2.header-right Blog Header Right Column
                    h3
                        a(href='https://dynamicsignal.com/2018/01/17/how-communicators-can-get-the-technology-they-need/') Post Title
                    h3
                        a(href='https://dynamicsignal.com/2017/12/20/key-questions-to-ask-before-rolling-out-your-employee-communication-program/') Another post title
                    h3
                        a(href='https://dynamicsignal.com/2017/12/19/learned-london-thinktank/') A really really really really really really really really long post title
                    h2.header-right Tags
                    .blog-tags
                        p.blog-tags
                        a(href='https://dynamicsignal.com/tag/annual-study/', rel='tag') tag name
                        | , 
                        a(href='https://dynamicsignal.com/tag/company-communications/', rel='tag') tag name
                        | , 
                        a(href='https://dynamicsignal.com/tag/employee-communication-and-engagement/', rel='tag') tag name
                        | , 
                        a(href='https://dynamicsignal.com/tag/employee-communications/', rel='tag') tag name
                        | , 
                        a(href='https://dynamicsignal.com/tag/employee-engagement/', rel='tag') tag name
                        | , 
                        a(href='https://dynamicsignal.com/tag/u-s-workforce/', rel='tag') tag name
    section.blue-bg-section
        .container
            .row
                .col-md-12
                    h1 Knockout Section
                    p Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
    section.product-bucket.white-bg-section.centered
        .container
            .row
                .col-md-12
                    h2 Big Picture Section (Found on features page and product page)
                    .bg.short(data-bg='features-mainpic-segmentation.jpg', style='background-image: url("/wp-content/themes/ds-new/images/features-mainpic-segmentation.jpg");')  
                    p Big picture default text. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
    section.product-bucket.bg-blue.centered
        .container
            .row
                .col-md-12
                    h2 Big Picture Section Blue
                    .bg(data-bg='features-mainpic-video-blank.png', style='background-image: url("/wp-content/themes/ds-new/images/features-mainpic-video-blank.png");')
                    p Big picture default text. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
    section.product-bucket.bg-gray.centered
        .container
            .row
                .col-md-12
                    h2 Big Picture Section Gray
                    .bg(data-bg='features-mainpic-reporting.jpg', style='background-image: url("/wp-content/themes/ds-new/images/features-mainpic-reporting.jpg");')
                    p Big picture default text. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
    section.bottom-cta
        .container
            .row
                .col-md-12
                    p CTA Section. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger
                    a.button.cta.knockout(href="/requestdemo") CTA Button
    section.white-bg-section
        .container
            .row
                .col-md-8
                .col-md-4
                    h2 Right Column Item List
                    ul.side-list
                        li.dot
                            h2 Events
                            h3
                            a(href='https://dynamicsignal.com/event/prsa-connect-19-heat-up-your-employee-communications-phoenix/') Event
                            p
                                | Event Details
                                br
                                |  Event Time
                            a.small-link(href='https://apps.prsa.org/Conferences/Connect/') Small CTA
                            a.small-link(href='https://dynamicsignal.com/event/prsa-connect-19-heat-up-your-employee-communications-phoenix/') Small CTA
                            br
                            br
                            a.button(href='/events') View All
                        li.dot
                            h2 Blog
                            h3
                            a(href='/blog/capturing-employees-stories-at-sutter-health')
                                h3 Blog Title
                                p Blog Author
                            br
                            a.button(href='/blog') View All
                        li.dot
                            h2 News
                            h3
                            a(href='https://resources.dynamicsignal.com/press/dynamic-signal-raises-36-5-million-to-transform-employee-communication-and-engagement-in-the-enterprise')
                                | News Item
                            br
                            br
                            a.button(href='https://resources.dynamicsignal.com/news-room') View All
    section.page-content.white-bg-section
        .container
            .row
                .col-md-12
                    h2 Resources / Blog Thumbs
            .row.padding-bottom
                .col-md-12
                    a.story-tile-link(href='https://resources.dynamicsignal.com/ebooks-guides/state-of-employee-communication-and-engagement-study-2019')
                        .row
                            .col-md-12
                                .featured-thumb(data-bg-array='{"ID":19258,"id":19258,"title":"2019 State of Employee Communication and Engagement Study","filename":"ece-study-2019.jpg","filesize":140046,"url":"https://dynamicsignal.local/wp-content/uploads/2019/03/ece-study-2019.jpg","link":"https://dynamicsignal.local/resources/ece-study-2019/","alt":"2019 State of Employee Communication and Engagement Study","author":"11","description":"2019 State of Employee Communication and Engagement Study","caption":"2019 State of Employee Communication and Engagement Study","name":"ece-study-2019","status":"inherit","uploaded_to":14471,"date":"2019-03-20 14:07:44","modified":"2019-03-20 14:08:11","menu_order":0,"mime_type":"image/jpeg","type":"image","subtype":"jpeg","icon":"https://dynamicsignal.local/wp-includes/images/media/default.png","width":1663,"height":593,"sizes":{"thumbnail":"https://dynamicsignal.local/wp-content/uploads/2019/03/ece-study-2019-150x150.jpg","thumbnail-width":150,"thumbnail-height":150,"medium":"https://dynamicsignal.local/wp-content/uploads/2019/03/ece-study-2019-300x107.jpg","medium-width":300,"medium-height":107,"medium_large":"https://dynamicsignal.local/wp-content/uploads/2019/03/ece-study-2019-768x274.jpg","medium_large-width":768,"medium_large-height":274,"large":"https://dynamicsignal.local/wp-content/uploads/2019/03/ece-study-2019-1024x365.jpg","large-width":1024,"large-height":365,"event-thumb":"https://dynamicsignal.local/wp-content/uploads/2019/03/ece-study-2019-198x198.jpg","event-thumb-width":198,"event-thumb-height":198,"vse-shuffle":"https://dynamicsignal.local/wp-content/uploads/2019/03/ece-study-2019-270x230.jpg","vse-shuffle-width":270,"vse-shuffle-height":230}}', style='background-image: url("https://dynamicsignal.local/wp-content/uploads/2019/03/ece-study-2019.jpg");')
                                    h1 Wide Item Thumb
                        .row
                            .col-md-12
                                ul.post-meta.hmenu
                                    li
                                        span.fa.fa-book
                                        | eBook
                                    li
                                        span.fa.fa-caret-right
                                        | eBooks & Guides
                                    p
                                    | Large Item description text. Bacon ipsum dolor amet capicola cupim flank beef ribs brisket, chicken ribeye landjaeger spare ribs sausage filet mignon drumstick. Filet mignon sirloin shankle hamburger ground round rump boudin brisket corned beef ball tip landjaeger.
            .even-height-wrapper
                .col-3
                    a.category-link-title(href='https://resources.dynamicsignal.com/h/c/1455606-getting-started')
                        h2 Category Header
                            span.view-button View All
                                span.divot »
                    a.story-tile-link(href='https://resources.dynamicsignal.com/videos/how-abm-connects-with-a-distributed-workforce')
                        .featured-thumb(data-bg-array='{"ID":18096,"id":18096,"title":"How ABM Connects with a Distributed Workforce","filename":"ABM-still-frame.jpg","filesize":76893,"url":"https://dynamicsignal.local/wp-content/uploads/2019/01/ABM-still-frame.jpg","link":"https://dynamicsignal.local/resources/abm-still-frame/","alt":"How ABM Connects with a Distributed Workforce","author":"11","description":"How ABM Connects with a Distributed Workforce","caption":"How ABM Connects with a Distributed Workforce","name":"abm-still-frame","status":"inherit","uploaded_to":14471,"date":"2019-01-23 04:10:15","modified":"2019-01-23 04:10:26","menu_order":0,"mime_type":"image/jpeg","type":"image","subtype":"jpeg","icon":"https://dynamicsignal.local/wp-includes/images/media/default.png","width":1663,"height":593,"sizes":{"thumbnail":"https://dynamicsignal.local/wp-content/uploads/2019/01/ABM-still-frame-150x150.jpg","thumbnail-width":150,"thumbnail-height":150,"medium":"https://dynamicsignal.local/wp-content/uploads/2019/01/ABM-still-frame-300x107.jpg","medium-width":300,"medium-height":107,"medium_large":"https://dynamicsignal.local/wp-content/uploads/2019/01/ABM-still-frame-768x274.jpg","medium_large-width":768,"medium_large-height":274,"large":"https://dynamicsignal.local/wp-content/uploads/2019/01/ABM-still-frame-1024x365.jpg","large-width":1024,"large-height":365,"event-thumb":"https://dynamicsignal.local/wp-content/uploads/2019/01/ABM-still-frame-198x198.jpg","event-thumb-width":198,"event-thumb-height":198,"vse-shuffle":"https://dynamicsignal.local/wp-content/uploads/2019/01/ABM-still-frame-270x230.jpg","vse-shuffle-width":270,"vse-shuffle-height":230}}', style='background-image: url("https://dynamicsignal.local/wp-content/uploads/2019/01/ABM-still-frame.jpg");')
                        ul.post-meta.hmenu
                            li
                                span.fa.fa-camera
                                | Video
                        h3 Small Thumb Title
                .col-3
                    a.category-link-title(href='https://resources.dynamicsignal.com/h/c/1458510-driving-adoption')
                        h2 Category Header
                            span.view-button View All
                                span.divot »
                    a.story-tile-link(href='https://resources.dynamicsignal.com/driving-adoption/transforming-workforce-communication-at-penske')
                        .featured-thumb(data-bg-array='{"ID":17830,"id":17830,"title":"Penske-Webinar","filename":"Penske-Webinar.jpg","filesize":193217,"url":"https://dynamicsignal.local/wp-content/uploads/2018/12/Penske-Webinar.jpg","link":"https://dynamicsignal.local/resources/penske-webinar/","alt":"","author":"11","description":"","caption":"","name":"penske-webinar","status":"inherit","uploaded_to":14471,"date":"2018-12-13 20:12:20","modified":"2018-12-13 20:12:20","menu_order":0,"mime_type":"image/jpeg","type":"image","subtype":"jpeg","icon":"https://dynamicsignal.local/wp-includes/images/media/default.png","width":1663,"height":593,"sizes":{"thumbnail":"https://dynamicsignal.local/wp-content/uploads/2018/12/Penske-Webinar-150x150.jpg","thumbnail-width":150,"thumbnail-height":150,"medium":"https://dynamicsignal.local/wp-content/uploads/2018/12/Penske-Webinar-300x107.jpg","medium-width":300,"medium-height":107,"medium_large":"https://dynamicsignal.local/wp-content/uploads/2018/12/Penske-Webinar-768x274.jpg","medium_large-width":768,"medium_large-height":274,"large":"https://dynamicsignal.local/wp-content/uploads/2018/12/Penske-Webinar-1024x365.jpg","large-width":1024,"large-height":365,"event-thumb":"https://dynamicsignal.local/wp-content/uploads/2018/12/Penske-Webinar-198x198.jpg","event-thumb-width":198,"event-thumb-height":198,"vse-shuffle":"https://dynamicsignal.local/wp-content/uploads/2018/12/Penske-Webinar-270x230.jpg","vse-shuffle-width":270,"vse-shuffle-height":230}}', style='background-image: url("https://dynamicsignal.local/wp-content/uploads/2018/12/Penske-Webinar.jpg");')
                        ul.post-meta.hmenu
                            li
                                span.fa.fa-desktop
                                | Webinar
                        h3 Small Thumb Title
                .col-3
                    a.category-link-title(href='https://resources.dynamicsignal.com/expanding-reach')
                        h2 Category Header
                            span.view-button View All
                                span.divot »
                    a.story-tile-link(href='https://resources.dynamicsignal.com/expanding-reach/how-robert-half-succeeds-with-employee-advocacy')
                        .featured-thumb(data-bg-array='{"ID":18684,"id":18684,"title":"How Robert Half Succeeds with Employee Advocacy","filename":"Robert-Half-Video.jpg","filesize":91009,"url":"https://dynamicsignal.local/wp-content/uploads/2019/02/Robert-Half-Video.jpg","link":"https://dynamicsignal.local/resources/robert-half-video/","alt":"How Robert Half Succeeds with Employee Advocacy","author":"11","description":"How Robert Half Succeeds with Employee Advocacy","caption":"How Robert Half Succeeds with Employee Advocacy","name":"robert-half-video","status":"inherit","uploaded_to":14471,"date":"2019-02-14 15:53:44","modified":"2019-02-14 15:54:04","menu_order":0,"mime_type":"image/jpeg","type":"image","subtype":"jpeg","icon":"https://dynamicsignal.local/wp-includes/images/media/default.png","width":1663,"height":593,"sizes":{"thumbnail":"https://dynamicsignal.local/wp-content/uploads/2019/02/Robert-Half-Video-150x150.jpg","thumbnail-width":150,"thumbnail-height":150,"medium":"https://dynamicsignal.local/wp-content/uploads/2019/02/Robert-Half-Video-300x107.jpg","medium-width":300,"medium-height":107,"medium_large":"https://dynamicsignal.local/wp-content/uploads/2019/02/Robert-Half-Video-768x274.jpg","medium_large-width":768,"medium_large-height":274,"large":"https://dynamicsignal.local/wp-content/uploads/2019/02/Robert-Half-Video-1024x365.jpg","large-width":1024,"large-height":365,"event-thumb":"https://dynamicsignal.local/wp-content/uploads/2019/02/Robert-Half-Video-198x198.jpg","event-thumb-width":198,"event-thumb-height":198,"vse-shuffle":"https://dynamicsignal.local/wp-content/uploads/2019/02/Robert-Half-Video-270x230.jpg","vse-shuffle-width":270,"vse-shuffle-height":230}}', style='background-image: url("https://dynamicsignal.local/wp-content/uploads/2019/02/Robert-Half-Video.jpg");')
                        ul.post-meta.hmenu
                            li
                                span.fa.fa-camera
                                | Video
                        h3 Small Thumb Title