extends inc/page.pug
block template
  :php
    /*
    Template Name: Support Page
    */
block nav
  include ./inc/header.pug
block content
  -
    var pageData = {
    "header":"Support Center",
    "subheader":"We have a variety of support resources available for our customers. If you can’t find what you’re looking for, <a href='https://dynamicsignal.desk.com/customer/portal/emails/new'>please contact our Customer Success Team directly</a>."
    };
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
          h1!=pageData.header
          h2!=pageData.subheader
  section.support-body
    .container
      .even-height-wrapper
        .col-md-3
          .inner
            h3
              span.fa.fa-question(aria-hidden='true')
              | Help Desk
            p Our general knowledge base. Find common solutions for our products and services.
            a.button.lock-bottom(href='https://dynamicsignal.desk.com/') Visit Help Desk
        .col-md-3
          .inner
            h3
              span.fa.fa-file-code-o(aria-hidden='true')
              | API Docs
            p A developer oriented resource for using the Dynamic Signal Product API.
            a.button.lock-bottom(href='https://dev.voicestorm.com/') Visit API Docs
        .col-md-3
          .inner
            h3
              span.fa.fa-file-archive-o(aria-hidden='true')
              | Release Notes
              span.asterisk *
            p Keep track of new features and bug fixes.
            a.button.lock-bottom(href='https://academy.dynamicsignal.com/h/c/276132-release-notes') Visit Release Notes
        .col-md-3
          .inner
            h3
              span.fa.fa-file-archive-o(aria-hidden='true')
              | Essential Manager Training
              span.asterisk *
            p Training on the core features and functions of the Dynamic Signal Platform.
            a.button.lock-bottom(href='https://academy.dynamicsignal.com/h/i/406579077-essential-manager-training/275169') Watch Video
    .container
      .row
        .col-md-12
          p
            span.asterisk *
            | These resources are password protected
