extends inc/page.pug
block template
  :php
    /*
    Template Name: Team Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Our Company",
      "link"=>"/company/"
    ));
  -
    var pageData = {
    "header":"Meet Our Team"
    };
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
          h1!=pageData.header
  section.team-members.container
    :php
      if( have_rows('ds_team_section') ) {
        while ( have_rows('ds_team_section') ) {
            $res = the_row();
    .row.team-header
      .col-md-12
        h2
          :php
            $type = $res["ds_team_section_name"]=="Executives";
            echo $res["ds_team_section_name"];
    .row.team-list
      .col-md-12
        :php
            
              foreach($res["ds_team_member"] as $key=>$player) {
                $target = strpos($player["ds_team_member_linkedin_profile_url"],"http") ? "_blank" : "_self";
                echo "<a class='exec-thumb' href='".$player["ds_team_member_linkedin_profile_url"]."' target='$target'  data-bg='".$player["ds_team_member_image"]."'><h3>".$player["ds_team_member_first_name"]."</h3><h4>".($type?$player["ds_team_member_job_title"]:"<i class='fa fa-linkedin-square'></i>")."</h4></a>";
              } 
    :php
            }
          }
