extends inc/page.pug
block template
  :php
    /*
    Template Name: Team Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Company",
      "link"=>"/company/"
    ));
  :php
    printf("<section id='sticky-header' class='hero-with-bg' data-bg='generic-hero-bg.jpg'>");
  .container
    .row
      .col-md-6
        h1.white Meet Our Team
  :php
    echo "</section>";   
  section.team-members.white-bg-section
    .container
      :php
        $sections = get_field("section");
        foreach($sections as $section) {
      .row.team-header
        .col-md-12
          h2.text-center
            :php
              $type = trim($section["section_name"])=="Executives";
              echo $section["section_name"];
      .row.team-list
        .col-md-12
          :php
              
                foreach($section["people"] as $person) {
                  $target = strpos($person["linkedin_url"],"http")>-1 ? "_blank" : "_self";
                  $subhead = $type?$person["job_title"]:"<i class='fa fa-linkedin-square'></i>";
                  printf("<a class='exec-thumb' href='%s' target='%s' data-bg-array='%s'><h3 class='white'>%s</h3><h4>%s</h4></a>", $person["linkedin_url"], $target,json_encode($person["profile_picture"],JSON_UNESCAPED_SLASHES), $person["first_name"],$subhead);
                } 
      :php
              }
