extends inc/page.pug
block template
  :php
    /*
    Template Name: Terms of Use
    */
block nav
  include ./inc/header.pug
block content
  -
    var pageData = {
    "header":"Terms of Use and Privacy Policy"
    };
  section.top-section-interior
    .container
      .row
        .col-md-12
          h1!=pageData.header
  section.container
    .row
      .col-md-12
        .pdf-wrapper(data-pdf=themeDir+"/images/dynamic-signal-terms-of-use.pdf")
