extends inc/page.pug
block template
  :php
    /*
    Template Name: Use Case Single Entry Page
    */
block content
  section.hero#page-top
    .container
      .row
        h1 Name
        h2 Title
