extends inc/page.pug
block template
  :php
    /*
    Template Name: Use Cases
    */
block nav
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"What is Dynamic Signal?",
      "link"=>"/product/"
    ));
  -
    var pageData = {
    "header":"Benefits",
    "subheader":"For Every Department in the Enterprise"
    };
  section.top-section-interior
    .container 
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug  
          h1!=pageData.header
          h2!=pageData.subheader
  section
    .container
      .row
        .col-md-12
          :php
            if( have_posts() ){
             while( have_posts() ) {
              the_post();
              if (have_rows("heading")) {
                while ( have_rows( 'heading' ) ) : the_row();
                  printf("<h2>%s</h2><div class='row'>", get_sub_field("heading_title"));
                  while (have_rows("children")) : the_row();
                      printf("<div class='col-md-4 padding-bottom'><a class='story-tile-link' href='%s'><div class='featured-thumb' data-bg-array='%s'></div><h3>%s</h3></a></div>", get_sub_field("use_case_link"),json_encode(get_sub_field("use_case_thumb"), JSON_UNESCAPED_SLASHES),get_sub_field("use_case_title"));
                  endwhile;
                  echo "</div>";
                endwhile;
                }
              }
            }
