extends inc/page.pug
block template
  :php
    /*
    Template Name: Use Cases
    */
block content
  -
    var pageData = {
    "ctaHeader":"Learn how world-class companies increase productivity and engagement with the only platform trusted by global leaders",
    "ctaLabel":"Request a Demo"
    };
  script.
    var pageData = { "testimonials" : [{
    "quote":"<span class = 'text--teal text--bold'>74%</span> of employees feel that they're missing out on company information and news.",
    "source":"Source: Gallup"
    },{
      "quote":"Only <span class = 'text--teal text--bold'>13%</span> of employees reported participating in their intranet daily.",
      "source":"Source: Prescient Digital Media"
    },{
      "quote":"Employees spend an average of <span class = 'text--teal text--bold'>1.8 hours</span> every day searching for and gathering information.",
      "source":"Source: McKinsey"
    }]};
  include ./inc/use-cases-grid.pug
  section.testimonials-use-case.container.col-m-center
    #testimonial-strip.flickity-fader
  section.cta-bottom.col-center
    h2!=pageData.ctaHeader
    a.button-red.cta(href="/requestdemo/")!=pageData.ctaLabel
