extends inc/page.pug
block template
  :php
    /*
    Template Name: Use Case Single Entry Page
    */
    $override_title = get_field("page_title");
block nav
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"What is Dynamic Signal?",
      "link"=>"/product/"
    ));
    array_push($breadcrumbs,array(
      "title"=>"Benefits",
      "link"=>"/benefits/"
    ));
  -
    var pageData = {
    "header":"Benefits",
    "subheader":"For Every Department in the Enterprise"
    };
  section.top-section-interior
    .container 
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug  
          h1
            :php
              the_field("page_title");
          h2
            :php
              the_field("subheader");
  :php
    echo '<script>var useCaseBackgrounds = '. json_encode(array(get_field("solution_1_image"),get_field("solution_2_image"),get_field("solution_3_image")),JSON_UNESCAPED_SLASHES).'; var useCaseQuotes = '. json_encode(get_field("proof_points")).';</script>';
    if( have_rows('logos') ) {
  section.use-cases-logo-strip
    ul.gray-logos
      :php
        $logos = array();
        $count = 0;
        while( have_rows('logos') ): the_row();
          $logos[$count] = array("name"=>get_sub_field('company_name'),"image"=>get_sub_field('company_logo'));
          $count++;
        endwhile;
        foreach($logos as $idx=>$logo) {
            echo "<li><img class='use-case-statement-logo' src='".$logo["image"]["url"]."' alt='".$logo["name"]."' /></li>";
        }
  :php
    }
  section.three-pane.container
    .row
      .col-md-12
        :php
          if (get_field("problem_statement_header")!="") {
            echo "<h2>".get_field("problem_statement_header")."</h2>";
          }
          else {
            echo "<h2>The Problems We Solve</h2>";
          }
        h3
          :php
            the_field("problem_statement");
    .row
      .col-md-4
        .problem-arrow
        .problem-statement
          :php
            the_field("pain_point_1");
      .col-md-4
        .problem-arrow
        .problem-statement
          :php
            the_field("pain_point_2");
      .col-md-4
        .problem-arrow
        .problem-statement
          :php
            the_field("pain_point_3");
  section#parallax.use-cases-parallax
    .inner
      #bg-slides(data-backgrounds)
      :php
        for ($i=0;$i<3;$i++) {
          echo "<div class='content-slide row' id='slide-$i' data-bg='".get_field("solution_".($i+1)."_image")["sizes"]["medium_large"]."'>";
          echo "<div class='col-md-12 content no-padding'>";
          echo "<h2>".get_field("solution_".($i+1)."_header")."</h2>";
          echo "<div class='text-content'>".get_field("solution_".($i+1)."_content")."</div></div></div>";
        }
  section.container.use-case-quotes
    #use-case-quotes
  section.container.use-case-bottom
    .row
      .col-md-12
        h2 Benefits for Every Department of the Enterprise
        a.button.cta(href="/use-cases/") See All Use Cases
  section.bottom-cta
    .container
      .row
        .col-md-12
          h2
            :php
              the_field("cta_header");
          a.cta.button(href="/requestdemo/") Request a Demo
  :php

    $args = array(
      "post_type"=>"page",
      "posts_per_page"=>1,
      "meta_key"=>"sort_order",
      "orderby"=>"meta_value_num",
      "order"=>"DESC",
      "meta_query"=>array(
        "relation"=>"AND",
        "order_clause" => array(
                          "key"=>"sort_order",
                          "value"=>$page_index,
                          "compare"=>"<",
                          "type"=>"numeric"
                          ),
        "template_clause" => array(
                          "key" => "_wp_page_template",
                          "value" => "use-case-single.php"
                          )
        )
    );
    $previous_post = get_posts($args)[0];

    $args = array(
      "post_type"=>"page",
      "posts_per_page"=>1,
      "meta_key"=>"sort_order",
      "orderby"=>"meta_value_num",
      "order"=>"ASC",
      "meta_query"=>array(
        "relation"=>"AND",
        "order_clause" => array(
            "key"=>"sort_order",
            "value"=>$page_index,
            "compare"=>">",
            "type"=>"numeric"
            ),
        "template_clause" => array(
            "key" => "_wp_page_template",
            "value" => "use-case-single.php"
            )
        )
    );
    $next_post = get_posts($args)[0];

    $previous_post->thumb = get_the_post_thumbnail_url($previous_post->ID);
    $next_post->thumb =  get_the_post_thumbnail_url($next_post->ID);

    $previous_post->url = "/".$previous_post->post_name;
    $next_post->url = "/".$next_post->post_name;

    $previous_post->classname="prev";
    $next_post->classname="next";
    $previous_post->label = "Previous Use Case";
    $next_post->label = "Next Use Case";
    echo "<script>var seriesNav =  { 'nextPost':" . json_encode($next_post) . ", 'prevPost' : " . json_encode($previous_post) . " };</script>";
  #paging-thumbs
