article.featured-job
  .row
    .col-xs-12
        h2 Featured : 
          span!=locals.post_title
        a.button(href="/career/"+locals.post_name) Read more
        a.button(href=locals.jobvite_url,target='_blank') Apply  