a(href="/career/"+locals.post_name)
 - var categories = {"locations":[],"departments":[]}; //588 for location, 419 for category
  for category,key in locals.categories
    if category.cat_name!="Careers"
      if category.category_parent==588
        - categories.locations.push(category);
  if (locals.featured=="yes")
    h4
      span.fa.fa-star
      span!="&nbsp;FEATURED : " + locals.post_title + "&nbsp;"
      span.fa.fa-star
  else
    h4=locals.post_title   
    if (categories.locations.length)
        span.locations
          for location in categories.locations
            span!=location.name 