mixin selectMenu(data,className,label,current)
  select(class=className)
    option(value="")=label 
    for item in data 
      option(value=JSON.stringify(item),selected=item===current)=item.cat_name

.job-filter
  .row
    .col-md-12
      label Location:
        +selectMenu(locals.locations,"location-select","All Locations",locals.currentLoc)    
      label Department: 
        +selectMenu(locals.departments,"dept-select","All Departments",locals.currentDept)