.pie
  .pie_inner
    .pie_half
      .pie-circle.pie_circle-right
        .blocker.pie_blocker-1
    .pie_half.pie_half-left
      .pie-circle.pie_circle-left
        .blocker.pie_blocker-2
    .pie_inner-circle
