.col-md-3
  .connector-slide(data-bg=locals.logo.sizes.medium_large)
    a.fa-1x.fa-stack.btn-connector(href="#" data-target=locals.id)
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-stack-1x.fa-inverse.fa-info
  .info-block.mobile
    p!=locals.description
