.cta-bar
  .container
    .row
      .col-md-12
        p(style={"color":"white","font-size":"12px"})!=locals.cta
          a(href=locals.url,target="_blank", style={"color":"white","text-decoration":"underline","padding-left":"1em"})!=locals.buttonText
