.customer-block
  .customer-thumb(data-bg=locals.logo.sizes["medium"])
  ul.customer-utils
    if locals.quote!=""
      li
        a.has-tooltip(href="#",data-activate-customer-section="block-citation-"+locals.ID)
          span.fa-1x.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-stack-1x.fa-inverse.fa-quote-left
          span.tooltip.tooltip-with-border(role="tooltip") Read testimonial
    if locals.vimeo_id!=""
      li
        a.has-tooltip(href="#",data-activate-customer-section="block-video-"+locals.ID)
          span.fa-1x.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-stack-1x.fa-inverse.fa-play-circle
          span.tooltip.tooltip-with-border(role="tooltip") Watch video
