.content-modal#demo-request-modal
    .bg
    .modal-scroll
        .modal-inner
            a.btn-close(href="#")!="&times;"
            .modal-flex#request-demo-form
                .col-left
                    .inner
                        img.ds-logo-white(src="https://dynamicsignal.com/wp-content/themes/ds-new/images/logo-header-white.png")
                        p After filling out the form, you can expect a member of our team to reach out and schedule a personalized look at the Dynamic Signal platform.
                        p You will learn how Dynamic Signal can help you and your organization to:
                            ul.demo-list.fa-ul
                                li
                                    i.fa-li.fa.fa-check
                                    | Keep employees informed
                                li
                                    i.fa-li.fa.fa-check
                                    | Increase engagement
                                li
                                    i.fa-li.fa.fa-check
                                    | Retain your top talent
                                li
                                    i.fa-li.fa.fa-check
                                    | Boost productivity
                                li
                                    i.fa-li.fa.fa-check
                                    | Empower advocacy
                .col-right
                    .inner
                        p.show-mobile.visible-xs.visible-sm Fill out the form below to schedule a demo with a member of our sales team.
                        #marketo-form-wrapper.bw-form
                            form.marketo-blue.blue-form#mktoForm_1163
                                .loader.loading
                                    .spinner
                            script.
                                var validateCorporateEmail = true;
                        p.form-warning.warning
                            span.asterisk *
                            |  If a form doesn’t appear, please pause or disable your Ad Blocker in your browser and reload this page.
                        p.warning
                            span.asterisk *
                            |  all fields are required.
            .modal-flex#thank-you-message.thank-you.hide
                .ty-inner
                    h2.text-center Request Sent
                    p Thank you for your interest! A member of our sales team will be in touch with you shortly to schedule a personalized demonstration of the Dynamic Signal Platform.
                    p See Dynamic Signal in action now. Watch a two minute demo video below.
                    section.demo-home
                        .demo-video-wrapper
                            a.demo-video-bucket(href='http://amp.dynamicsignal.com/workforce-communication-multi-video.html')
                                .outer
                                .inner
                                    .img-bucket
                                        img.gif-thumb(src='https://dynamicsignal.com/wp-content/uploads/2019/10/demo-01-still.jpg')
                                        .icon
                                            span.fa.fa-play-circle-o
                                    h3.text-center Communications Demo
                                    p Develop a more informed, engaged, and agile workforce.
                            a.demo-video-bucket(href='http://amp.dynamicsignal.com/employee-experience-multi-video.html')
                                .outer
                                .inner
                                    .img-bucket
                                        img.gif-thumb(src='https://dynamicsignal.com/wp-content/uploads/2019/10/demo-02-still.jpg')
                                        .icon
                                            span.fa.fa-play-circle-o
                                    h3.text-center Human Resources Demo
                                    p Build an exceptional employee experience, improve retention, and grow your talent.
                            a.demo-video-bucket(href='http://amp.dynamicsignal.com/employee-advocacy-multi-video.html')
                                .outer
                                .inner
                                    .img-bucket
                                        img.gif-thumb(src='https://dynamicsignal.com/wp-content/uploads/2019/10/demo-03-still.jpg')
                                        .icon
                                            span.fa.fa-play-circle-o
                                    h3.text-center Marketing Demo
                                    p Grow your business and generate brand equity.
