#gdpr-warning
    .container
        .row
            .col-md-12
                h2 We use cookies to ensure that we give you the best experience on our website
                    span.footnote *  
                a#btn-yes.button(href="#") I Accept
                a.button-cta-bottom.knockout(href="/privacy/website-privacy-policy/#cookies") Learn More
                br
                h2(style="font-size:11px;")
                    span.footnote *   
                    | Note: We have recently updated our privacy policy (July 17, 2019).
