#gdpr-warning
    .container
        .row
            .col-md-12
                h2 We use cookies to ensure that we give you the best experience on our website. 
                    a(href="#") Click here 
                    | for more information.
                a#btn-yes.button-cta-bottom(href="#") Got It