article
  .row
    .col-xs-12
      h3
        for category,key in locals.categories
          if category.cat_name!="Careers"
            span=category.cat_name
    .col-xs-6
      h2=locals.post_title
    .col-xs-6.apply-button
      a.button(href=locals.jobvite_url,target='_blank') Apply
  .row
    .col-md-12.job-listing-bottom
      .job-description!=locals.post_content
      a.job-link(href="/career/"+locals.post_name) Read more
