article.container
  .row
    .col-md-6
      h3
        a(href="#") category
      h2=locals.post_title
    .col-md-6
      a(href="#") Apply Now
  .row
    .col-md-12
      .job-description Job Blurb
