.logo-flipper
    - var last = false
    for i,idx in locals
        if idx%2!=0
            .flipper-wrapper
                .logo-thumb(data-bg=i.logo, id="logo-"+idx)
                if last
                    .logo-thumb.flipped(data-bg=last.logo, id="logo-"+idx)
        else
            - last = i;
                