  .modal
    .modal-dialog
      button.modal-hide!="&times;"
      div.blog-content  
        .wrapper-video
            iframe(width='560', height='315', src='https://www.youtube.com/embed/'+locals.videoid+'?rel=0&autoplay='+(locals.pause ? '0' : '1'), frameborder='0', allow='encrypted-media', allowfullscreen='')
