.row.past-event-listing
  .col-md-12
    .inner
      p!=locals.start_month + " " + locals.start_day + ", " + locals.start_year
      h3
        a(href=locals.url)!=locals.title
      a(href=locals.url) View Event Recap
