.container
    .row
        .col-md-6
            .sdr-quote-thumb(data-bg-array=locals.quote_image)
        .col-md-6
            p!=locals.quote
            cite!=locals.speaker
                span.job-title!=locals.speaker_job_title