.summit-cta
    a#summit-cta-closer(href="#")!="&times;"
    #summit-cta-popup
        a.show-desktop(href="http://summit.dynamicsignal.com", target="_blank")
            img(src="/wp-content/themes/ds-new/images/bg-summit-popup.jpg")
    .container#summit-cta-short 
        .row
            .col-md-12
                p.show-desktop#summit-text SUMMIT by Dynamic Signal : 10.11.2018
                    a.button#summit-cta-opener(href="#") Details
                p.show-mobile#summit-text SUMMIT by Dynamic Signal : 10.11.2018
                    br
                    a.button(href="http://summit.dynamicsignal.com") Details
    