.video-modal
    .bg
        .container
            .row
                .col-md-12.no-padding
                    button.modal-hide!="&times;"
    .container.main-window
        .row
            col-md-12.blog-content  
                .wrapper-video.active
                    .modal-video(data-video-id=locals.videoid)
                .wrapper-html
                    .inner
                        .col-wide
                            h1 Thanks for Watching!
                            p Learn more about Dynamic Signal in our Demo Center
                            br
                            a.btn-replay(href="#") Replay This Video
                        .col-three
                            h2 For Communications 
                                br
                                | Professionals
                            a(href="http://amp.dynamicsignal.com/videogate_workforce_communication.html")
                                img.thumb(src="/wp-content/uploads/2019/03/workforce-comms-thumb.jpg")
                            a.button(href="http://amp.dynamicsignal.com/videogate_workforce_communication.html") Watch Demo
                        .col-three
                            h2 For Human Resources 
                                br
                                | Professionals
                            a(href="http://amp.dynamicsignal.com/videogate_employee_experience.html")
                                img.thumb(src="/wp-content/uploads/2019/03/human-resources-thumb-1.jpg")
                            a.button(href="http://amp.dynamicsignal.com/videogate_employee_experience.html") Watch Demo
                        .col-three
                            h2 For Marketing 
                                br
                                | Professionals
                            a(href="http://amp.dynamicsignal.com/videogate_employee_advocacy.html")
                                img.thumb(src="/wp-content/uploads/2019/03/marketing-thumb.jpg")
                            a.button(href="http://amp.dynamicsignal.com/videogate_employee_advocacy.html") Watch Demo
