.video-modal
    .bg
        .container
            .row
                .col-md-12.no-padding
                    button.modal-hide!="&times;"
    .container.main-window
        .row
            col-md-12.blog-content  
                .wrapper-video.active
                    .modal-video(data-video-id=locals.videoid)
                .wrapper-html
                    .inner
                        .col-wide
                            h1 Thanks for Watching!
                            p Learn more about Dynamic Signal in our Demo Center
                            br
                            a.btn-replay(href="#") Replay This Video
                        .col-three
                            h2 Communications 
                            a(href="http://amp.dynamicsignal.com/Video_Q2_2019-04-15_WorkForce-Comms-Demo_videogate_workforce-communications.html")
                                img.thumb(src="https://dynamicsignal.com/wp-content/uploads/2019/03/workforce-comms-thumb.jpg")
                            a.button(href="http://amp.dynamicsignal.com/Video_Q2_2019-04-15_WorkForce-Comms-Demo_videogate_workforce-communications.html") Watch Demo
                        .col-three
                            h2 Human Resources 
                            a(href="http://amp.dynamicsignal.com/Video_Q2_2019-04-15_Employee-Experience-Demo_LP_videogate_employee-experience.html")
                                img.thumb(src="https://dynamicsignal.com/wp-content/uploads/2019/03/human-resources-thumb-1.jpg")
                            a.button(href="http://amp.dynamicsignal.com/Video_Q2_2019-04-15_Employee-Experience-Demo_LP_videogate_employee-experience.html") Watch Demo
                        .col-three
                            h2 Marketing 
                            a(href="http://amp.dynamicsignal.com/Video_Q2_2019-04-15_Employee-Advocacy-Demo_LP_videogate_employee-advocacy.html")
                                img.thumb(src="https://dynamicsignal.com/wp-content/uploads/2019/03/marketing-thumb.jpg")
                            a.button(href="http://amp.dynamicsignal.com/Video_Q2_2019-04-15_Employee-Advocacy-Demo_LP_videogate_employee-advocacy.html") Watch Demo
