.inner
    .wrapper-video
        .player
    .buttons
        for item in locals
            if item.title!=""
                a.btn-launch(href="#",data-launch-id=item.id)
                    span.thumb(data-bg=item.thumb)
                    span.words
                        p!=item.title
                            span.fa.fa-play
                        p.description!=item.description
