:php
  $paged = ( get_query_var( 'paged' ) ) ? get_query_var( 'paged' ) : 1;
  $query = new WP_Query( array('post_type' => 'post','paged' => $paged,'posts_per_page' => 5) );
  $count=0;
  $posts = [];
  if( $query->have_posts() ) {
      while( $query->have_posts() ) {
          $query->the_post();
            array_push($posts,sprintf("<a href='%s'><article><h3>%s</h3>%s<p>%s</p><cite>By %s</cite></a>",get_the_permalink(),get_the_title(),get_the_post_thumbnail( 'full', array('class' => 'img-responsive') ),get_the_date(),get_author_name()));
          }
        };
