.breadcrumbs
	span
		a(href="/") Home
	:php
		if ($parent_url!="") {
	.separator »
	span
		:php
			echo "<a href='$parent_url'>$parent_title</a>";
	:php
		}
	.separator »
	span
		p
			:php
				if (isset($override_title)) {
					echo $override_title;
				}
				else {
					the_title();
				}
