svg.exclamation-point(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 52 52")
  circle.exclamation-circle(cx="26",cy="26",r="25",fill="none")
  text.exclamation-mark(transform='matrix(1 0 0 1 14 38)', font-family="'CourierNewPSMT'", font-size='42') !
