script(type='text/javascript', charset='utf-8').
  var _eiq = _eiq || [];
  var _engagio_settings = {
  accountId: "34d1a8c0ee994871cf03947f54af57c86ac6c6c4"
  };
  (function() {
  var ei = document.createElement('script'); ei.type = 'text/javascript'; ei.async = true;
  ei.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'web-analytics.engagio.com/js/ei.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ei, s);
  })();
script(src='//my.hellobar.com/44bad7c4d90ccf6c340d00a7380e386263948113.js', type='text/javascript', async='async')
script(src="http://ads.kwanzoo.com/embed-code/7088")
