header.page-header
  .row.inner
    .col-md-4.col-xs-9.logo-bucket
      a.logo(href=locals.siteurl+'/')
        img(src=themeDir+'/images/logo-header.png',alt='Dynamic Signal')
    .col-md-8.col-xs-3.right
      nav.small-nav.interior
        ul.hmenu
          li
            a(href="product") What is Dynamic Signal?
          li
            a(href="company") Our Company
          li
            a(href="resources") Resources
      button.navbar-toggle#toggle-side-nav(type='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
