nav.header-nav
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo-header(href='/')
        img(src=themeDir + 'images/dynamicsignal-logo.svg')
    .navbar-container
      ul.nav-items
        li
          a(href='/product/') Product
        li
          a(href='/use-cases/') Use Cases
        li
          a(href='/customers/') Customers
        li
          a(href='/resources/') Resources
        li
          a(href='/careers/') Careers
        li
          a(href='/blog/') Blog
        li.dropdown.collapsed
          a.dropdown-toggle(href='#', data-toggle='collapse', data-target='.redesign-dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | More
            span.caret
          ul.dropdown-menu
            li
              a(href='/contact-us/') Contact Us
            li
              a(href='/events/') Events
            li
              a(href='/team/') Meet the Team
            li
              a(href='/resources/#ufh-c-206867-news/') News
            li
              a(href='/resources/#ufh-c-208133-press/') Press Releases
            li
              a(href='/agency/') Partners
        li
          a.button-teal(href='/requestdemo/') Request Demo
