nav.header-nav
  .navbar-header
    button.navbar-toggle#toggle-main-drop(type='button')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.logo-header(href='/')
      img(src='https://dyrbj6mjld-flywheel.netdna-ssl.com/wp-content/themes/dynamicsignal/assets/custom-redesign/images/dynamicsignal-logo.svg')
  .navbar-container#mobile-drop
    ul.nav-items
      li
        a(href='/product/') Product
      li
        a(href='/use-cases/') Use Cases
      li
        a(href='/blog/') Blog
      li
        a(href='/events/') Events
      li.dropdown
        a.dropdown-toggle(href='#') Company
        div.dropdown-menu
          .inner
            ul.half
              li.nav-header Connect
              li
                a(href='/careers/') Careers
              li
                a(href='/contact-us/') Contact Us
              li
                a(href='/support/') Support

            ul.half
              li.nav-header Who We Are
              li
                a(href='/customers/') Customers
              li
                a(href='/team/') Team
              li
                a(href='/agency/') Partners
            .toplink
      li.dropdown
        a.dropdown-toggle(href='#') Resources
        div.dropdown-menu
          .inner
            ul.third
              li.nav-header News
              li
                a(href='https://dynamicsignal.uberflip.com/news') News
              li
                a(href='https://dynamicsignal.uberflip.com/press-releases') Press Releases
            ul.third
              li.nav-header Educational
              li
                a(href='https://dynamicsignal.uberflip.com/case-studies') Case Studies
              li
                a(href='https://dynamicsignal.uberflip.com/ebooks') eBooks & Guides
            ul.third
              li.nav-header Multimedia
              li
                a(href='https://dynamicsignal.uberflip.com/webinars') Webinars
              li
                a(href='https://dynamicsignal.uberflip.com/videos') Videos
            .toplink
      li
        a.button-teal.button-demo(href='/requestdemo/') Request Demo
