header.page-header#page-header
  #cta-bar
  nav.main
    a.logo-bucket(href="https://dynamicsignal.com/")
      img#logo(src="https://dyrbj6mjld-flywheel.netdna-ssl.com/wp-content/themes/ds-new/images/logo-header.png")
    ul.hmenu.top-nav
      li.has-drop
        a(href="https://dynamicsignal.com/product/") Platform
        ul.drop
          li
            a(href="https://dynamicsignal.com/features/") Features        
          li
            a(href="https://dynamicsignal.com/services/") Services   
          li
            a(href="https://dynamicsignal.com/integrations/") Integrations     
          li
            hr                    
          li
            a(href="https://dynamicsignal.com/demo-center/") Demo Center
      li.has-drop
        a(href="https://dynamicsignal.com/solutions/") Solutions
        ul.drop
          li
            a(href="https://dynamicsignal.com/workforce-communication/") Communication
          li
            a(href="https://dynamicsignal.com/employee-experience/") Human Resources
          li
            a(href="https://dynamicsignal.com/employee-advocacy/") Marketing
          li
            hr
          li
            a(href="https://resources.dynamicsignal.com/healthcare") Healthcare
          li
            a(href="https://resources.dynamicsignal.com/manufacturing") Manufacturing
          li
            a(href="https://resources.dynamicsignal.com/retail") Retail  
      li.has-drop
        a(href="https://dynamicsignal.com/solutions/") Customers
        ul.drop
          li
            a(href="https://resources.dynamicsignal.com/case-studies") Case Studies
          li
            a(href="https://resources.dynamicsignal.com/customer-testimonials") Testimonials
      li.has-drop
        a(href="https://dynamicsignal.com/company/") Company
        ul.drop
          li
            a(href="https://dynamicsignal.com/team/") Team
          li
            a(href="https://dynamicsignal.com/careers/") Careers
          li
            a(href="https://dynamicsignal.com/events/") Events
          li
            a(href="https://dynamicsignal.com/agency/") Partners
      li.has-drop
        a(href="https://dynamicsignal.com/resources/") Resources
        ul.drop
          li
            a(href="https://dynamicsignal.com/blog/") Blog
          li
            a(href="https://dynamicsignal.com/news-and-press") News & Press
          li
            a(href="https://dynamicsignal.com/webinars") Webinars
      li.show-medium
        a.cta(href="https://dynamicsignal.com/requestdemo/") Request a Demo
      li.show-mobile
        a#btn-search-header(href="#",title="search") 
          span.fa.fa-search
        #search-box-header
          a#btn-close-search(href="#")!="&times;"
          form.search-form(action='')
            input.query#oi-query(type='text', placeholder="Enter Search Term")
            button.submit(type="submit")
              i.fa.fa-search
            span#oi-spellcheck
            span#oi-header
      li.show-mobile
        a.hamburger#toggle-side-nav(href="#",title="menu")
          .line.top
          .line.middle
          .line.bottom