header.page-header.white#page-header
  nav.main
    a.logo-bucket(href="https://dynamicsignal.com/")
      include ./logo.pug
    ul.hmenu.top-nav
      li.has-drop
        a(href="https://dynamicsignal.com/product/") Platform
        ul.drop
          li
            a(href="https://dynamicsignal.com/features/") Features        
          li
            a(href="https://dynamicsignal.com/services/") Services    
          li
            hr                    
          li
            a(href="https://dynamicsignal.com/demo-center/") Demo Center
      li.has-drop
        a(href="https://dynamicsignal.com/solutions/") Solutions
        ul.drop
          li.has-flyout
            a(href="/solutions") By Role
            ul
              li
                a(href="/workforce-communication/") Communication
              li
                a(href="/employee-experience/") Human Resources
              li
                a(href="/employee-advocacy/") Marketing
              li
                a(href="/agency/") Agency            
          li.has-flyout
            a(href="/solutions") By Industry
            ul
              li
                a(href="https://resources.dynamicsignal.com/financial-services") Financial Services    
              li
                a(href="https://resources.dynamicsignal.com/healthcare") Healthcare
              li
                a(href="https://resources.dynamicsignal.com/insurance") Insurance              
              li
                a(href="https://resources.dynamicsignal.com/manufacturing") Manufacturing
              li
                a(href="https://resources.dynamicsignal.com/retail") Retail  
              li
                a(href="https://resources.dynamicsignal.com/technology") Technology
              li
                a(href="https://resources.dynamicsignal.com/transportation") Transportation  
      li.has-drop
        a(href="https://dynamicsignal.com/solutions/") Customers
        ul.drop
          li
            a(href="https://resources.dynamicsignal.com/case-studies") Case Studies
          li
            a(href="https://resources.dynamicsignal.com/customer-testimonials") Testimonials
      li.has-drop
        a(href="https://dynamicsignal.com/company/") Company
        ul.drop
          li
            a(href="https://dynamicsignal.com/team/") Team
          li
            a(href="https://dynamicsignal.com/careers/") Careers
          li
            a(href="https://dynamicsignal.com/job-listings/") Job Listings
          li.nav-events-link
            a(href="https://dynamicsignal.com/events/") Events
          li
            a(href="https://dynamicsignal.com/partners/") Partners
          li
            hr
          li
            a(href="https://dynamicsignal.com/contact-us") Contact Us
          li
            a(href="https://support.dynamicsignal.com/") Support
      li.has-drop
        a(href="https://dynamicsignal.com/resources/") Resources
        ul.drop
          li
            a(href="https://dynamicsignal.com/blog/") Blog
          li
            a(href="https://dynamicsignal.com/news-and-press") News & Press
          li
            a(href="https://dynamicsignal.com/webinars") Webinars
      li.show-medium
        a.request-demo.cta(href="https://dynamicsignal.com/requestdemo/") Request a Demo
      li.show-mobile.hide-large
        a.hamburger#toggle-side-nav(href="#",title="menu")
          .line.top
          .line.middle
          .line.bottom