header.page-header#page-header
  .row.inner
    .col-md-4.col-xs-9.logo-bucket
      a.logo(href=locals.siteurl+'/')
        img(src='https://dynamicsignal.com/wp-content/themes/ds-new/images/logo-header.png',alt='Dynamic Signal')
    .col-md-8.col-xs-3.right.nav-bucket
      nav.small-nav.interior
        ul.hmenu
          :php
            global $post;
            $post_slug=$post->post_name;
            $pages = array(
              "product"=>"What is Dynamic Signal",
              "company"=>"Our Company",
              "resources"=>"Resources",
              "dysi-open"=>"Try Now"
            );
            foreach($pages as $key=>$page) {
              $thisclass = ($key == $post_slug) ? $key." active" : $key;
              printf("<li><a href='/%s/' class='%s'>%s</a></li>",$key,$thisclass,$page);
            }
