ul.legal-menu
    li
        a(href="/legal/")
            h3 Legal Overview
    li
        h3 Privacy
        ul
            li
                a(href="/privacy/") Overview
            li
                a(href="/privacy/website-privacy-policy/") Website / Marketing Privacy Policy
            li
                a(href="/privacy/platform-privacy-policy/") Platform Privacy Policy
            li
                a(href="/privacy/dysi-open-privacy-policy/") DySi Open Privacy Policy
            li
                a(href="/gdpr/") GDPR Readiness
    li
        h3 Terms
        ul
            li
                a(href="/terms-of-use/") Overview
            li
                a(href="/terms-of-use/platform-terms-of-use/") Platform Terms of Use
            li
                a(href="/terms-of-use/dysi-open-terms-of-use/") DySi Open Terms of Use
            li
                a(href="/legal/saas/") SaaS Agreement
            li
                a(href="/legal/sla/") Service Level Agreement (SLA)
            li
                a(href="/terms-of-use/subprocessors/") Third Party Subprocessors
            li
                a(href="/terms-of-use/third-party-tos/") Third Party API Terms Of Service
            li
                a(href="https://dynamicsignal.com/wp-content/themes/ds-new/pdf/ds-form-dpa.pdf") Data Protection Agreement
    li
        h3 ADA
        ul
            li
                a(href="https://support.dynamicsignal.com/hc/en-us/articles/360021402632-Americans-with-Disabilities-Act-ADA-Compliance", target="_blank") ADA Compliance Statement
    li
        h3 DMCA
        ul
            li
                a(href="/legal/reporting-intellectual-property-violations/") Reporting Intellectual Property Violations