block template
- var themeDir = "/wp-content/themes/ds-new/"
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(property="og:locale",content="en_US")
    meta(property="og:site_name",content="Dynamic Signal")
    meta(name="twitter:site",content="@Dynamic_Signal")
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto")
    link(rel='shortcut icon', href=themeDir + 'images/favicon.ico?v=2')
    :php
      global $wp_query;
      $postid = $wp_query->post->ID;
      if ($override_title!="") {
        $title = $override_title;
      }
      else {
        $title = trim(WPSEO_Meta::get_value('title'))=="" ? get_the_title() :  WPSEO_Meta::get_value('title');
      }
      if (!strpos($title,"Dynamic Signal")) {
      $title .= " | Dynamic Signal";
      }
      if ($override_description!="") {
        $description = $override_description;
        }
      else {
        $description = WPSEO_Meta::get_value('metadesc');
        }
      if ($override_thumb!="") {
        $featured_image = $override_thumb;
        }
      else {
        $featured_image = WPSEO_Meta::get_value('featured_image');
        }
      wp_reset_query();
      $link = get_the_permalink();
      echo "<title>$title</title>";
      echo "<meta name='description' content='".$description."' />";
      echo "<meta property='og:title' content='$title' />";
      echo "<meta property='og:url' content='$link' />";
      echo "<meta property='og:description' content='$description' />";
      echo "<meta name='twitter:title' content='$title' />";
      echo "<meta name='twitter:description' content='$description' />";
      $slink = get_template_directory_uri() . "/style.css?v=" . filemtime( get_stylesheet_directory() . '/style.css');
      echo "<link href='$slink' rel='stylesheet' />";
    include ./gtm.pug
  body.loading  
    block nav
    #wrapper
      block content
      include ./footer.pug
      #cta-bar
    script(src=themeDir+"js/bundle.js")
