block template
- var themeDir = "/wp-content/themes/ds-new/"
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(property="og:locale",content="en_US")
    meta(property="og:site_name",content="Dynamic Signal")
    meta(property="og:type",content="website")
    meta(name="twitter:card",content="summary")
    meta(name="twitter:site",content="@Dynamic_Signal")
    link(rel='shortcut icon', href=themeDir + 'images/favicon.ico?v=2') 
    :php
      $args = array( 'post_type' => 'ctabar', 'posts_per_page' => 1 );
      $ctabar = get_posts( $args );
      printf('<script>var ctaData = {"active":%s,"text":%s,"cta_link":%s,"cta_label":%s};</script>',json_encode($ctabar[0]->show_cta_bar),json_encode($ctabar[0]->cta_bar_text),json_encode($ctabar[0]->cta_bar_link_url),json_encode($ctabar[0]->cta_bar_link_text));

      global $wp_query;
      $postid = $wp_query->post->ID;
      if ($override_title!="") {
        $title = $override_title;
      }
      else {
        $title = trim(WPSEO_Meta::get_value('title'))=="" ? get_the_title() :  WPSEO_Meta::get_value('title');
      }
      if (!strpos($title,"Dynamic Signal")) {
        $title .= " | Dynamic Signal";
      }
      if ($override_description!="") {
        $description = htmlentities($override_description, ENT_QUOTES);
        }
      else {
        $description = htmlentities(WPSEO_Meta::get_value('metadesc'), ENT_QUOTES);
        }
      if(get_field("social_share_image")!="") {
        $featured_image = get_field("social_share_image");
      }
      else if ($override_thumb!="") {
        $featured_image = $override_thumb;
        }
      else if(WPSEO_Meta::get_value('featured_image')!="") {
        $featured_image = WPSEO_Meta::get_value('featured_image');
        }
      else {
        $featured_image = "/wp-content/themes/ds-new/images/logo-social.jpg";
      }
      wp_reset_query();
      $link = get_the_permalink();
      echo "<title>$title</title>";
      echo "<meta name='description' content='".$description."' />";
      echo "<meta property='og:title' content='$title' />";
      echo "<meta property='og:url' content='$link' />";
      echo "<meta property='og:description' content='$description' />";
      echo "<meta property='og:image' content='$featured_image' />";
      echo "<meta name='twitter:title' content='$title' />";
      echo "<meta name='twitter:description' content='$description' />";
      echo "<meta name='twitter:image' content='$featured_image' />";
      $slink = get_template_directory_uri() . "/style.css?v=" . filemtime( get_stylesheet_directory() . '/style.css');
      echo "<link href='$slink' rel='stylesheet' />";
    script(type="application/ld+json")
      :php
          // JSON-LD for WordPress

          function get_post_data() {
              global $post;
              return $post;
          }

          $post_data = get_post_data();



          if (is_single()) {

            $author = get_userdata($post_data->post_author);
            $category = get_the_category();
          $jsonld[] = [
              "@context" => "http://schema.org/",
              "@type" => "Article",
              "url" => $link,
              "headline" => $title,
              "Publisher" => "Dynamic Signal",
              "ArticleSection" => $category[0]->cat_name,
              "image" => [
                "@type" => "ImageObject",
                "url" => $featured_image
              ],
              "author" => [
                "@type" => "Person", 
                "name" => $author->display_name
              ]
          ];

          }

          $jsonld[] = [
            "@context"=>"http://schema.org",
            "@type"=>"WebSite",
            "url"=>"https://dynamicsignal.com/",
            "potentialAction"=>[
              "@type" => "SearchAction",
              "query-input" => "required name=search_term",
              "url" => "http://dynamicsignal.com/search/",
              "target" => "http://dynamicsignal.com/search/#q={search_term}",
            ]
          ];


          if (is_front_page()) {

            $jsonld[] = [
              "@context"=>"http://schema.org/",
              "@type"=>"Organization",
              "name"=>"Dynamic Signal",
              "logo"=>[
                "@type" => "ImageObject",
                "url" => "https://dynamicsignal.com.com/wp-content/themes/ds-new/images/logo-header.png"
              ],
              "url"=>"https://dynamicsignal.com/",
              "sameAs"=>[
                "https://twitter.com/dynamic_signal",
                "https://www.facebook.com/dynamicsignal",
                "https://www.linkedin.com/company/dynamic-signal"
              ],
              "contactPoint"=>[
                "@type" => "ContactPoint",
                "telephone" => "+11 650 231 2550",
                "email" => "sales@dynamicsignal.com",
                "contactType" => "sales"
              ]
            ];
          }

          printf("%s",json_encode($jsonld, JSON_UNESCAPED_SLASHES));
  body
    #overlay
    #cta-bar
    block nav
    #wrapper
      block content
      include ./footer.pug
    block modals
    script(src=themeDir+"js/bundle.min.js")
