.top-nav.resources
  .page-width
    .page-aligner
      ul.left-nav.desktop
        li.menu-home.custom-menu-item.collapsed.has-children
          a(href='javascript:void(0)')
            | News
          .sub-menu-arrow
          ul
            li News
            li.custom-menu-item(data-collection-id='206867')
              a.hooked(href='https://resources.dynamicsignal.com/press-coverage', data-page-title='Press Coverage', data-internal='blogs')
                | Mentions
            li.custom-menu-item(data-collection-id='208133')
              a.hooked(href='https://resources.dynamicsignal.com/news-room', data-page-title='News Room', data-internal='blogs')
                | Press Releases
        li.menu-home.custom-menu-item.collapsed.has-children
          a(href='javascript:void(0)')
            | Educational
          .sub-menu-arrow
          ul
            li Educational
            li.custom-menu-item
              a(target='_top', href='http://www.dynamicsignal.com/blog/')
                | Blog
            li.custom-menu-item(data-collection-id='837672')
              a.hooked(href='https://resources.dynamicsignal.com/case-studies', data-page-title='Case Studies', data-internal='blogs')
                | Case Studies
            li.custom-menu-item(data-collection-id='185169')
              a.hooked(href='https://resources.dynamicsignal.com/customer-testimonials', data-page-title='Customer Testimonials', data-internal='custom')
                | Customer Testimonials
        li.menu-home.custom-menu-item.collapsed.has-children
          a(href='javascript:void(0)')
            | Media
          .sub-menu-arrow
          ul
            li Media
            li.custom-menu-item(data-collection-id='185166')
              a.hooked(href='https://resources.dynamicsignal.com/webinars', data-page-title='Webinars', data-internal='custom')
                | Webinars
            li.custom-menu-item(data-collection-id='185145')
              a.hooked(href='https://resources.dynamicsignal.com/presentations', data-page-title='Presentations', data-internal='docs')
                | Presentations