.top-nav.resources
  .page-width
    .page-aligner
      ul.left-nav.desktop
        :php
          foreach(get_field("resource_menu") as $key => $item) {
           
            if (!$item["nav_children"]) {
              printf("<li class='menu-home custom-menu-item collapsed'><a href='%s'>%s</a><div vlass='sub-menu-arrow'></div><ul>", $item["label_url"],$item["nav_label"]);
            }
            else {
               printf("<li class='menu-home custom-menu-item collapsed has-children'><a href='javascript:void(0)'>%s</a><div vlass='sub-menu-arrow'></div><ul>", $item["nav_label"]);
            foreach($item["nav_children"] as $k => $child) {
              printf("<li class='custom-menu-item collapsed has-children has-drop'><a href='%s'>%s</a></li>", $child["url"], $child["label"]);
            }
            printf("</ul></li>");
            }

          }