-
  var navItems = [{
      "title": "Request a Demo",
      "url": "/requestdemo/",
      "class":"demo"
    },
    {
      "title": "What is Dynamic Signal",
      "url": "/product/",
      "children": [
        {
          "title": "Benefits",
          "url": "/benefits/"
        },
        {
          "title": "Case Studies",
          "url": "https://resources.dynamicsignal.com/case-studies"
        },
        {
          "title": "Integrations",
          "url": "/integrations/"
        }
      ]
    },
    {
      "title": "Our Company",
      "url": "/company/",
      "children": [{
          "title": "Customers",
          "url": "/customers/"
        },
        {
          "title": "Team",
          "url": "/team/"
        },
        {
          "title": "Partners",
          "url": "/agency/"
        },
        {
          "title": "Careers",
          "url": "/careers/"
        },
        {
          "title": "Events",
          "url": "/events/"
        },
        {
          "title": "Blog",
          "url": "/blog/"
        },
        {
          "title": "Press",
          "url": "https://resources.dynamicsignal.com/h/c/208133-press"
        }
      ]
    },
    {
      "title": "Resources",
      "url": "/resources/",
      "children": [{
          "title": "Getting Started",
          "url": "https://resources.dynamicsignal.com/getting-started"
        },{
            "title": "Driving Adoption",
            "url": "https://resources.dynamicsignal.com/driving-adoption"
          },{
              "title": "Expanding Reach",
              "url": "https://resources.dynamicsignal.com/expanding-reach"
            },{
                "title": "Metrics",
                "url": "https://resources.dynamicsignal.com/metrics"
              },
        {
          "title": "Videos",
          "url": "https://resources.dynamicsignal.com/videos"
        },
        {
          "title": "eBooks & Guides",
          "url": "https://resources.dynamicsignal.com/ebooks-guides"
        }
      ]
    },
    {
      "title": "Contact",
      "url": "/contact/"
    },
    {
      "title": "Support",
      "url": "/support/"
    }
  ];
  
aside.sideMenu.right#side-nav
  .inner
    ul
      for item in navItems
        - 
          var classname = item.class ? item.class : "";
          if (locals.siteurl && item.url.indexOf("http")<0) {
            url = locals.siteurl + item.url;
            }
          else {
            url = item.url;
            }
        li
          a(href=locals.siteurl + item.url,class=classname)!=item.title
          if item.children
            ul
              for child in item.children
                li
                  - 
                    if (locals.siteurl && child.url.indexOf("http")<0) {
                      childurl = locals.siteurl + child.url;
                      }
                    else {
                      childurl = child.url;
                      }
                  a(href=childurl)!=child.title
