-
  var navItems = [{
      "title": "Request a Demo",
      "url": "/requestdemo",
      "class":"demo"
    },
    {
      "title": "What is Dynamic Signal?",
      "url": "product",
      "children": [
        {
          "title": "Benefits",
          "url": "/use-cases"
        },
        {
          "title": "Case Studies",
          "url": "/case-studies"
        },
        {
          "title": "Integrations",
          "url": "/connectors"
        }
      ]
    },
    {
      "title": "Our Company",
      "url": "/company",
      "children": [{
          "title": "Customers",
          "url": "/customers"
        },
        {
          "title": "Team",
          "url": "/team"
        },
        {
          "title": "Partners",
          "url": "/agency"
        },
        {
          "title": "Careers",
          "url": "/careers"
        },
        {
          "title": "Events",
          "url": "/events"
        },
        {
          "title": "Blog",
          "url": "/blog"
        },
        {
          "title": "Press",
          "url": "/news"
        }
      ]
    },
    {
      "title": "Resources",
      "url": "/resources",
      "children": [{
          "title": "Getting Started",
          "url": "resources-category.html"
        },{
            "title": "Driving Adoption",
            "url": "resources-category.html"
          },{
              "title": "Expanding Reach",
              "url": "resources-category.html"
            },{
                "title": "Metrics",
                "url": "resources-category.html"
              },
        {
          "title": "Videos",
          "url": "resources-type.html"
        },
        {
          "title": "eBooks & Guides",
          "url": "resources-type.html"
        }
      ]
    },
    {
      "title": "Contact",
      "url": "/contact/"
    },
    {
      "title": "Support",
      "url": "/support/"
    }
  ];
  
aside.sideMenu.right#side-nav
  .inner
    ul
      for item in navItems
        - var classname = item.class ? item.class : "";
        li
          a(href=item.url,class=classname)!=item.title
          if item.children
            ul
              for child in item.children
                li
                  a(href=child.url)!=child.title
