-
  var navItems = [{
      "title": "Request a Demo",
      "url": "/requestdemo/",
      "class":"demo"
    },
    {
      "title": "What is Dynamic Signal?",
      "url": "/product/",
      "children": [
        {
          "title": "Benefits",
          "url": "/benefits/"
        },
        {
          "title": "Case Studies",
          "url": "/case-studies/"
        },
        {
          "title": "Integrations",
          "url": "/integrations/"
        }
      ]
    },
    {
      "title": "Our Company",
      "url": "/company/",
      "children": [{
          "title": "Customers",
          "url": "/customers/"
        },
        {
          "title": "Team",
          "url": "/team/"
        },
        {
          "title": "Partners",
          "url": "/agency/"
        },
        {
          "title": "Careers",
          "url": "/careers/"
        },
        {
          "title": "Events",
          "url": "/events/"
        },
        {
          "title": "Blog",
          "url": "/blog/"
        },
        {
          "title": "Press",
          "url": "https://resources.dynamicsignal.com/h/c/208133-press"
        }
      ]
    },
    {
      "title": "Resources",
      "url": "/resources/",
      "children": [{
          "title": "Getting Started",
          "url": "https://resources.dynamicsignal.com/h/c/1455606-getting-started"
        },{
            "title": "Driving Adoption",
            "url": "https://resources.dynamicsignal.com/h/c/1458510-driving-adoption"
          },{
              "title": "Expanding Reach",
              "url": "https://resources.dynamicsignal.com/h/c/1458552-expanding-reach"
            },{
                "title": "Metrics",
                "url": "https://resources.dynamicsignal.com/h/c/1458579-metrics"
              },
        {
          "title": "Videos",
          "url": "https://resources.dynamicsignal.com/h/c/1458561-videos"
        },
        {
          "title": "eBooks & Guides",
          "url": "https://resources.dynamicsignal.com/h/c/1456755-ebooks-guides"
        }
      ]
    },
    {
      "title": "Contact",
      "url": "/contact/"
    },
    {
      "title": "Support",
      "url": "/support/"
    }
  ];
  
aside.sideMenu.right#side-nav
  .inner
    ul
      for item in navItems
        - 
          var classname = item.class ? item.class : "";
          if (!locals) {
            var locals = {};
            locals.siteurl = "";
            }
        li
          a(href=locals.siteurl + item.url,class=classname)!=item.title
          if item.children
            ul
              for child in item.children
                li
                  a(href=child.url)!=child.title
