-
  var navItems = [{
      "title": "Request a Demo",
      "url": "/requestdemo/",
      "class":"demo"
    },
    {
      "title": "Try DySi Open",
      "url": "/dysi-open/",
      "class":"demo"
    },
    {
      "title": "What is Dynamic Signal",
      "url": "/product/",
      "children": [
        {
          "title": "Services",
          "url": "/services/"
        },
        {
          "title": "Features",
          "url": "/features/"
        },
        {
          "title": "Case Studies",
          "url": "https://resources.dynamicsignal.com/case-studies"
        },
        {
          "title": "Integrations",
          "url": "/integrations/"
        }
      ]
    },
    {
      "title": "Our Company",
      "url": "/company/",
      "children": [{
          "title": "Customers",
          "url": "/customers/"
        },
        {
          "title": "Team",
          "url": "/team/"
        },
        {
          "title": "Partners",
          "url": "/agency/"
        },
        {
          "title": "Careers",
          "url": "/careers/"
        },
        {
          "title": "Events",
          "url": "/events/"
        },
        {
          "title": "Blog",
          "url": "/blog/"
        },
        {
          "title": "News Room",
          "url": "https://resources.dynamicsignal.com/news-room"
        },
        {
          "title": "Press Coverage",
          "url": "https://resources.dynamicsignal.com/press-coverage"
        }
      ]
    },
    {
      "title": "Solutions",
      "url": "/xolutions/",
      "children": [{
          "title": "Communication",
          "url": "/workforce-communication/"
        },
        {
          "title": "Human Resources",
          "url": "/employee-advocacy/"
        },
        {
          "title": "Marketing",
          "url": "/employee-experience/"
        },
        {
          "title": "Healthcare",
          "url": "#"
        },
        {
          "title": "Manufacturing",
          "url": "#"
        },
        {
          "title": "Retail",
          "url": "#"
        }
      ]
    },
    {
      "title": "Resources",
      "url": "/resources/",
      "children": [{
          "title": "Getting Started",
          "url": "https://resources.dynamicsignal.com/getting-started"
        },{
            "title": "Driving Adoption",
            "url": "https://resources.dynamicsignal.com/driving-adoption"
          },{
              "title": "Expanding Reach",
              "url": "https://resources.dynamicsignal.com/expanding-reach"
            },{
                "title": "Metrics",
                "url": "https://resources.dynamicsignal.com/metrics"
              },
        {
          "title": "Videos",
          "url": "https://resources.dynamicsignal.com/videos"
        },
        {
          "title": "eBooks & Guides",
          "url": "https://resources.dynamicsignal.com/ebooks-guides"
        }
      ]
    },
    {
      "title": "Contact",
      "url": "/contact/"
    },
    {
      "title": "Support",
      "url": "https://support.dynamicsignal.com/"
    }
  ];
  
aside.side-nav.right#side-nav
  a#btn-close-sidenav.hamburger.active
    .line.top
    .line.middle
    .line.bottom
  .inner
    if showSearch!="hide"
      #search-box-sidenav
        form.search-form(action='')
          input.query#oi-query(type='text', placeholder="Enter Search Term")
          button.submit(type="submit")
            i.fa.fa-search
          span#oi-spellcheck
          span#oi-header
    ul
      for item in navItems
        - 
          var classname = item.class ? item.class : "";
          if (locals.siteurl && item.url.indexOf("http")<0) {
            url = locals.siteurl + item.url;
            }
          else {
            url = item.url;
            }
            if (item.url.indexOf("support.dynamicsignal.com")>0) {
              targetUrl = "_blank";
            }
            else {
              targetUrl = "_self"
            }
        li
          a(href=locals.siteurl + item.url,class=classname,target=targetUrl)!=item.title
          if item.children
            ul
              for child in item.children
                li
                  - 
                    if (locals.siteurl && child.url.indexOf("http")<0) {
                      childurl = locals.siteurl + child.url;
                      }
                    else {
                      childurl = child.url;
                      }
                    if (child.url.indexOf("support.dynamicsignal.com")>0) {
                      targetUrl = "_blank";
                    }
                    else {
                      targetUrl = "_self"
                    }
                  a(href=childurl,target=targetUrl)!=child.title
