.partners-testimonial-entry {
  margin-bottom: $gutter-width;
  border-top: 1px solid $gray;
  padding: $gutter-width 0;
  .testimonial-thumb {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: $gutter-width * 2;
  }
  .testimonial-body {
    font-weight: 100;
    font-size: 17.5px;
    line-height: 1.25;
    margin-bottom: $gutter-width/2;
  }
  .testimonial-speaker {
    font-style: normal;
    font-weight: 600;
  }
}
