@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

body {
  font-family: $body-font;
  color: $body-text-color;
  font-weight: 400;
  overflow-x: hidden;
  &.nav-open, &.modal-open {
    overflow:hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

h1 {
  color: $off-black;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: normal;
}

h2 {
  color: $off-black;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: normal;
  @include bp(m) {
    font-size: 30px;
  }

  &.header-right {
    margin: $gutter-width*2 0 $gutter-width/2;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $classic-gray;
    border-bottom: 1px solid $middle-gray;

    &:first-child {
      margin-top: $gutter-width/2;
    }
  }
  &.section-header {
    text-transform: uppercase;
    font-size:1.4em;
    margin:0 0 .25em;
    @include bp(m) {
        font-size:2.4em;
    }
  }
}
h3.subhead {
  font-weight:300;
  font-size:18px;
  margin:0 0 36px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $body-link-color;

  &:hover {
    text-decoration: none;
    color: $body-link-hover-color;
  }
}

.content {
  p {
    line-height: 1.75;
    font-size: 1.1em;
  }
}
.hide {
  display: none !important;
}
.block-cta .hide {
  display:block !important;
}
.show {
  display: block;
  &.inline {
    display: inline-block;
  }
}
.row {
  img {
    max-width: 100%;
    height:auto;
  }
}
.even-height-wrapper {
  @include bp(m) {
    display: flex;
    width: 100%;
    margin-bottom:$gutter-width;
    justify-content: space-between;
    .col-2,
    .col-3 {
      padding: 0 10px;
    }

    .col-2 {
      flex-basis: 50%;
    }

    .col-3 {
      flex-basis: 33%;
      article {
        height:100%;
      }
      padding:0 $gutter-width/2;
      h4 {
        font-size:1.2em;
      }
      &:first-child {
        padding-left:0;
      }
      &:last-child {
        padding-right:0;
      }
    }
  }

}

.right {
  text-align: right;
}

.blue {
  color: $bright-blue;
}
.mobile-cta-home {
  display:none;
}
.mobile-cta {
  display:none;
  &.home {
    display: block;
    h2 {
      padding-top:$gutter-width*1.5;
    }
  }
}
ul.hmenu {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}
@each $bp-name, $bp-value in $bps {
  .col-#{$bp-name}-center {
    text-align: inherit;
    @include bp($bp-name) {
      text-align: center;
    }
  }

  .col-#{$bp-name}-notcenter {
    text-align: center;
    @include bp($bp-name) {
      text-align: inherit;
    }
  }
}

.col-center {
  text-align: center;
}

section {
  padding-top: $gutter-width/2;
  padding-bottom: $gutter-width/2;
  @include bp(m) {
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
  }

  &.header-404 {
    padding: 80px 0 0;

    h1,
    h2 {
      text-transform: uppercase;
      padding: 0 $gutter-width;
      @include bp(m) {
        padding: 0;
      }
    }

    img {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  &.hero {
    position: relative;
    text-align: center;
    margin-top: 60px;
    overflow: hidden;
    @include bp(m) {
      padding: 70px 0 0;
      min-height: 300px;
    }

    &.has-breadcrumbs {
      @include bp(m) {
        padding: 0 0 $gutter-width;
        min-height: 300px;
      }
    }

    .cta,
    h1,
    h2 {
      text-align: center;
      z-index: 2;
      position: relative;
    }

    h1,
    h2 {
      padding: 0 $gutter-width;
      @include bp(m) {
        padding: 0;
      }
    }

    h2 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 0;
      font-weight: 300;

      br {
        content: ' ';
        margin-right: 0.3em;
      }
      @include bp(m) {
        br {
          content: auto;
          margin: auto;
          display: block;
        }
      }
    }
  }
}

.top-section {
  padding: 140px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height:40vh;
  h1 {
    line-height: 1.5;
    text-align: center;
    bottom: 50px;
    height: auto;
    top: auto;
    text-align: center;
    margin: 0;
    font-size: 1.4em;
    @include bp(m) {
      font-size: 2em;
    }
  }

  .inner {
    bottom: 50px;
    top: auto;
    height: auto;
    text-align: center;

    .center-image {
      width: 50%;
      max-width:1200px;
    }

    &.home {
      text-align: left;

      h1 {
        font-size: 1.8em;
        text-align: left;
      }

      p {
        font-size: 1.1em;
        line-height: 1.5;
        color: $off-black;
      }
      bottom: 150px;
      .button.cta {
        margin-bottom:1em;
        font-size:1.2em;
        font-weight:700;
        &.knockout {
          margin-bottom:0;
        }
      }
      @include bp(m) {
        h1 {
          font-size: 2.2em;
        }

        p {
          font-size: 1.4em;
        }
        .button.cta {
          margin-bottom:0;
          margin-right:1em;
          &.knockout {
            margin-right:0;
          }
        }
      }
    }
  }
  @include bp(m) {
    min-height:0;
    // @include aspect-ratio (3,1);
  }
  @include bp(l) {
     @include aspect-ratio (3,1);
  }
}
.float-right {
  float:right;
}

.top-section-interior {
  //background:$light-gray;
  min-height: 80px;
  .row {
    padding-top: 130px;
  }

  h1 {
    display:none;
    margin-bottom: 0;
    font-size:2.2em;
    margin-top:50px;
    color:$off-black;
  }

  h2 {
    font-size: 1.4em;
    margin: .25em 0 0;
    display:none;
  }
  &.generic {
    h1,h2 {
      display:block;
    }
  }
  @include bp(m) {
    //background: url($img-path + "bg-header-interior.png") $light-gray no-repeat bottom right;
    //background: url($img-path + "header-pattern-08.jpg") $light-gray no-repeat center-top;
    //background-size:cover;
    //background:linear-gradient(135deg, #e9e9e9 0%,#d1d1d1 100%);
    h1 {
      font-size:3.2em;
    }
  }
}

.padding-bottom {
  margin-bottom: $gutter-width*2;
}

p.large-text {
  font-size: 24px;
  line-height: 1.5;
}

ul.social-share {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;

  li {
    display: inline-block;
    margin-right: $gutter-width/2;

    i.fa-stack-1x {
      &:before {
        color: $white;
      }
    }
  }
}

.button {
  text-align: center;
  display: inline-block !important;
  padding: 0.5em 1.5em;
  transition: all 0.25s ease-in;
  background: $blue;
  color: $white;
  z-index: 1;
  position: relative;
  border:1px solid $blue;
  &:hover {
    background: $menu-blue;
    color: $white;
    animation: radial-pulse 1s 1;
  }
  &.knockout {
    background:$white;
    color:$header-blue;
    border:1px solid $header-blue;
    &:hover {
      background: $header-blue;
      color: $white;
      animation: radial-pulse 1s 1;
    }
  }
  &.white {
    background:$white;
    color:$header-blue;
    border:none;
    font-weight:700;
    &:hover {
      background: $header-blue;
      color: $white;
      animation: radial-pulse 1s 1;
    }
  }
  &.orange {
    background:$orange;
    border:1px solid $orange;
    &:hover {
      background:darken($orange,10%);
    }
  }
  &.outline {
    color:$white;
    background:transparent;
    border:1px solid $white;
    &:hover {
      color:$black;
      background:$white;
    }
  }
  .fa {
    padding-left: 0.5em;
  }
  &.lock-bottom {
    position:absolute;
    bottom:$gutter-width/2;
    margin-top:$gutter-width/2;
  }


  &.video {
    display: inline-block !important;
  }
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}
a.button-teal,
ul.nav-items li a.button-teal {
  background-color: white;
  padding: 5px 10px;
  line-height: 20px;
  color: $teal;
  margin-top: 13px;
  margin-right: 1em;
  font-size: 12px;
  font-weight: 400;
  border-radius: 25px;
  border: 1px solid $teal;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: $teal;
    color: $white;
    text-decoration: none;
  }

  &.big {
    border-radius: $gutter-width*2;
    font-size: 18px;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 3;
  }

  &.apply-button {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 24px;
    margin: 12px 0;
    display: inline-block;
    color: $white;
    background: $teal;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    border: none;

    &:hover {
      text-shadow: 1px 1px 5px rgba(0,0,0,.6);
      background-color: lighten($teal,40%);
      box-shadow: 0 0 5px rgba(0,0,0,.3);
      text-decoration: none;
    }
  }
}

.cta-bottom {
  padding: $gutter-width*2 0;

  h2 {
    max-width: 960px;
    margin: 0 auto $gutter-width;
  }
}

section.logo-strip-bucket {
  background: none;
  margin-top: 0;
  padding-bottom: $gutter-width*3;
  background: linear-gradient(to bottom, rgba(237,237,237,0) 0%,rgba(237,237,237,0) 75%,rgba(237,237,237,0.65) 100%);
  text-align: center;
  h2 {
    font-size:1.2em;
  }
  p {
    padding: $gutter-width 0 $gutter-width*2;
  }

  .logo-strip {
    position: relative;
    margin-bottom: $gutter-width;

    .row {
      width: 100%;
      text-align: center;

      .col-xs-2 {
        vertical-align: middle;
      }

      img {
        display: inline-block;
        max-width: 100%;
        padding: 0 5px;
      }
    }
  }
}

.video-thumb {
  color: $white;
  background-size: 102% 102%;
  background-position: center center;
  cursor: pointer;
  @include aspect-ratio(16,9);
  .button {
    z-index:0;
  }
  .wrapper-panel-html {
    .left-gradient {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
        background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    border: none;

    &.hide {
      display: none;
    }
  }

  .content {
    & > * {
      display: none;
    }

    h2 {
      color: $white;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 300;
      font-style: italic;
      margin: 0 0 $gutter-width;

      &.no-quote {
        font-style: normal;
      }
    }

    cite {
      margin-top: $gutter-width;
      font-style: normal;
      font-size: 14px;
      line-height: 30px;
      font-weight: 300;
    }
  }
}

.video-slide-content {
  padding-left: 50px;
  padding-right: 50px;
  color: $white;

  cite {
    display: block;

    span {
      display: block;
    }
    font-size: 0.8em;
    margin-bottom: $gutter-width;
  }
}

ul.side-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $header-blue;

  li {
    border-left: 3px solid $header-blue;
    margin: 0 0 2em 1em;
    display: block;
    padding-left: 1.25em;

    &.dot {
      &:before {
        content: '';
        position: absolute;
        margin-right: 1em;
        width: 15px;
        height: 15px;
        border: 3px solid #026daf;
        border-radius: 50%;
        left: 2.15em;
        background: #fff;
      }
    }

    p, cite {
      display:block;
      line-height:1.4;
      padding:0 0 .5em;
      font-size:.8em;
    }

    h3 {
      margin-bottom:1em;
    }
  }
}

.button {
  background: $header-blue;
  padding: 0.5em 1.5em;
  display: inline-block;
  color: $white;

  &.small {
    padding: 0.5em 1em;
    font-size: 0.75em;
    margin: 0 0.5em;
    text-transform: lowercase;
  }
  &.apply {
    margin-bottom:$gutter-width*2;
  }
}

a.small-link {
  font-size: 0.9em;
  display: inline-block;
  margin-left: 1em;
  background:$header-blue;
  color:$white;
  padding:2px 6px;
  &:hover {
      background:$menu-blue;
      color:$white;
  }
}

.bg-video {
  @include bp(m) {
    &:before {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.75);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      -webkit-transform: translateZ(100px);
      transform: translateZ(100px);
    }
  }
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


.featured-item {
  display: block;
}
.featured-thumb {
  display: block;
  position: relative;

  &:after {
    content: "";
    display: block;
    padding-top: 15.62%;
    padding-bottom: 15.62%;

  }
  background-size: cover;
  background-position: center center;

  h1 {
    transition: 0.25s all ease-in;
    color: $white;
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
    padding: $gutter-width/4;
    margin:0;
    position: absolute;
    @include bp(m) {
      padding:$gutter-width;
    }
  }
}
/*
.blog-featured-bucket {
  .featured-thumb {
    &:after {
      padding:30% 0;
    }
  }
  .story-tile-link {
    height:90%;
  }
}
*/
.post-meta {
  $meta-color: lighten($classic-gray,20%);
  display: block;

  li {
    padding: 1em 0 0;
    margin-right: 1em;
    color: $meta-color;
    font-size: 0.8em;

    .fa {
      padding-right: 0.25em;
    }
  }

  .category {
    &:before {
      content: '';
      display: inline-block;
      border: 6px solid transparent;
      border-left: 6px solid $meta-color;
    }
  }
}

.category-link-title {
  .view-button {
    font-size: 14px;
    font-weight: 400;
    float: right;
    vertical-align: bottom;
    padding-top: 1em;
    color: $classic-gray;
    font-family: $body-font;

    .divot {
      padding-left: 2px;
      color: transparent;
    }
  }

  h2,h3 {
    color: $menu-blue;
    border-bottom: 1px solid transparent;
  }
  h3 {
    font-size:1.1em;
    font-weight:300;
    .view-button {
      padding-top:.25em;
    }
  }
  &:hover {
    color: $header-blue;

    .view-button,
    h2,h3 {
      color: $header-blue;
    }

    .view-button {
      font-weight: 600;

      .divot {
        color: $header-blue;
      }
    }

    h2,h3 {
      border-bottom-color: $header-blue;
    }
  }
}

.story-tile-link {
  display: block;
  transition: 0.25s all ease-in;
  height:80%;
  &.blog-front {
    border-bottom:1px solid $middle-gray;
  }
  &.sdr-page {
    height:100%;
  }
  h3,h4,
  p,
  ul {
    padding: 0 $gutter-width/2;
  }
  &.no-header {
    height:100%;
  }
  p {
    line-height: 2;
  }

  .featured-thumb {
    &:after {
      transition: 0.25s all ease-in;
      content: 'Read More';
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 2px;
      font-weight: 600;
      text-align: center;
      color: transparent;
      background: rgba(0,0,0,0);
    }
  }

  &:hover {
    background: $light-gray;
    color:$black;
    .featured-thumb {
      &:after {
        color: $white;
        background: rgba(0,0,0,.6);
      }

      h1 {
        color: rgba(255,255,255,.5);
      }
    }
  }
}
.bottom-cta {
  background: url($img-path+"bg-bluewidgets.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  text-align: center;
  padding: $gutter-width*2 0;
  position:relative;
  h2 {
    color: $white;
  }

  p {
    font-size: 1.2em;
  }

  .button {
    margin-top: $gutter-width;
    box-shadow:1px 2px 10px rgba(0,0,0,.5);
    display:block!important;
    @include bp(m) {
      display:inline-block!important;
      margin-right:1em;
      &.outline {
        margin-right:0;
      }
      box-shadow: none;
    }
  }
}
ul.hmenu.app-buttons {
  &.lp {
    margin-top:$gutter-width*2;
  }
  li {
    display:block;
    &.show-mobile {
      display:block;
      @include bp(m) {
        display:none;
      }
    }
    &.show-desktop {
      display:none;
      @include bp(m) {
        display:block;
      }
    }
  }
  @include bp(m) {
    li {
      display:inline-block;
      margin-right:1em;
      &:last-child {
        margin-right:0;
      }
    }
  }

}
.pdf-wrapper {
  height:800px;
  height:120vh;
}
ul.gdpr {
  li {
    margin:0 0 $gutter-width;
    color:$classic-gray;
    .blue {
      color:$menu-blue;
    }
  } 
}
.top-section-gdpr {
  min-height:10vw;
  @include aspect-ratio(4,1);
  background-repeat:none;
  background-size:cover;
  .inner {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    text-align:center;
    padding-top:15vw;
  }
  h1 {
    font-size:2.6em;
  }
}
.gdpr-section {
  padding-bottom:$gutter-width*4;
  padding-top:0;
  p, li {
    line-height:1.8;
  }
  a {
    text-decoration:underline;
  }
  h4 {
    color:$header-blue;
  }
  h3 {
    color:$header-blue;
    font-size:30px;
    margin:50px 0 25px;
    padding:0;
    background-size:contain;
    background-position:left top;
    background-repeat: no-repeat;
    &.policy {
        margin-top:0;
        background-image:url($img-path + "gdpr-icon-policies.png");

    }
    &.product {

        background-image:url($img-path + "gdpr-icon-product.png");

    }
    &.staff {

        background-image:url($img-path + "gdpr-icon-staffing.png");
    }
  }
 
}
.gdpr-table {
  display:block;
  position:relative;
}
.gdpr-table-row {
  flex-basis:100%;
  flex-shrink:0;
  flex-grow:0;
  display:flex;
  flex-wrap:wrap;
  &:nth-child(even) {
    background:#fafafa;
  }
  &:nth-child(odd) {
    background:#f4f4f4;
  }
  &:last-child {
    .gdpr-table-cell {
      border-bottom:0;
    }
  }
}
.gdpr-label {
  display:block;
  font-weight:600;
  text-transform:uppercase;
  margin-bottom:12px;
  font-size:14px;
  color:$header-blue;
  @include bp(m) {
    display:none;
  }
}
.gdpr-table-cell {
  flex-shrink:1;
  flex-grow:1;
  padding:26px 20px 30px;

  color:#505050;
  &:last-child {
    border-right:none;
  }
  p {
    font-size:18px;
    margin:0;
    padding:0;
    line-height:1.4;
  }
  &.title, &.content {
    flex-basis:100%;
  }
  @include bp(m) {
    border-right:1px solid $white;
    border-bottom:2px solid #d6d6d6;
    &.title {
      flex-basis:20%;
    }
    &.content {
      flex-basis:40%;
    }
  }

  &.header-cell {
    display:none;
    background:#ebebeb;
    padding:18px 20px 16px;
    p {
      text-transform:uppercase;
      color:$header-blue;
      line-height:1;
    }
    @include bp(m) {
      display:block;
    }
  }
}
.awards-line {
  margin-top:$gutter-width;
}
//GDPR TABLE
.ds-table {
  display:block;
  tr td {
    display:block;
    width:100%;
  }
  @include bp(m) {
    display:table;
    tr td {
      display:table-cell;
      width:auto;
    }
  }
}
img.right-padded {
  float:right;
  padding:0 0 $gutter-width $gutter-width;
  max-width:50%;
}
.modal {background: rgba(0,0,0,.7); z-index:999;
}
.modal-dialog {
  margin: 100px auto; 
  max-width: 70%; 
  background: $black; 
position:relative;
.blog-content {
  padding:0;
}
.modal-hide {
  border:none;
  color:$white;
  background:transparent;
  font-size:3.5em;
  position:absolute;
  padding:0;
  right:0;
  top:-1.1em;
  outline:none;
  &:active {
    outline:none;
  }
  &:hover {
    color:$lighter-gray;
  }
}
}
.modal-show {
  &:hover {
    cursor:pointer;
  }
}
.flex-row-md {
  @include bp(m) {
    display:flex;
  }
}
.centered {
  text-align:center;
}
.text-right {
  text-align: right;
}

.white-bg-section {
  background:$white;
  position:relative;
  &.phone-section {
    padding-bottom:$gutter-width*2;
  }
}
.gray-bg-section {
  background:$lighter-gray;
  position:relative;
}
.blue-bg-section {
  background:$blue;
  position:relative;
  color:$white;
  h1,h2,h3,h4,h5,h6,cite,p,ul,li,a {
    color:$white;
  }
}

p.source {
  margin-top:2em;
  font-size:.8em;
  font-weight:300;
}
ul.plus-list {
  list-style-type:none;
  li {
    position:relative;
    margin-bottom:1.5em;
    &:before {
      content:'';
    }
  }
}
.circle-number {
  color:$header-blue;
  font-weight:800;
  @include bp(m) {
      position:relative;
      color:$white;
      font-weight:normal;
      display:inline-block;
      text-align:center;
      margin-right:.2em;
      width:3em;
      &:after {
        content:'';
        position:absolute;
        top:-.6em;
        left:0;
        border-radius:50%;
        background:$header-blue;

        padding:1.5em;
        z-index:-1;
      }
  }

}
section.fullpic {
  position:relative;
  width:100%!important;
  .header-bg {
    background-size:cover;
    background-repeat:no-repeat;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%!important;
  }
  .header-mobile-bg {
    display:none;
  }
  .inner {
    position:relative;
    max-width:1280px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column-reverse;
    margin:0 auto;
    .col-half {
      flex-basis:100%;
      &.text {
        padding:100px $gutter-width 50px;
      }
      &.bg {
        background-position:center bottom;
        background-size:contain;
        background-repeat:no-repeat;
        display:none;
      }
      @include bp(s) {
        &.text {
          flex-basis:40%;
          padding:150px $gutter-width 50px;
        }
        &.bg {
          flex-basis:60%;
          display:block;
          margin:0;
          min-height:0;
          background-position:bottom right;         
        }
      }
      @include bp(m) {
        &.bg {
          flex-basis:60%;
          display:block;
          margin:0;
          min-height:0;
          background-position:bottom right;
        }
        &.text {
          flex-basis:40%;
          padding:150px $gutter-width 100px;
        }
      }
      @include bp(l) {
        &.bg {
          flex-basis:50%;
        }
        &.text {
          flex-basis:50%;
          padding:200px $gutter-width 100px;
        }     
      }
    }
    @include bp(s) {
      flex-direction:row;
    }
  }
}

@media only screen and (max-width: 640px) {
  section.fullpic .header-bg {
    display:none;
  }
  
  section.fullpic .header-mobile-bg {
    background-size:cover;
    background-repeat:no-repeat;
    position:absolute;
    background-position:center top;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%!important;  
    display:block;
  }

}

section.halfpic {
  display:block;
  width:100%!important;
  position:relative;
  background:$lighter-gray;
  padding:0;
  margin-top:50px;
  &.pos-fixed {
    position:fixed!important;
    top:50px!important;
  }
  .halfpic-bg {
    position:static;
    width:100%;
    background-size:cover;
    &:after {
      content:'';
      display:block;
      width:100%;
      padding-bottom:50%;
    }
    @include bp(m) {
      position:absolute;
      width:50%;
      max-width:50%;
      right:0;
      bottom:0;
      top:0;
     
      background-position:right center;
      &:after {
        padding-bottom:0;
      }
      &.demo-center {
        background-position:right top;
      }
    }

  }
  .white-gradient-header {
    display:none;
    position:absolute;
    left:50%;
    top:0;
    bottom:0;
    width:30%;
    background:linear-gradient(to right, rgba(246,246,246,1),rgba(246,246,246,0) 100%);
    @include bp(m) {
      display:block;
    }
  }
  .fa {
    margin-left:.5em;
  }
}
.home-header-text {
  font-size:2em;
  color:$white;
  .blue {
    color:$white;
    @include bp(s) {
      color:$header-blue;
    }          
  }
  @include bp(s) {
    color:$off-black;
    font-size:1.4em;
  }
  @include bp(m) {
    font-size:2em;
  }
}
.row-flex {
  display:flex;
  align-items:center;
  margin:0 0 0;
  position:relative;
  .col-half-flex {
    padding-bottom:$gutter-width*2;
    .inner.big-text {
      font-size:1.4em;
    }
    h1 {
      font-size:1.6em;
      &.home-header-text {
        font-size:2.4em;
        line-height:1.2;
        color:$white;
        .blue {
          color:$white;
          @include bp(m) {
            color:inherit;
            color:$header-blue;
          }          
        }
      }
    }
    @include bp(m) {
      padding-top:80px;
      flex-basis:50%;
      display:flex;
      flex-direction:column;
      .inner {
        padding:8vw 0;
        h1 {
          
          margin-top:0;
        }
      }
    }
    @include bp(l) {
      .inner {
        padding:4vw 0;
      }
    }
  }
}
.video-modal {
  display:none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align:right;
  .bg {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,.7);  
  }
  .main-window {
    margin-top:4em;
  }
  &.active {
    display:block;
    z-index:99;
  }
  .modal-hide {
    font-size:3em;
    background:transparent;
    border:none;
    color:$white;
    &:active {
      outline:none;
    }
  }
  .wrapper-video {
    display:block;
    @include bp(m) {
      display:none;
      &.active {
        display:block;
      }
    }
  }
  .wrapper-html {
    display:none;
    @include aspect-ratio(16,9);
    background:$black;
    &.active {
      display:none;
      @include bp(m) {
        display:block;
      }
    }
    .inner {
      display:flex;
      align-items:center;
      justify-content: space-between;
      background:$white;
      padding:$gutter-width;
      flex-wrap:wrap;
      font-size:.8em;
      .col-wide {
        h1 {
          margin:0;
        }
        p {
          margin:0;
        }
        text-align:center;
        flex-basis:100%;
      }
      .col-three {
        h2 {
          font-size:16px;
          font-weight:800;
        }
        flex-basis:30%;
        text-align:center;
        .button {
          margin-top:$gutter-width;
        }
      }
      @include bp(m) {
        font-size:1em;
        .col-three {
          h2 {
            font-size:20px;
          }
        }
      }
    }
  }
}
.video-panel {
  display:block;
  @include bp(m) {
    display:none;
    &.active {
      display:block;
    }
  }
}

ul.hmenu {
  display: inline-block;
  list-style: none;
  li {
    display: inline-block;
  }
}
.hamburger {
  position: relative;
  width: 26px;
  height: 25px;
  .line {
    width: 26px;
    height: 3px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    transition: transform 0.25s ease-out;
    &.top {
      transform: translateY(-8px);
    }
    &.bottom {
      transform: translateY(8px);
    }
  }
  &.active {
    .line.middle {
      opacity: 0;
    }
    .line.top {
      transform: rotate(45deg);
    }
    .line.bottom {
      transform: rotate(-45deg);
    }
  }
  &:hover {
    .line {
      background:$blue;
    }
  }
}
.flicker-in {
  @include bp(m) {
    @include ds-transition();
    opacity:0;
    transform:translateY(50px);
    &.active {
      opacity:1;
      transform:translateY(0);
    }
  }
}
.multi-video-player {
  .buttons {
    margin-bottom:$gutter-width;
    .btn-launch {
      display:flex;
      width:100%;
      padding:12px; 
      background:$light-gray;
      color:$black;
      text-decoration:none;
      @include ds-transition();
      .thumb {
        @include aspect-ratio(4,3);
        flex-basis:25%;
        margin-right:12px;
        background-size:cover;
        background-position:center center;
        max-height:100px;
        @include bp(m) {
          max-height:none;
        }
        .inner {
          display:none;
          top:0;
          bottom:0;
          left:0;
          right:0;
          align-items:center;
          .fa {
            font-size:3em;
            color:$blue;
            text-align:center;
            flex-basis:100%;
            @include bp(m) {
              font-size:6em;
            }
          }
        }

      }
      .title {
        font-weight:800;
      }
      .state {
        display:none;
        font-style:italic;
        color:$blue;
        font-size:.8em;
      }
      .words {
        flex-basis:75%;
        .fa {
          padding-left:1em;
        }
      }
      &:hover, &.active { 
        background:$gray;
      }
      &.active {
        .title, .fa {
          color:$blue;
        } 
        .thumb {
          border:1px solid $blue;
          .inner {
            display:flex;
          }
        }
      }
    }
  }
}