@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

body {
  font-family: $body-font;
  color: $body-text-color;
  font-weight: 400;
  overflow-x: hidden;
  &.nav-open,
  &.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}
h1,
h2,
h3 {
  color: $off-black;
  font-weight: 400;
  margin-top: 0;
  &.white {
    color: $white;
  }
}
h1 {
  font-size: 32px;
  text-transform: capitalize;
  letter-spacing: normal;
  @include bp(m) {
    font-size: 36px;
  }
}
h2 {
  color: $off-black;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  @include bp(m) {
    font-size: 30px;
  }
}
h3 {
  color: $off-black;
  font-size: 20px;
  font-weight: 300;
  @include bp(m) {
    font-size: 24px;
  }
}
p {
  font-size: 16px;
  line-height: 1.6;
  @include bp(m) {
    font-size: 18px;
  }
  &.white {
    color: $white;
  }
  &.footnote {
    font-size: 12px;
    line-height: 1.2;
    @include bp(m) {
      font-size: 14px;
    }
  }
}
a {
  text-decoration: none;
  cursor: pointer;
  color: $body-link-color;
  &:hover {
    text-decoration: none;
    color: $body-link-hover-color;
  }
  &.white {
    color: $white;
  }
  &.ext-link {
    font-weight: bold;
    color: $blue;
    &:after {
      padding-left: 0.5em;
      content: ">";
    }
    &:hover {
      color: darken($blue, 20%);
    }
  }
}
.no-margin {
  margin: 0;
}
.hide {
  display: none !important;
}
.show {
  display: block;
  &.inline {
    display: inline-block;
  }
}

.caps {
  text-transform: uppercase;
}

.text-right,
.right {
  text-align: right;
}

.text-center,
.centered {
  text-align: center;
}

.text-left {
  text-align: left;
}
.text-white {
  color: $white;
}
.blue {
  color: $bright-blue;
}
.block-cta .hide {
  display: block !important;
}

.row {
  img {
    max-width: 100%;
    height: auto;
  }
}
.content {
  &.white {
    * {
      color: $white;
    }
  }
}
.margin-top-header {
  margin-top: $nav-short;
  @include ds-transition();
  @include bp(s) {
    margin-top: $nav-tall;
  }
}
.padding-top-header {
  padding-top: 60px;
  @include bp(s) {
    padding-top: 80px;
  }
}
body.nav-short {
  .margin-top-header {
    margin-top: $nav-short;
  }
}
.even-height-wrapper {
  @include bp(m) {
    display: flex;
    width: 100%;
    margin-bottom: $gutter-width;
    justify-content: space-between;
    .col-2,
    .col-3 {
      padding: 0 10px;
    }

    .col-2 {
      flex-basis: 50%;
    }

    .col-3 {
      flex-basis: 33%;
      article {
        height: 100%;
      }
      padding: 0 $gutter-width/2;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.mobile-cta-home {
  display: none;
}
.mobile-cta {
  display: none;
  &.home {
    display: block;
    h2 {
      padding-top: $gutter-width * 1.5;
    }
  }
}
ul.hmenu {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}
.padding-top {
  padding-top: $gutter-width;
  &.double {
    padding-top: $gutter-width * 2;
  }
}
.padding-bottom {
  padding-bottom: $gutter-width;
  &.double {
    padding-bottom: $gutter-width * 2;
  }
}
.padding-both {
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  &.double {
    padding-top: $gutter-width * 2;
    padding-bottom: $gutter-width * 2;
  }
}

section {
  margin: 0;
  padding: 0;
}
.white-bg-section {
  background: $white;
  position: relative;
  &.phone-section {
    padding-bottom: $gutter-width * 2;
  }
}
.gray-bg-section {
  background: $lighter-gray;
  position: relative;
}
.dark-gray-bg-section {
  background: $menu-blue;
  position: relative;
  color: $white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  cite,
  p,
  ul,
  li,
  a {
    color: $white;
  }
}

.blue-bg-section {
  background: $blue;
  position: relative;
  color: $white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  cite,
  p,
  ul,
  li,
  a {
    color: $white;
  }
}
.dkblue-bg-section {
  position: relative;
  background: $menu-blue;
  color: $white;
  h2,
  p {
    color: $white;
  }
}
.float-right {
  float: right;
}

.top-section-interior {
  min-height: 80px;
  .row {
    padding-top: 130px;
  }

  h1 {
    display: none;
    margin-bottom: 0;
    margin-top: 50px;
  }

  h2 {
    margin: 0.25em 0 0;
    display: none;
  }
  &.generic {
    h1,
    h2 {
      display: block;
    }
  }
}

ul.social-share {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;

  li {
    display: inline-block;
    margin-right: $gutter-width/2;

    i.fa-stack-1x {
      &:before {
        color: $white;
      }
    }
  }
}

.cta-bottom {
  padding: $gutter-width * 2 0;
  h2 {
    max-width: 960px;
    margin: 0 auto $gutter-width;
  }
}

section.logo-strip-bucket {
  background: none;
  text-align: center;
  margin-top: 0;
  padding-bottom: $gutter-width * 3;
  background: linear-gradient(
    to bottom,
    rgba(237, 237, 237, 0) 0%,
    rgba(237, 237, 237, 0) 75%,
    rgba(237, 237, 237, 0.65) 100%
  );

  p {
    padding: $gutter-width 0 $gutter-width * 2;
  }
}

.video-thumb {
  color: $white;
  background-size: 102% 102%;
  background-position: center center;
  cursor: pointer;
  @include aspect-ratio(16, 9);
  .button {
    z-index: 0;
  }
  .wrapper-panel-html {
    .left-gradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    border: none;

    &.hide {
      display: none;
    }
  }

  .content {
    & > * {
      display: none;
    }

    h2 {
      color: $white;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 300;
      font-style: italic;
      margin: 0 0 $gutter-width;

      &.no-quote {
        font-style: normal;
      }
    }

    cite {
      margin-top: $gutter-width;
      font-style: normal;
      font-size: 14px;
      line-height: 30px;
      font-weight: 300;
    }
  }
}

.video-slide-content {
  padding-left: 50px;
  padding-right: 50px;
  color: $white;

  cite {
    display: block;

    span {
      display: block;
    }
    font-size: 0.8em;
    margin-bottom: $gutter-width;
  }
}

ul.side-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $header-blue;

  li {
    border-left: 3px solid $header-blue;
    margin: 0 0 2em 1em;
    display: block;
    padding-left: 1.25em;

    &.dot {
      &:before {
        content: "";
        position: absolute;
        margin-right: 1em;
        width: 15px;
        height: 15px;
        border: 3px solid #026daf;
        border-radius: 50%;
        left: 2.15em;
        background: #fff;
      }
    }

    p,
    cite {
      display: block;
      line-height: 1.4;
      padding: 0 0 0.5em;
      font-size: 0.8em;
    }

    h3 {
      margin-bottom: 1em;
    }
  }
}

.bg-video {
  @include bp(m) {
    &:before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.75);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      -webkit-transform: translateZ(100px);
      transform: translateZ(100px);
    }
  }
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.featured-item {
  display: block;
}
.featured-thumb {
  display: block;
  

  &:after {
    content: "";
    display: block;
    padding-top: 15.62%;
    padding-bottom: 15.62%;
    background: rgba(0, 0, 0, 0.5);
  }
  background-size: cover;
  background-position: center center;

  h1 {
    transition: 0.25s all ease-in;
    color: $white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    padding: $gutter-width/4;
    margin: 0;
    position: absolute;

  }
  @include bp(m) {
    position: relative;
    h1 {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
    padding: $gutter-width;      
    }

  }
}
.post-meta {
  $meta-color: lighten($classic-gray, 20%);
  display: block;

  li {
    padding: 1em 0 0;
    margin-right: 1em;
    color: $meta-color;
    font-size: 0.8em;

    .fa {
      padding-right: 0.25em;
    }
  }

  .category {
    &:before {
      content: "";
      display: inline-block;
      border: 6px solid transparent;
      border-left: 6px solid $meta-color;
    }
  }
}
.category-link-title {
  .view-button {
    font-size: 14px;
    font-weight: 400;
    float: right;
    vertical-align: bottom;
    padding-top: 1em;
    color: $classic-gray;
    font-family: $body-font;

    .divot {
      padding-left: 2px;
      color: transparent;
    }
  }
  h2 {
    font-weight: 300;
    margin-top: $gutter-width;
  }
  h2,
  h3 {
    color: $menu-blue;
    border-bottom: 1px solid transparent;
  }
  h3 {
    font-size: 1.1em;
    font-weight: 300;
    .view-button {
      padding-top: 0.25em;
    }
  }
  &:hover {
    color: $header-blue;

    .view-button,
    h2,
    h3 {
      color: $header-blue;
    }

    .view-button {
      font-weight: 600;

      .divot {
        color: $header-blue;
      }
    }

    h2,
    h3 {
      border-bottom-color: $header-blue;
    }
  }
}

.story-tile-link {
  display: block;
  transition: 0.25s all ease-in;
  height: 80%;
  &.blog-front {
    border-bottom: 1px solid $middle-gray;
    .featured-thumb {
      background-size: contain;
      padding-top: 30%;
      background-repeat: no-repeat;
      background-position: center top;
      h1 {
        color: $black;
        text-shadow: none;
      }
      @include bp(m) {
        background-size: cover;
        padding-top: 0;
        h1 {
          color: $white;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
  &.sdr-page {
    height: 100%;
  }
  &.home-page {
    height: auto;
    margin-bottom: $gutter-width;
  }
  h3,
  h4,
  p,
  ul {
    @include bp(m) {
      padding: 0 $gutter-width/2;
    }
  }
  &.no-header {
    height: 100%;
  }
  p {
    line-height: 2;
  }
  h3 {
    font-size: 16px;
    line-height: 1.4;
    margin-top: $gutter-width/3;
    padding-bottom: $gutter-width/2;
  }
  .featured-thumb {
    &:after {
      transition: 0.25s all ease-in;
      content: "Read More";
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 2px;
      font-weight: 600;
      text-align: center;
      color: transparent;
      background: rgba(0, 0, 0, 0);
    }
  }
  .blog-featured-bucket {
    padding-bottom: $gutter-width;
  }
  &:hover {
    @include bp(m) {
      background: rgba(0, 0, 0, 0.05);
      color: $black;
      .featured-thumb {
        &:after {
          color: $white;
          background: rgba(0, 0, 0, 0.5);
        }
        h1 {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
.bottom-cta {
  background: $hero-radial-gradient;
  background-repeat: no-repeat; 
  background-size: cover;
  color: $white;
  text-align: center;
  padding: $gutter-width * 2 0;
  position: relative;
  h2 {
    color: $white;
  }

  p {
    font-size: 1.2em;
  }

  .button {
    margin-top: $gutter-width;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    display: block !important;
    @include bp(m) {
      display: inline-block !important;
      margin-right: 1em;
      &.outline {
        margin-right: 0;
      }
      box-shadow: none;
    }
  }
}
ul.hmenu.app-buttons {
  &.lp {
    margin-top: $gutter-width * 2;
  }
  li {
    display: block;
    &.show-mobile {
      display: block;
      @include bp(m) {
        display: none;
      }
    }
    &.show-desktop {
      display: none;
      @include bp(m) {
        display: block;
      }
    }
  }
  @include bp(m) {
    li {
      display: inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.awards-line {
  margin-top: $gutter-width;
}
//GDPR TABLE
.ds-table {
  display: block;
  tr td {
    display: block;
    width: 100%;
  }
  @include bp(m) {
    display: table;
    tr td {
      display: table-cell;
      width: auto;
    }
  }
}
img.right-padded {
  float: right;
  padding: 0 0 $gutter-width $gutter-width;
  max-width: 50%;
}
.flex-row-md {
  @include bp(m) {
    display: flex;
  }
}

p.source {
  margin-top: 2em;
  font-size: 0.8em;
  font-weight: 300;
}
ul.plus-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    position: relative;
    margin-bottom: $gutter-width/2;
    font-size: 1.4em;
    &:before {
      content: "";
    }
  }
}
.circle-number {
  color: $header-blue;
  font-weight: 800;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.8em;
}
section.fullpic {
  position: relative;
  width: 100% !important;
  .header-bg {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
  }
  .header-mobile-bg {
    display: none;
  }
  .inner {
    position: relative;
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 0 auto;
    .col-full {
      flex-basis: 100%;
      padding: 50px $gutter-width 50px;
      @include bp(m) {
        padding: 120px $gutter-width 50px;
      }
    }
    .col-half {
      flex-basis: 100%;
      &.text {
        padding: 100px $gutter-width 50px;
      }
      &.bg {
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        display: none;
      }
      @include bp(s) {
        &.text {
          flex-basis: 40%;
          padding: 150px $gutter-width 50px;
        }
        &.bg {
          flex-basis: 60%;
          display: block;
          margin: 0;
          min-height: 0;
          background-position: bottom right;
        }
      }
      @include bp(m) {
        &.bg {
          flex-basis: 60%;
          display: block;
          margin: 0;
          min-height: 0;
          background-position: bottom right;
        }
        &.text {
          flex-basis: 40%;
          padding: 150px $gutter-width 100px;
        }
      }
      @include bp(l) {
        &.bg {
          flex-basis: 50%;
        }
        &.text {
          flex-basis: 50%;
          padding: 200px $gutter-width 100px;
        }
      }
    }
    @include bp(s) {
      flex-direction: row;
    }
  }
  &.homepage {
    .header-bg {
      background-position: top right;
    }
    .inner {
      .col-half.text {
        padding: 100px $gutter-width 50px;
        h1,
        p {
          color: $white;
        }
        h1 {
          margin-bottom: 0em;
        }
        p {
          margin-top: 0.25em;
        }
        @include bp(s) {
          h1,
          p {
            color: $off-black;
          }
          padding: 100px $gutter-width 50px;
        }
        @include bp(m) {
          padding: 18vw $gutter-width 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  section.fullpic .header-bg {
    display: none;
  }

  section.fullpic .header-mobile-bg {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center top;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    display: block;
  }
}

section.halfpic {
  display: block;
  width: 100% !important;
  position: relative;
  background: $lighter-gray;
  padding: 0;
  &.pos-fixed {
    position: fixed !important;
    //top: 0 !important;
  }
  .halfpic-bg {
    position: static;
    width: 100%;
    background-size: cover;
    background-position: center;
    &:after {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 50%;
    }
    @include bp(m) {
      position: absolute;
      width: 50%;
      max-width: 50%;
      right: 0;
      bottom: 0;
      top: 0;

      background-position: right center;
      &:after {
        padding-bottom: 0;
      }
      &.demo-center {
        background-position: 0 -50px;
      }
    }
  }
  .white-gradient-header {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 30%;
    background: linear-gradient(to right, rgba(246, 246, 246, 1), rgba(246, 246, 246, 0) 100%);
    @include bp(m) {
      display: block;
    }
  }
  .fa {
    margin-left: 0.5em;
  }
}
.home-header-text {
  font-size: 2em;
  color: $white;
  .blue {
    color: $white;
    @include bp(s) {
      color: $header-blue;
    }
  }
  @include bp(s) {
    color: $off-black;
  }
}
.row-flex {
  display: flex;
  align-items: center;
  margin: 0 0 0;
  position: relative;
  .col-half-flex {
    padding: $gutter-width * 2 0;
    @include bp(m) {
      padding-top: 0;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      .inner {
        padding: 4vw 0;
        h1 {
          margin-top: 0;
        }
      }
    }
    @include bp(l) {
      .inner {
        padding: 4vw 0;
      }
    }
  }
}

ul.hmenu {
  display: inline-block;
  list-style: none;
  li {
    display: inline-block;
  }
}

.flicker-in {
  @include bp(m) {
    @include ds-transition();
    opacity: 0;
    transform: translateY(50px);
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.arrow-link {
  position: relative;
  display: block;
  text-decoration: underline;
  margin-top: $gutter-width;
  &:hover {
    text-decoration: none;
  }
  .icon {
    @include arrow-in-circle($background-color: $white, $border-color: $menu-blue);
    margin-right: 6px;
    margin-bottom: -6px;
  }
  &.orange {
    color: $orange;
    .icon {
      @include arrow-in-circle($background-color: $orange, $border-color: $white);
    }
  }
  &.white {
    color: $white;
  }
}
.video-page-title {
  padding-top: 150px;
  h1 {
    margin: 0.5em 0 0;
  }
}
ul.copy-points {
  list-style: none;
  padding: 0;
  margin: $gutter-width 0 0;
  display: flex;
  width: 100%;
  li {
    flex-basis: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 24px;
    display: flex;
    align-content: center;
    a {
      width: 100%;
      display: flex;
      font-family: $nav-font;
    }
    .icon {
      @include arrow-in-circle($background-color: $orange, $border-color: $white);
    }
    .text {
      padding-top: 3px;
      padding: 0 10px 0 15px;
      font-size: 12px;
      line-height: 1.4;
      flex-grow: 1;
      flex-shrink: 1;
    }
    &:hover {
      cursor: pointer;
      .icon {
        background-color: $menu-blue;
        &:after {
          border-left-color: $menu-blue;
        }
      }
    }
  }
}
hr.blue-separator {
  margin: $gutter-width 0 $gutter-width * 1.5;
  border: 0;
  background: $blue;
  height: 1px;
}
.ds-quote {
  p {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-style: italic;
    position: relative;
    padding-left: $gutter-width * 2.5;
    text-align: left;
    margin: 0 0 $gutter-width;

    &::before {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      content: "\201C";
      font-size: 90px;
      color: $white;
      font-family: "Times", serif;
    }
    &.no-quote {
      &::before {
        display: none;
      }
      font-style: normal;
    }
  }
  cite {
    position: relative;
    margin-top: $gutter-width;
    font-style: normal;
    line-height: 30px;
    font-weight: 300;
    padding-left: $gutter-width * 2.5;
    display: block;
    margin-right: $gutter-width;
    text-align: left;
    color: $white;
    .name {
      display: block;
    }
    .title {
      display: block;
      //font-style: italic;
    }
  }
}
.hero-with-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 120px;
  padding-bottom: 80px;
  @include bp(s) {
    padding-top: 190px;
    min-height: 400px;
    padding-bottom: 0;
  }
}
.font-picker {
  position: fixed !important;
  height: 60px;
  width: 400px;
  background: $black;
  top: 100px;
  left: 0;
  z-index: 9999;
}
.form-warning {
  margin-top: -4em;
  background: $white;
  padding: 1em;
  display: none;
  @include bp(m) {
    display: block;
  }
}
ul.blue-bullets {
  list-style:none;
  margin:0;
  padding:0;
  li {
    padding-left:30px;
    display:flex;
    align-items: center;
    margin-bottom:$gutter-width;
    .icon {
      @include arrow-in-circle($background-color: $menu-blue, $border-color: $white);
    }
    .text {
      padding-left:10px;
    }
  }
}
.thumb-16-9 {
  @include aspect-ratio(16,9);
  width:100%;
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
}
.alternating-section {
  padding-bottom:$gutter-width*3;
  .bucket {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    .col-half {
      position:relative;
      flex-basis:100%;
      @include bp(m) {
        flex-basis:50%;
      }
      &.image-col {
        display:contents;
        @include bp(m) {
          display:block;
        }
      }
    }
    &.image-right {
      flex-direction:column-reverse;
      @include bp(m) {
        flex-direction:row;
      }
    }
  }
}