.breadcrumbs-bucket {
  padding-top:70px;
  padding-bottom:0;
}
.breadcrumbs {
  font-size:14px;
  color:$classic-dark-grey;
  span, .separator {
    display:inline-block;
  }
  .separator {
    margin:0 5px 0 2px;
  }
  a {
    color:$turquoise;
    &:hover {
      color:$black;
      text-decoration: underline;
    }
  }
}

a.pager-thumb {
  position:relative;
  display:inline-block;
  margin:0 -.5px;
  width:50%;
  height:100px;
  overflow:hidden;
  padding:0 $gutter-width;
  background:$grey;

  color:$white;
  h4 {
    font-size:10px;
    text-transform: uppercase;
    margin:$gutter-width/4 0 0; padding:0;
    color:$white;
  }
  .title-wrapper, .arrow-wrapper {
    position:absolute;
    top:0;
    height:50px;
  }
  .arrow-wrapper {
    margin:50px 0 0;
    .next-arrow, .prev-arrow {
      position: absolute;
      top: 0;
      width: 1.5rem;
      height: 1.5rem;
      background: transparent;
      border-top: .4rem solid $white;
      border-right: .4rem solid $white;
      box-shadow: 0 0 0 transparent;
      transition: all 200ms ease;
    }
    .next-arrow {
      right: 0;
  		transform: translate3d(0,-50%,0) rotate(45deg);
    }
    .prev-arrow {
      left: 0;
  		transform: translate3d(0,-50%,0) rotate(-135deg);
    }
  }
  &.prev {
    .arrow-wrapper {
      left:10px;
    }
    .title-wrapper {
      left:40px;
      right:10px;
    }
  }
  &.next {
    .arrow-wrapper {
      right:10px;
    }
    .title-wrapper {
      right:40px;
      left:10px;
    }
  }
  &:hover {
    .next-arrow, .prev-arrow {
      border-top: .4rem solid $teal;
      border-right: .4rem solid $teal;
    }
    h4 {
      color:$teal;
      &.thumb-headline {
        color:$white;
      }
    }
  }
  @include bp(m) {
    position:fixed;
    z-index:9999;
    bottom:0;
    width:30px;
    height:50px;
    transition:all .25s ease-in-out;
    &.prev {
      left:0;
    }
    &.next {
      right:0;
    }
    .arrow-wrapper {
      margin:$gutter-width 0 0;
    }
    .title-wrapper {
      max-width:0;
      overflow:hidden;
    }
    &:hover {
      width:285px;
      .title-wrapper {
        max-width:100%;
      }
    }
  }

}
