.breadcrumbs-bucket {
  padding-top:70px;
  padding-bottom:0;
}
.breadcrumbs {
  font-size:14px;
  color:$classic-dark-grey;
  span, .separator {
    display:inline-block;
  }
  .separator {
    margin:0 5px 0 2px;
  }
  a {
    color:$turquoise;
    &:hover {
      color:$black;
      text-decoration: underline;
    }
  }
}

a.pager-thumb {
  position:relative;
  display:inline-block;
  margin:0 -.5px;
  width:50%;
  height:152px;
  overflow:hidden;
  padding:50px $gutter-width;
  border:1px solid $classic-light-grey;
  background:$white;
  z-index:9999;
  color:$black;
  h4 {
    font-size:10px;
    text-transform: uppercase;
    margin:0; padding:0;
    &.thumb-label {
      text-align: center;
    }
    &.thumb-headline {
      font-size:14px;
      margin-top:12px;
      text-transform: none;
    }
  }
  .thumb-wrapper, .title-wrapper, .arrow-wrapper {
    position:absolute;
    top:0;
    margin:$gutter-width 0;
    height:150px;
  }
  .thumb-wrapper {

    width:100px;
    .thumb {
      width:100px;
      height:100px;
      background-size:contain;
      background-repeat:none;
      background-position:center;
    }
  }
  .title-wrapper {

  }
  .arrow-wrapper {
    .next-arrow, .prev-arrow {
      position: absolute;
      top: 35%;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border-top: .4rem solid $classic-light-grey;
      border-right: .4rem solid $classic-light-grey;
      box-shadow: 0 0 0 transparent;
      transition: all 200ms ease;
    }
    .next-arrow {
      right: 0;
  		transform: translate3d(0,-50%,0) rotate(45deg);
    }
    .prev-arrow {
      left: 0;
  		transform: translate3d(0,-50%,0) rotate(-135deg);
    }
  }
  &.prev {
    .thumb-wrapper {
      left:35px;
    }
    .arrow-wrapper {
      left:10px;
    }
    .title-wrapper {
      left:145px;
      right:10px;
    }
  }
  &.next {
    .thumb-wrapper {
      right:35px;
    }
    .arrow-wrapper {
      right:10px;
    }
    .title-wrapper {
      right:145px;
      left:10px;
    }
  }
  &:hover {
    .next-arrow, .prev-arrow {
      border-top: .4rem solid $teal;
      border-right: .4rem solid $teal;
    }
    h4 {
      color:$teal;
      &.thumb-headline {
        color:$black;
      }
    }
  }
  @include bp(m) {
    position:fixed;
    bottom:50px;
    width:150px;
    transition:all .25s ease-in-out;
    &.prev {
      left:0;
    }
    &.next {
      right:0;
    }
    .title-wrapper {
      max-width:0;
      overflow:hidden;
    }
    &:hover {
      width:285px;
      .title-wrapper {
        max-width:135px;
      }
    }
  }

}
