.careers-about {
  text-align: center;
  .careers-panes {
    text-align: left;
  }
}
ul.copy-points.careers-menu {
  width:100%;
  li {
    flex-basis:25%;
    .text {
      font-size:1em;
    }
  }
}
section.career-target {
  padding-top:90px;
  &:first-child {
    padding-top:$gutter-width;
  }
}
#careers-video-carousel {
  .flickity-prev-next-button.previous { left: 10px;
  @include bp(m) {
    left: 10%;
  } }
  .flickity-prev-next-button.next { right: 10px;
  @include bp(m) {
    right: 10%;
  }
  }
  .content  {
    bottom:20%;
    left:$gutter-width;
    right:50%;
    height:auto;
    width:auto;
    position:absolute;
    &> * {
      position: static;
      display:block;
    }
    p {
      font-style:normal;
    }
  }
  .left-gradient {
    background:linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 60%);
  }
  .video-thumb {
    width:100%;
  }
}

.career-carousel-slide {
  width:100%;
  &:not(.is-selected) {
    opacity:0;
  }
}
#job-list {
  article {
    animation: fader .5s 1;
    @keyframes fader {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    h3 {
      margin:0;
      span {
        margin-right:1em;
      }
    }
    .job-link {
      transition:all .2s ease-in;
      &:hover {
        text-decoration: underline;
      }
    }
    .job-listing-bottom {
      padding-bottom:$gutter-width;
      border-bottom:1px solid $middle-gray;
    }
  }
  .job-description {
    max-height:5em;
    position:relative;
    overflow:hidden;
    margin-top:$gutter-width/2;
    &:after {
      content:'';
      position: absolute;
      bottom:0;
      left:0;
      height:3em;
      width:100%;
      background:linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%);
    }
  }
}
.job-filter {
  background:$light-gray;
  border:1px solid $classic-gray;
  border-radius:3px;
  padding:1em;
}
.apply-button {
  text-align:right;
}
a.filter-button {
  position:relative;
  color:$classic-gray;
  font-weight:300;
  display:block;
  padding:$gutter-width/2 0;
  padding-left:1.5em;
  &.active {
    color:$menu-blue;
    &:before {
      background-color:$menu-blue;
    }
  }
  &:before {
    content:'';
    position:absolute;
    left:0;
    background:$middle-gray;
    width:1em;
    height:1em;
    border-radius:.5em;
  }
  &:hover {
    color:$header-blue;
    &:before {
      background-color:$header-blue;
    }
  }
  .job-total {
    float:right;
    display:block;
    background:$middle-gray;
    border-radius:50%;
    padding:.2em .5em;
  }
}
ul.sdr-buttons {
  list-style:none;
  margin:0;
  padding:0;
  li {
    margin:0 0 $gutter-width;
    a.button {
      display:block!important;
    }
  }
}
#sdr-quote-carousel {
  padding:0;
  color:$white;
  p {
    text-align: left;
  }
  cite {
    text-align: left;
    display:block;
    font-weight:600;
    font-style: normal;
    .job-title {
      display:block;
      font-weight:400;
    }
  }
  .flickity-page-dots {
    bottom:10px;
    .dot.is-selected { 
      background:$menu-blue;
    }
  }
  .sdr-quote-thumb {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    @include aspect-ratio(1,1);
    border-radius:50%;
    border:2px solid $white;
  }
  .container {
    opacity:0;
    transition:.1s all ease-in;
    &.is-selected {
      opacity:1;
    }
  }
}
#featured-job {
  background:$header-blue;
  border:1px solid $black;
  margin-bottom:$gutter-width*2;
  padding:$gutter-width;
  text-align: center;
  &.careers {
    padding:$gutter-width/2 $gutter-width;
  }
  h1 {
    color:$white;
  }
  span, .button {
    margin-left:1em;
  }
  span.fa {
    margin-left:0;
    margin-right:.5em;
    font-size:2em;
  }
}