#cta-bar, #gdpr-warning {
  display:none;
  z-index:1;
  position:fixed;
  background:$white;
  box-shadow:0 0 20px rgba(0,0,0,.1);
  border-top:1px solid $blue;
  width:100%;
  margin:0;
  min-height:50px;
  vertical-align: middle;
  padding-bottom:$gutter-width/4;
  color:$black;
  bottom:0;
  left:0;
  text-align:center;
  a.button-cta-bottom {
    border-radius:5px;
    background:$menu-blue;
    color:$white;
    display:inline-block;
    text-transform:uppercase;
    padding:.5em 1.25em;
    margin-left:1em;
    font-size:12px;
    &:hover {
      background:$header-blue;
    }
  }
  h2 {
    display:inline-block;
    font-size:14px;
    margin:0;
    line-height: 50px;
  }

  @include bp(m) {
    height:50px;
  }
}
