.customers-grid {
  text-align: center;
  .customer-block {
    width:50%;
    display: inline-block;
    img {
      width:90%;
    }
    @include bp(m) {
      width:13%;
      margin:3.5%;
    }
    .customer-thumb {
      width:100%;
    }
  }
  ul.customer-utils {
    list-style: none;
    margin:0;
    padding:0 0 $gutter-width/4;;
    li {
      display:inline-block;
      a {
        span.fa-stack {
          color:$gray;
        }
        &:hover {
          span.fa-stack {
            color:$teal;
            cursor: pointer;
          }
        }
      }

    }
  }
}
.customer-thumb {
  @include aspect-ratio(3,2);
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  width:20%;
  margin:$gutter-width/2 auto;
}
.customer-carousel-slide {
  width:100%;
  .customer-slide-content {
    padding:0 $gutter-width*3 0 $gutter-width;
  }
    .customer-video-thumb {
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;

      .content {
        width:80%;
        margin-top:$gutter-width*2;
        p {
          font-size:24px;
          line-height: 36px;
          letter-spacing: .5px;
          font-weight:500;
          font-style: italic;
          position: relative;
          padding-left:$gutter-width*2.5;
          text-align: left;
          &::before {
            display: block;
            position: absolute;
            top: 10px;
            left: 10px;
            content:"\201C";
            font-size: 90px;
            color: $white;
            font-family: "Times",serif;
          }
        }
        cite {
          padding-left:$gutter-width*2.5;
          display:block;
          font-size:12px;
          font-weight:300;
          font-style:normal;
          margin-right:$gutter-width;
          display:block;
          line-height:1.75;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-align:left;
          color:$white;
          .name {
            display:block;
          }
          .title {
            display:block;
            font-style: italic;
          }
        }
        .button {
          margin:$gutter-width 0 0 $gutter-width*2.5;
          z-index:0;
        }


    }

  }

}
.customer-video-thumb {
  color: $white;
  background-size: contain;
  cursor: pointer;
  @include aspect-ratio(16,9);
  .left-gradient, .right-gradient, .full-gradient {
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
  }
  .left-gradient {
    background:linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  }
  .right-gradient {
    background:linear-gradient(to left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  }
  .full-gradient {
    background:rgba(0,0,0,.45);
  }
  a.video-play {
    margin:25% auto 0;
    padding:.5em 1em;
    .fa {
      margin-left:.5em;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    border:none;
  }

  .content {
    &>* {
      display:none;
    }


    h2 {
      color: $white;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 300;
      font-style: italic;
      margin: 0 0 $gutter-width;

      &.no-quote {
        font-style: normal;
      }
    }

    cite {
      margin-top: $gutter-width;
      font-style: normal;
      font-size: 14px;
      line-height: 30px;
      font-weight: 300;
    }
    a.video-play {
      color: $gray;
      background: $white;
      display: inline-block;
    }

  }
  @include bp(m) {
    .content {
      &>* {
        display:block;
      }
      width: auto;
      height: auto;
      padding: $gutter-width;
      margin: 80px 50px 30px 50%;

      &.left {
        margin: 80px 50% 30px 50px;
      }
      a.video-play {
        margin-top: $gutter-width;
        border-radius: 50px;
        padding: 8px 12px;

        .cta {
          margin-top: -1.5em;
          font-size:20px;
          text-transform: uppercase;
          font-weight:700;
          padding-left:10px;
        }

        .fa {
          margin-left: 1em;
        }
      }
      cite {
        display:block;
      }
    }
  }
}
