.features-header {
  background-size:cover;
  background-position:center top;
  padding-top:80px;
  padding-bottom:$gutter-width;
  .pc-image {
    display:none;
    @include aspect-ratio (750,455);
    background-size:cover;
    background-position:bottom cetner;
    width:100%;
  }
  .features-image-bucket {
    position:relative;
  }
  .mobile-image {
    display:none;
    @include aspect-ratio(286,554);
    position:absolute;
    width:40%;
    top:70px;
    right:0;
    background-size:contain;
    background-repeat:none;
    background-position:top right;
    z-index:1;
  }
  @include bp(s) {
    h1 {
      padding-top:2em;
    }
  }
  @include bp(m) {
    padding-top:150px;
    padding-bottom:0;
    .pc-image, .mobile-image {
      display:block;
    }
  }
}
.feature-menu {
  ul.copy-points {
    width:100%;
      li {
      flex-basis:25%;
      .text {
        font-size:1.2em;
      }
    }
  }
}
.features-section {
  padding-top:$gutter-width*3;
  h2 {

    &.features-section-header {
      position:relative;
      display:flex;
      margin:.5em 0 .25em;
      span {
        
        flex-shrink:1;
        &:first-child {
          padding-right:.5em;
        }
        &:last-child {
          flex-grow:1;
          border-bottom:1px solid $blue;
          height:.6em;
        }
      }
    }
  }
  .feature-block-cta {
    display:flex;
    margin-top:$gutter-width;
    margin-bottom:$gutter-width;
    span {
      display:inline-block;
      width:1.5em;
      height:1.5em;
      background-repeat:no-repeat;
      background-size:contain;
      margin-right:.5em;
    }
  }
  ul.feature-bullets {
    list-style:none;
    margin:0;
    padding:0;
    li {
      
      .content {
        max-height:0;
        overflow:hidden;
        margin-left:30px;
        transition:all .1s;
        font-size:14px;
        p:first-child {
          margin-top:0;
        }
        ul {
          list-style:disc;
          display:flex;
          flex-wrap:wrap;
          li {
            flex-basis:50%;
            flex-grow:1;
            flex-shrink:1;
          }
        }
      }
      label {
        color:$blue;
        font-weight:700;
        position:relative;
        margin-left:30px;
        line-height:2;
        cursor:pointer;
        .icon {
          @include arrow-in-circle($size:25px);
          position:absolute;
          left:-30px;
          top:0;
          transition:transform .1s ease-out;
        }
      }
      input {
        display:none;
        &:checked {
          ~ .content {
            max-height:100vh;
            transition:all .35s;
          }
          ~ label .icon {
            transform:rotate(90deg);
          }
        }
      }
    }
  }
  .bucket {
    display:flex;
    flex-wrap:wrap;
    &.image-left {
      flex-wrap:wrap-reverse;
    }
    &.image-right {
      flex-wrap:wrap;
    }
    @include bp(m) {
      &.image-left {
        flex-wrap:wrap;
      }
      &.image-right {
        flex-wrap:wrap;
      }
    }
    .col-half {
      flex-basis:100%;
      flex-grow:1;
      
      @include bp(m) {
        flex-basis:50%;
        flex-shrink:1;
      }
      &.text-col {
        .ext-link {
          margin-left:30px;
          padding-top:$gutter-width;
          display:block;
        }
      }
    }
  }
  .features-image {
    margin-top:$gutter-width;
    @include aspect-ratio(7,6);
    width:100%;
    background-size:contain;
    background-position:center top;
    @include bp(m) {
      margin-top:0;
    }
    
    
  }
}
.features-bottom-section {
  margin-top:$gutter-width*2;
}
.features-bottom {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  .feature-bottom-bucket {
    flex-basis:100%;
    flex-grow:1;
    flex-shrink:1;
    padding:$gutter-width;
    margin:$gutter-width/2;
    background:$white;
    text-align:center;
    h2, p {
      color:$black;
    }
    p {
      text-align:left;
    }
    .fa {
      font-size:3em;
      color:$blue;
      width:100%;
      text-align: center;
    }
  }
  @include bp(m) {
    flex-wrap:nowrap;
    .feature-bottom-bucket {
    flex-basis:33%;
    }
  }
}