.feature-icon-menu {
    .col-md-2 {
        text-align:center;
        h2 {
            font-size:18px;
        }
        .fa-stack {
            font-size:3em;
        }
    }
}
.feature-bucket {
    padding-top:5vw;
    min-height:50vw;
}