$time:12s;
.logo-flipper {
    display:flex;
    width:100%;
    flex-wrap:wrap;
    min-height:100px;
    .flipper-wrapper {
      flex-basis:33.33%;
      position:relative;
      @include bp(s) {
        flex-basis:16.6%;
      }
    }
    &.adwords {
      .flipper-wrapper {
        flex-basis:33.33%;
        @include bp(s) {
          flex-basis:25%;
        }
      }
    }
    .logo-thumb { 
      position: absolute;
      background-size:contain;
      background-position: center center;
      background-repeat:no-repeat;
      top: 0;
      left:0;
      width: 100%;
      animation: flip $time ease-out alternate infinite forwards;
      transform-style: preserve-3d;
      &:after {
        content: "";
        display: block;
        padding-bottom: 40%;
      }
      &.flipped {
        transform: rotateX(90deg);
        animation: flip $time ease-out alternate-reverse infinite forwards;
        transform-style: preserve-3d;
      }
    }
    @keyframes flip{
      0% {
        transform: rotateX(90deg);
        opacity:0;
      }
      30% {
        opacity:0;
      }
      50% {
        transform: rotateX(90deg); 
        opacity:1;
      }
      55% {
        transform: rotateX(0deg);
      } 
      100% {
        transform: rotateX(0deg);
        opacity:1;
      }
    }
  }