footer .container {
  width: 100%;
  padding: 0 $gutter-width*2;
  background: $light-grey;
  color:$classic-grey;
}

.footer-top {
  ul {
    margin: 0;
    padding: 0 0 $gutter-width;
    list-style: none;

    &.social-links {
      margin-left:0em;
      li {
        .fa-stack {
          font-size:1.5em;
        }
      }
    }

    a,
    li {
      line-height: 24px;
      text-align: center;
      @include bp(m) {
        text-align: left;
      }
    }

    li {
      text-transform: uppercase;

      &.footer-address {
        .fa-stack {
          display: none;
          @include bp(m) {
            display: inline-block;
          }
        }
        margin-bottom: $gutter-width;
      }

      &.footer-phone {
        .fa-stack {
          display: none;
          @include bp(m) {
            display: inline-block;
          }
        }
      }

      p {
        margin: 0;
        padding: 0;
      }

      a {
        line-height: 1.8;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    span {
      margin-right: 0.5em;
      vertical-align: top;
    }

    p {
      display: inline-block;
    }
    .fa-stack {
      font-size:1em;
      .fa-circle {
        color: $white;
        &:before {
          color:$middle-grey;
        }
      }

      .fa-inverse {
        color:$white;

      }
    }

  }

  h5 {
    text-align: center;
    margin: $gutter-width 0 $gutter-width/2;
    font-size:1.4em;
    @include bp(m) {
      text-align: left;
    }
  }
}

ul.site-links {
  li {
    a {
      text-transform: uppercase;
      letter-spacing: 1px;
      color:$classic-grey;
    }
  }
}

.logo-footer {
  width: 200px;
  margin: 0 auto 1.5em;
}

.footer-bottom {

  a,
  p {
    font-size: 12px;
  }

  ul {
    text-align: right;

    li {
      display: inline-block;
      list-style-type: none;
      margin-left: 2em;

      a {
        text-decoration: underline;
      }
    }
  }
}
