footer .container {
  width:100%;
  padding:0 $gutter-width*2;
}

.footer-top {
  padding: $gutter-width*2 0 $gutter-width*1.5;
  background-color: darken($grey, 5%);
  ul {
    margin:0;
    padding:0 0 $gutter-width;
    list-style:none;
    &.social-links {
      text-align:center;
      li {
        display:inline-block;
        text-transform:uppercase;
        letter-spacing:1px;
        font-size:12px;
      }
      p {
        display:none
      }
      @include bp(m) {
        li {
          display:block;
        }
        p {
          display:inline-block;
          margin-left:-3px;
          &:hover {
            text-decoration: underline;
            color:$white;
          }
        }
      }
    }
    li, a {
      color:$white;
      line-height:24px;
      text-align:center;
      @include bp(m) {
        text-align:left;
      }
    }
    li {
      &.footer-address, &.footer-phone {
        text-transform:uppercase;
        letter-spacing:1px;
        font-size:12px;
      }
      &.footer-address {
        .fa-stack {
          display:none;
          @include bp(m) {
            display:inline-block;
          }
        }
        margin-bottom:$gutter-width;
      }
      &.footer-phone {
        .fa-stack {
          display:none;
          @include bp(m) {
            display:inline-block;
          }
        }
      }
      p {
        margin:0;
        padding:0;
      }
      a {
        line-height:1.8;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    span {
      margin-right: 0.5em;
      vertical-align: top;
    }

    p {
      display: inline-block;
    }

    .fa-circle {
      color: darken($grey, 10%);
    }

    .fa-inverse {
      opacity: 0.3;
    }
  }

  h5 {
    color: rgba(255, 255, 255, 0.25);
    text-transform:uppercase;
    font-weight:300;
    font-size:16px;
    letter-spacing: 1.5px;
    text-align: center;
    margin:$gutter-width 0 $gutter-width/2;
    @include bp(m) {
      text-align: left;
    }
  }
}
ul.site-links {
  li {
    a {
      text-transform:uppercase;
      letter-spacing:1px;
      font-size:12px;
      color:$beige;
      &:hover {
        text-decoration: underline;
        color:$white;
      }
    }
  }
}

.logo-footer {
  width: 200px;
  margin:0 auto 1.5em;
  @include bp(m) {
    opacity:0.5;
  }
}

.footer-bottom {
  background-color: darken($grey, 12%);
  color: rgba(white, 0.3);
  padding: 2em 0 1em;
  margin-bottom:50px;
  a, p {
    font-size: 12px;
  }
}
.footer-bottom ul {
  text-align: right;

  li {
    display: inline-block;
    list-style-type: none;
    margin-left: 2em;

    a {
      color: rgba(white, 0.2);
      text-decoration: underline;
      &:hover {
        color:$white;
      }
    }
  }
}
