footer {

  background: $light-gray;
  color:$classic-gray;
  .container {
    padding-top:$gutter-width/2;
  }
}
.footer-top {
  padding-bottom:$gutter-width*2;
  .address-block {
    margin-bottom:3em;
    @include bp(m) {
      margin-bottom:inherit;
    }
  }
  a {
    letter-spacing: 1px;
    color:$classic-gray;
    &:hover {
      color:$header-blue;
      text-decoration: underline;
    }
    &.demo-link {
      font-weight:600;
      color:$header-blue;
    }
  }
  h5 {
    margin: $gutter-width*1.5 0 $gutter-width/2;
    font-size:1.2em;
    font-family:$body-font;
    font-weight:300;
    letter-spacing:1px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    &.no-header {
      margin-top:$gutter-width*1.5;
    }
    li {
      text-align: left;
      a {
        line-height:1.8;
      }
    }

    p {
      display: inline-block;
    }
    .fa-stack {
      font-size:1.5em;
      @include bp(m) {
        font-size:1em;
      }
      .fa-circle {
        color: $white;
        &:before {
          transition:.15s color ease-in;
          color:$menu-blue;
        }
      }

      .fa-inverse {
        color:$white;

      }
    }
    a {
      &:hover {
        .fa-stack .fa-circle {
          &:before {
            color:$header-blue;
          }
        }
      }
    }
  }
}

.logo-footer {
  width: 200px;
  margin: $gutter-width/2 auto 1.5em;
}

.footer-bottom {
  padding:$gutter-width/2 0 $gutter-width*3;
  p {
    font-size: 12px;
    a {
      padding:0 .5em;
      &:hover {
        text-decoration: underline;
      }
      &:first-child {
        padding-left:0;
      }
    }
    &.right {
      text-align:left;
      @include bp(m) {
        text-align:right;
      }
    }

  }
}
