header.page-header {
  z-index: 2;
  background:$nav-bg-tall;
  width: 100%;
  padding-top:$nav-short;
  box-shadow:0px 0px 10px rgba(0,0,0,0);
  @include ds-transition();
  nav.main {
    display: flex;
    vertical-align: bottom;
  }
  .logo-bucket {
    
    padding-left: $gutter-width;
    flex-basis: 20%;
    position: relative;
    display: inline-block;
    
    img {
      height: $nav-tall;
      @include ds-transition();
      max-height: 100%;
      width: auto;
    }
  }
  ul.top-nav {
    flex-basis: 80%;
    text-align: right;
    position: relative;
    align-self: center;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      position: relative;
      display:none;
      &.show-mobile {
        display:inline-block;
      }
      a {
        display: block;
        padding: 0 $gutter-width/2;
        line-height:50px;
        color: #000;
        text-transform: capitalize;
        font-size: 18px;
        position: relative;
        &.hamburger {
          padding: 17px 60px 0 0;
        }
        &#btn-search-header {
          padding:0 $gutter-width;
        }
        &.cta {
          border: 1px solid $blue;
          border-radius: 6px;
          @include ds-transition();
          line-height:2;
          padding:0 $gutter-width/2;
          margin:0 0 0 $gutter-width/2;
          &:hover {
            background: $blue;
            color: white;
            text-decoration:none;
          }
        }
        &:hover {
          text-decoration:underline;
        }
      }
      &:hover, &.active {
        a {
          color:$blue;
        }
      }
      &.active {
        > a {
          text-decoration:underline;
        }
        a.cta {
          text-decoration:none;
          background:$blue;
          color:$white;
        }
      }
      @include bp(m) {
        &.show-medium {
          display:inline-block;
        } 
      }
      @include bp(l) {
        display:inline-block;
      }
    }
    li.has-drop {
      position: relative;
      text-align: left;
      .drop {
        &:before {
          content: "";
          transition: all 0.2s 0.1s ease-in;
          border: $arrow-width solid transparent;
          border-bottom: $arrow-width solid $blue;
          position: absolute;
          left: $gutter-width/2;
          margin-left: -1 * $arrow-width/2;
          top: -2 * $arrow-width;
        }
        z-index: 1;
        background: $blue;
        margin: 0;
        border-radius:3px;
        padding: $gutter-width/4 0;
        transform: rotateY(90deg);
        transition: transform 0.2s ease-out;
        position: absolute;
        top: 50px;
        z-index: 2;
        left: $gutter-width*.25;
        min-width: 100%;
    
        li {
          display: block;
          margin: 0;
          padding: 0;
          hr {
            margin:$gutter-width/3 $gutter-width/2;
            border-color:$lighter-gray;
          }
          a {
            line-height: 1.2;
            font-size: .8em;
            letter-spacing:0.5px;
            white-space: nowrap;
            font-weight:400;
            color:#fff;
            padding:$gutter-width/3 $gutter-width/2;
            text-shadow:none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      &:hover {
        a {
          color:$blue;
        }
        &:after {
          opacity: 1;
          transform: rotateZ(0);
        }
        .drop {
          transform: rotateY(0);
        }
      }
    }
  }
  &.active {
    background:$nav-bg-short;
    box-shadow:0px 0px 10px rgba(0,0,0,.2);
    .logo-bucket img {
      height:$nav-short;
    }
    ul.top-nav {
      li.has-drop {
        a {
          line-height:$nav-short;
        }
        .drop {
          top:$nav-short;
        }
      }

    }


  }
}
ul.hmenu {
  display: inline-block;
  list-style: none;
  li {
    display: inline-block;
  }
}



.hamburger {
  position: relative;
  width: 26px;
  height: 25px;
  
  .line {
    width: 26px;
    height: 3px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    transition: transform 0.25s ease-out;
    &.top {
      transform: translateY(-8px);
    }
    &.bottom {
      transform: translateY(8px);
    }
  }
  &.active {
    .line.middle {
      opacity: 0;
    }
    .line.top {
      transform: rotate(45deg);
    }
    .line.bottom {
      transform: rotate(-45deg);
    }
  }
  &:hover {
    .line {
      background:$blue;
    }
  }
}
