$nav-height-tall:80px;
$nav-bg-tall:rgba(255,255,255,.65);
$nav-height-short:50px;
$nav-bg-short:rgba(255,255,255,1);

#page-header {
  transition:all 0s ease-in;
  background:$nav-bg-tall;
  height:$nav-height-tall;
  position: fixed;
  top:0;
  width:100%;
  z-index:99;
  .inner {
    padding:0 $gutter-width;
  }
  .logo {
    display:inline-block;
    margin-top:5px;
    position:relative;
    img {
      height:$nav-height-tall * .75;
      width:auto;
    }
    &:hover {
      color:$beige;
    }
  }
  &.active {
    transition:all .25s ease-in;
    box-shadow:0 0 24px rgba(0,0,0,.1);
    height:$nav-height-short;
    background:$nav-bg-short;
    .logo {
      margin-top:0;
      img {
        height:$nav-height-short;
      }
    }
  }
}
