header.page-header {
  position:fixed;
  top:0;
  z-index: 2;
  background:$nav-bg-tall;
  width: 100%;
  padding-top:0;
  box-shadow:0px 0px 10px rgba(0,0,0,0);
  @include ds-transition();
  nav.main {
    display: flex;
    vertical-align: bottom;
    .logo-bucket {
      margin-left: $gutter-width;
      flex-basis: 20%;
      position: relative;
      display: inline-block;
      max-height: 100%;
      background-position:top left;
      background-size:contain;
      background-repeat:no-repeat;
      height:$nav-tall;
      @include ds-transition();
      @include bp(s) {
        height:$nav-tall;
      }
    }
    ul.top-nav {
      flex-basis: 80%;
      text-align: right;
      position: relative;
      align-self: center;
      margin: 0;
      padding: 0 $gutter-width 0 0;
      background-color:transparent;
      box-shadow:none;
      border-bottom:none;
      height:auto!important;
      li {
        margin: 0;
        padding: 0;
        position: relative;
        display:none;
        &.show-mobile {
          display:inline-block;
        }
        a {
          display: block;
          padding: 0 $gutter-width/2;
          line-height:50px;
          color: $black;
          text-transform: capitalize;
          font-size: 14px; 
          position: relative;
          
          &.hamburger {
            padding: 17px 60px 0 12px;
          }
          &#btn-search-header {
            padding:0 $gutter-width/2;
            font-size:1.2em;
          }
          &.cta {
            border: 1px solid $header-blue;
            background:$header-blue;
            color:$white;
            border-radius: 6px;
            @include ds-transition();
            line-height:2;
            padding:0 $gutter-width/2;
            margin:0 $gutter-width/2;
            &:hover {
              background: darken($header-blue,15%);
              text-decoration:none;
              color:$white;
            }
          }
          &:hover {
            text-decoration:underline;
            
          }
        }
        &:hover, &.active {
          a {
            color:$blue;
            text-shadow:1px 1px 5px rgba(255,255,255,.5);
          }
        }
        &.active {
          > a {
            text-decoration:underline;
          }
          a.cta {
            background: darken($header-blue,15%);
            color:$white;
            text-decoration:none;
          }
        }
        @include bp(m) {
          &.show-medium {
            display:inline-block;
          } 
          &.hide-medium {
            display:none;
          }
        }
        @include bp(l) {
          display:inline-block;
          &.hide-large {
            display:none;
          }
        }
      }
      li.has-drop {
        position: relative;
        text-align: left;
        .drop {
          z-index: 1;
          background: $blue;
          margin: 0;
          border-radius:3px;
          padding: $gutter-width/4 0 $gutter-width/3;
          //transform: rotateY(90deg);
          display:none;
          position: absolute;
          top: 50px;
          z-index: 2;
          left: 0;
          min-width: 100%;
          box-shadow:0px 5px 10px rgba(0,0,0,.3);
          @include ds-transition();
          /*
          &:before {
            content: "";
            transition: all 0.2s 0.1s ease-in;
            border: $arrow-width solid transparent;
            border-bottom: $arrow-width solid $blue;
            position: absolute;
            left: $gutter-width/2;
            margin-left: -3px;
            top: -2 * $arrow-width;
          }    
          */
          li {
            display: block;
            margin: 0;
            padding: 0;
            hr {
              margin:$gutter-width/3 $gutter-width/2;
              border-color:rgba(255,255,255,0.3);
            }
            a {
              line-height: 1.2;
              font-size: .8em;
              letter-spacing:0.5px;
              white-space: nowrap;
              font-weight:400;
              color:#fff;
              padding:$gutter-width/3 $gutter-width/2;
              text-shadow:none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        &:hover {
          a {
            color:$blue;
          }
          .drop {
            //transform: rotateY(0);
            display:block;
          }
        }
      }
    }

  }
  &.homepage {
    background:rgba(255,255,255,0);
    nav.main {
      .logo-bucket {
        background-image: url($img-path + "logo-header-white.png") !important;
      }
      ul.top-nav li {
        a {
          color:$white;
          text-shadow:1px 1px 5px rgba(0,0,0,.5);
        }

        &:hover {
          a {
            text-shadow:1px 1px 5px rgba(255,255,255,.5);
          }
        }
      }     
    }
  }
}

body.nav-short {
  header.page-header, header.page-header.homepage {
    width:100%;
    background:$nav-bg-short;
    box-shadow:0px 0px 10px rgba(0,0,0,.2);
    padding-top:0;
    nav.main {
      .logo-bucket {
        height:$nav-short;
        background-image: url($img-path + "logo-header.png") !important;
      }
      ul.top-nav {
        .hamburger .line {
          background:$black;
        }
        li.has-drop {
          a {
            line-height:$nav-short;
            text-shadow:none;
            color:$black;
          }
          &.active {
            a {
              color:$blue;
            }
          }
          .drop {
            top:$nav-short;
            a {
              line-height:1.2;
              color:$white;
            }
          }
        }
      }
    }
  }
}
