.logo-slide {
  width:33%;
  text-align: center;
  img {
    height:auto;
    width:80%;
    @include bp(m) {
      max-height:70px;
      width:auto;
    }
  }
  @include bp(m) {
    width:20%;
  }
}
.home-third-section {
  padding-top:0;
  p.home-secondary {
    margin-top:0;
  }
}
.homepage-solutions .col-md-12 {
  @include bp(m) {
    display:flex;
    justify-content: space-between;
  }

  .homepage-solution-bucket {
    flex:1;
    display:block;
    padding:0 $gutter-width $gutter-width/2;
    border:1px solid $gray;
    box-shadow:0 0 0 $gray;
    text-align: center;
    margin:0 0 $gutter-width;
    transition: box-shadow .25s ease-in;
    &:hover {
      box-shadow:2px 3px 3px $gray;
    }
    h2 {
      span.icon-solutions {
        height:2em;
        min-width:2em;
        background-size:cover;
        display:inline-block;
        flex-basis:20%;
        margin-bottom:-.25em;
        display:none;
        @include bp(m) {
          display:inline-block;
        }
      }
      span.header {
        font-size:.7em;
        flex-basis:80%;
        padding-left:0;
        text-align:center;
        display:inline-block;
        @include bp(m) {
          padding-left:.5em;
          text-align:left;
          font-size:.6em;
        }
        @include bp(l) {
          font-size:.7em;
        }
      }
    }
    @include bp(m) {
      padding:0 $gutter-width $gutter-width/2;
      margin:0 $gutter-width;
      &:first-child {
        margin-left:0;
      }
      &:last-child {
        margin-right:0;
      }
    }
  }
}
section.hero-homepage {
  background:linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
  background-size:cover;
  padding-top:180px;
  padding-bottom:0;
  .hero-copy {
    text-align: center;
    h1 {
      font-weight:normal;
      font-size:2.45em;
      margin:$gutter-width*2 0 0;
      text-align:left;
    }
    p {
      text-align: left;
      line-height:1.8;
      font-size:1.25em;
      margin-top:0;
    }
  }
  .hero-img {
    .flickity-slider {
      transform: none !important;
    }
    .slide {
      left: 0 !important;
      bottom:0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: -1;
      &.is-selected {
        opacity: 1;
        z-index: 0
      }
    }
    

  }
}

/* New Home Styles */

section.homepage-partners {
  background-size:cover;
  background-position:bottom center;
  padding-bottom:35vw;
  text-align:center;
  h2 {
    font-size:1.8em;
    text-transform:uppercase;
    @include bp(m) {
      font-size:2.2em;
    }
  }
  p {
    line-height:1.8;
  }
}
p.home-secondary {
  font-size:1.4em;
  text-align: center;
  &.left {
    text-align:left;
  }
}
.vertical-carousel {
  position:relative;
  display:flex;
  .carousel-images {
    display:none;
    flex-basis:50%;
    overflow-y:hidden;
    height:500px;
    position:relative;
    @include bp(m) {
      display:block;

    }
    @include bp(l) {
      height:600px;
    }
    &:after {
      content:'';
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background:url($img-path + "iphoneframe.png") no-repeat center top;
      background-repeat:no-repeat;
      background-size:contain;
    }
    .inner {
      transition:.35s transform ease-in;
      
      overflow:hidden;
      .vertical-slide {
        @include aspect-ratio(321,670);
        background-position:center center;
        background-size:contain;
        background-repeat:no-repeat;
        @include bp(m) {
          padding:0 23.9%;
        }
        @include bp(l) {
          padding:0 25%;
        }
      }
      &.position-1 {
        transform:translateY(.8%);
      }
      &.position-2 {
        transform:translateY(-32.5%);
      }
      &.position-3 {
        transform:translateY(-65.8%);
      }
    }
  }
  .carousel-panels {
    @include bp(m) {
      flex-basis:50%;
     
    }
    @include bp(l) {
      margin-top:60px;
    }
    display:block;
    p.source {
      @include bp(m) {
        padding-left:$gutter-width;
      }
    }
    .carousel-panel {
      display:block;
      margin-bottom:$gutter-width/2;
      
      @include bp(m) {
        padding-left:$gutter-width;
        border-left:3px solid $gray;
        &.active {
          border-left:3px solid $blue;
        }
        &:hover {
          h2,h3,p {
            color:$blue;
          }
        }
      }

    }


  }
}
.demo-videos {
  background:url($img-path + "bg-home-bluetriangle.jpg") no-repeat center center;
  background-size:cover;
  position: relative;
  padding-top:0;
  .learn-link {
    color:$blue;
    display:block;
    text-align: center;
    margin-top:$gutter-width/2;
    &:hover {
      text-decoration: underline;
    }
  }
  .demo-video-wrapper {
    .demo-video-bucket {
      margin:$gutter-width/2;
      position:relative;
      padding-bottom:4em;
      .outer {
        position:absolute;
        bottom:0;
        right:0;
        left:0;
        top:90px;
        z-index:0;
        background:$white;
      }
      .button-wrapper {
        position: relative;

        width:100%;
        text-align: center;
      }
    }
    @include bp(m) {
      display:flex;
      align-content: space-between;
      .demo-video-bucket {
        flex-basis:30%;
        .button-wrapper {
          position: absolute;
          bottom:$gutter-width/2;
          left:0;
        }

      }
    }
  }
  a h2 {
      display:block;
      background:transparent;
      padding:$gutter-width $gutter-width $gutter-width/2;
      color:$gray;
      margin:0;
      font-family: $body-font;
      text-transform: uppercase;
      &:hover {
        color:$white;
      }
  }
  h2 {
    font-size:1.1em;
    text-align: center;
    @include bp(m) {
      font-size:1.25em;
    }
  }
  h3 {
    font-size:1.2em;
    @include bp(m) {
      font-size:1.4em;
    }
  }
  p {
    line-height:1.8;
  }
  .inner {
    text-align: center;
    display:block;
    padding:$gutter-width/2;
    z-index:1;
    position: relative;
  }
  .col-3 {
    background:$white;
  }
  &.interior {
    background:$white;
    padding-top:$gutter-width;
    .demo-video-bucket {
      //background:$blue;
      color:$white;
      padding-bottom:10%;
      @include bp(m) {
        padding-bottom:30%;
      }
      .inner-wrapper, .button-wrapper {
        background:$blue;
      }
      .inner-wrapper {
        height:100%;
      }
      p,h2,h3 {
        color:$white;
      }
      h4 {
        text-align:center;
        font-weight:300;
      }
      .demo-thumb {
        @include aspect-ratio(16,9);
        background-size:cover;
        width:92%;
        margin:0 4%;
        display:block;
        margin-bottom:$gutter-width;
      }
      .button {
        display:block;
        margin:0 $gutter-width $gutter-width; 
      }
    }
  }
}
.homepage-panel-link {
  background-size:cover;
  background-position:center center;
  display:block;
  position:relative;
  margin-bottom:$gutter-width;
  @include bp(m) {
    margin-bottom:0;
  }
  .inner {
    position: relative;
    @include bp(m) {
      position:absolute;
      top:0;
      bottom:50px;
      right:0;
      left:0;
    }
    padding:$gutter-width;
  }
  .panel-cta {

    background:$blue;
    color:$white;
    width:100%;

    text-align:center;
    line-height:50px;
    @include bp(m) {
      position:absolute;
      background:$blue;
      bottom:0;
      left:0;
      height:50px;
    }
  }
  &:after {
    content:'';
    //padding-bottom:65%;
    display:block;
    width:100%;
    @include bp(m) {
      position:static;
      background:transparent;
      padding-bottom:65%;
    }
  }
  h2,p {
    color:$white;
  }
  .fa {
    padding-left:.5em;
    font-size:1.2em;
  }
  &:hover {
    .panel-cta {
      background:$menu-blue;
    }
    opacity:0.9;
  }
  .quote {
    width:60%;
    margin-left:35%;
    font-size:1.2em;
  }
  cite {
    width:50%;
    margin-left:45%;
    color:$white;
    display:block;
    font-style: normal;
    text-transform:uppercase;
    font-size:.8em;
  }
  &.has-quote {
    background-position:-100px 0;
    @include bp(s) {
      background-position:center center;
    }
    &:before {
      content:'';
      display:block;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background:linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); 
    }
  }
}
section.home-featured-article {
  background:$white;
  display:flex;
  .bg {
    display:block;
    height:auto;
    flex-shrink:1;
    flex-grow:1;
    background:url($img-path + "bgarticle.jpg") repeat-y top right;
    background-size:cover;
    &.right {
      transform:rotateY(180deg);
    }
  }
  .content {
    max-width:1000px;
    flex-basis:100%;
    border-radius:20px 20px 0 0;
    box-shadow:0 -5px 10px rgba(0,0,0,.1);
    background:white;
    border:5px solid #ccc;
    padding:$gutter-width;
    margin-top:$gutter-width;
    border-bottom:none;
    h2 {
      margin-top:0;
    }
    .fa {
      margin-right:.5em;
      color:$canary-blue;
    }
  }
  article {
    .home-featured-thumb {
      @include aspect-ratio(13,3);
      width:100%;
      background-size:cover;
    }
  }
}
.home-featured-ebook {
  position:relative;
  background:url($img-path + "bg-home-orangecrush.jpg") no-repeat left center;
  background-size:cover;
  color:$white;
  .home-ebook-thumb {
    @include aspect-ratio(10,6);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
  }
  h1, h2, h3, p {
    color:$white;
  }
}