section.hero.home-hero {
  color:$white;
  padding-bottom:100px;
  h1,h2,.cta {
    position:relative;
    color:$white;
  }
  h1 {
    font-size:30px;
    line-height:44px;
    font-weight: 700;
    margin-top:$gutter-width;
    @include bp(s) {
      font-size:36px;
    }
    @include bp(m) {
      font-size: 60px;
      line-height: 72px;
    }
  }
  h2 {
    font-size:18px;
    margin-bottom:$gutter-width;
    @include bp(m) {
      font-size:30px;
    }
  }
  .cta {
    display:inline-block;
    width:auto;
  }
}
.bg-video video {
  width:100%;
}
section.testimonials.container {
  margin:0;
  padding:50px 0 640px;
  background-position:center bottom;
  width:100%;
  .row {
    width:100%;
  }
  .quote, cite {
      padding-left:$gutter-width;
  }
  .quote {
    font-size:30px;
    line-height:36px;
    font-weight:300;
    .text--bold {
      font-weight:600;
    }
    .text--teal {
      color:$teal;
    }
  }
  cite {
    display:block;
    text-align:center;
    font-size:24px;
    margin-top:30px;
    font-weight:300;
    font-style:normal;
  }
}

.logo-grid {
  padding:$gutter-width*2 0;
}

#testimonial-strip {
  height:100px;
  margin:$gutter-width*2 auto;
}
#product-display {
  padding-top:$gutter-width*2;
}
.product-images {
  position:relative;
}
.mobile-products {
  .product-image {
    width:40%;
    margin-left:30%;
    @include bp(m) {
      width:60%;
      margin-left:40%;
    }
    background:url($img-path+'product-mobile.svg') no-repeat center top;
    background-repeat: no-repeat;
    background-size: 100%;
    @include aspect-ratio(1,2.5);
    img {
      width: 86%;
      height: auto;
      margin: 27% 0 0 7.3%;
    }
  }
}
.container.product-display {
  width:100%;
}
.desktop-products {
  .product-image {
    background:url($img-path+'product-desktop.svg') no-repeat left top;
    background-repeat: no-repeat;
    background-size: 200%;
    overflow:hidden;
    @include aspect-ratio(3,4);
    img {
      width: 144%;
      height: auto;
      margin: 11.4% 0 0 27.7%;
    }
  }
}
.product-image {
  display:none;
  &.active {
    display:block;
  }
}
.mobile-product-tile {
  @include bp(m) {
    width:70%;
    margin-right:30%;
  }

}
.desktop-product-tile {
  @include bp(m) {
    width:70%;
    margin-left:30%;
  }
}
.product-tiles {
  h3 {
    text-transform: uppercase;
  }
  h2 {
    @include bp(m) {
      width:70%;
      margin-left:30%;
    }
  }
  p {
    font-weight:300;
    font-size:16px;
    line-height:24px;
    letter-spacing:1px;
  }
  a {
    display: block;
    padding:0 $gutter-width/2;
    margin-bottom:$gutter-width;
    color:$grey;
    border:2px solid transparent;
    transition:all .25s ease-in;
    border-radius:5px;
    &:hover, &.active {
      border-color:$teal;
    }
  }
}
#logo-grid {
  .row,.container {
    width:100%;
  }
  img {
    max-height:50px;
    width:auto;
    max-width:100%;
  }
}
