body.gdpr-open {
  overflow:hidden;
  #wrapper {
    &:before {
      display:block;
    }
  }

}
#gdpr-warning {
  bottom:0;
  background:rgba(27,49,82,.9);
  color:$white;
  h2, a {
    color:$white;
  }
  padding-top:40px;
  display:block;
  a.button-cta-bottom {
    background: $header-blue;
    color:$white;
    margin-left:0 0 4px 1em;
    &:hover {
      background:lighten($header-blue,20%);
    }
    font-size:14px;
    &.knockout {
      font-weight:400;
      font-size:12px;
      background:transparent;
      //border:1px solid $light-gray;
      color:$light-gray;
      text-decoration:underline;
      padding-left:0;
      padding-right:0;
      margin-left:1em;
      &:hover {
        text-decoration:none;
      }
    }
  }
  @include bp(m) {
    height:150px;
    &.modal {
      position:fixed;
      top:20%;
      bottom:20%;
      height:auto;
      width:50%;
      left:25%;
      .container {
        width:100%;
      }
    }
  }
  .gdpr-buttons {
    text-align:left;
    p {
      margin:0 0 3px;
      padding:0;
      line-height:1;
    }
  }
}


ul.panel-nav {
  list-style:none;
  margin:0;
  padding:0;
  li {

  }
}
.legal-box {
  border-left:1px solid $blue;
  &.no-line {
    border-left:none;
  }
}
.legal-links {
  a {
    line-height:1.2;
    display:block;
    margin:0;
    font-weight:600;
    color:$header-blue;
    font-size:12px;
    &.active {
      color:$black;
      text-decoration:underline;
    }
  }
}
ul.legal-menu {
  list-style:none;
  margin:0;
  padding:0;
  li {
    margin:0 0 $gutter-width/2;
    a {
      font-size:14px;
    }
    ul {
      list-style:none;
      margin:0; padding:0;
    }
  }
}
.content-pane {
  display:none;
  h2 {
    margin-top:0;
  }
  &.active {
    display:block;
  }
  ol,ul {
    li {
      margin-top:$gutter-width;
    }
  }
  line-height:1.8;
}
.legal-box {
  line-height:1.4;
  table {
    td {
      padding:1em;
    }
  }
  a[id] {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
  }
  a{
    text-decoration:underline;
    &:hover {
      color:$header-blue;
    }
  }
}
.privacy-tiles {
  list-style:none;
  margin:0;
  padding:0;
  li {
    display:block;
    line-height:2;
    font-size:24px;
    font-weight:600;
    .fa {
      padding-right:.5em;
    }
  }
}
.doc-date {
  font-weight:600;
  color:$classic-gray;
}