#header-logo {
    position: relative;
    height:80px;
    img {
        width:auto;
        max-height:80px;
    }
}
.row.lp-header-image {
    display:none;
    margin:0;
    img {
        width:100%;
        height:auto;
    }
    @include bp(m) {
        display:block;
    }
}
.row.lp-mobile-header-image {
    margin:0;
    img {
        width:100%;
        height:auto;
    }
    @include bp(m) {
        display:none;
    }
}
.bucket-lp-copy {
    flex-basis:100%;
    padding:0 $gutter-width;
    @include bp(m) {
        padding:0;
        flex-basis:auto;
        flex-grow:1;
        flex-shrink:1;
    }
}
.wrapper-lp-form {
    flex-basis:100%;
    @include bp(m) {
        flex-basis:auto;
        flex-grow:1;
        flex-shrink:0; 
        margin-left:$gutter-width;
    }

    padding:$gutter-width $gutter-width $gutter-width;

    background:$header-blue;
    color:$white;
    align-self:flex-start;
    .form-title, .form-text {
        max-width:305px;
        margin:0 auto;
    }
    .mktoLabel {
        text-transform:uppercase;
        .mktoField {
            text-transform: none;
        }
    }
    button.mktoButton[type="submit"] {
        background:$white!important;
        border-radius:3px;
        color:$blue!important;
        &:hover {
            background:$lighter-gray!important;
        }
    }
}
.full-width-text {
    line-height:1.8;
}
footer {
    text-align:center;
}
#calendar-buttons {
    img {
        display:none;
    }
    ul {
        list-style:none;
        margin:0;
        padding:0;
        width:100%;
        text-align: center;
        li {
            display:inline-block;
            a {
                margin:$gutter-width/2;
                text-align: center;
                display: inline-block;
                padding: 0.5em 1.5em;
                transition: all 0.25s ease-in;
                background: $blue;
                color: $white;
                z-index: 1;
                position: relative;
                border:1px solid $blue;
                border-radius:3px;
                &:hover {
                  background: $menu-blue;
                  color: $white;
                  animation: radial-pulse 1s 1;
                }
            }
        }
    }
}
.event-details {
    width:100%;
    margin:$gutter-width 0;
    text-align: center;
    .inner {
        display:inline-block;
        margin:0 auto;
        padding:.5em 1.5em;
        background:$lighter-gray;
        text-align:center;
    }

}
.mktoLabel.mktoHasWidth {
    width:100%!important;
  }

@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
  
    100% {
      box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
  }
