.calendar-links {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    width: 100%;
    padding: 2em;
    vertical-align: top;

    a {
      display: block;
      text-align: center;

      img {
        display: none;
        text-align: center;
        width: 50%;
        margin: 0 auto;
      }

      span {
        display: block;
        background: #ccc;
        border-radius: 30px;
        padding: 0.5em 2em;
        color: #000000;
      }
    }
  }
  @include bp(m) {
    li {
      width: 30%;
    }

    a img {
      display: block;
    }
  }
}
.marketo-content {
  min-height:60%;
  min-height:60vh;
}
