.ms-bottom-buckets {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    .ms-bottom-bucket {
        flex-basis:100%;
        margin-bottom:$gutter-width;
        @include bp(m) {
            flex-basis:32.5%;
            margin-bottom:0;
        }
        .inner {
            height:100%;
            background:$white;
            padding:$gutter-width $gutter-width 0;
            text-align:center;
            p {
                text-align:left;
                color:$black;
            }
            .icon {
                color:$blue;
                font-size:3em;
            }
        }
    }
}
.ms-ctas {
    padding-left:64px;
}