.navbar-toggle {
  cursor: pointer;
  //transition: top 0.4s cubic-bezier(0.335, 0.815, 0.470, 1);
  position: absolute;
  top:24px;
  right:20px;
  z-index:99;
  width: 36px;
  height: 30px;
  padding:6px;
  border-radius: 4px;
  outline: none;
  background:transparent;
  &:focus {
    outline: none;
  }
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: $menu-blue;
    &+.icon-bar {
      margin-top: 4px;
    }
  }
  &.short {
    top:15px;
  }
  @include bp(m) {
    top:28px;
  }
}

.side-nav {
  transform:translatex($side-nav-width);
  transition: 0.4s cubic-bezier(0.335, 0.815, 0.470, 1);
  overflow-y: none;
  background:$white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  z-index: 99;
  width:$side-nav-width;
  #btn-close-sidenav {
    position:absolute;
    top:28px;
    right:52px;
    font-size:3em;
    width:26px;
    height:29px;
    padding-top:14px;
  }
  .inner {
    &>* {
      opacity:0;
    }
    padding: 120px $gutter-width 50px;
    text-align:left;
    @include bp(m) {
      padding: 120px $gutter-width*2 50px;
    }
  }
  .search-form {
    opacity:0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding:0;
      a {
        font-weight: 600;
        line-height: 2;
        color: $classic-gray;
        transition: color 0.25s ease-in;
        padding:.5em 0;
        &.demo {
          color:$header-blue;
        }
        &:hover {
          text-decoration:underline;
        }
      }

      ul {
        margin: 0 0 0 $gutter-width;
        padding: 0;

        li {
          a {
            font-weight: 300;
          }
        }
      }
    }
  }
}
body.nav-short {
  .side-nav {
    #btn-close-sidenav {
      top:16px;
    }  
    .inner {
      padding-top:100px;
    }
  }
}

#wrapper {
  min-height: 100%;
  position: relative;
  z-index: 1;
  background: #FFF;
  transition: 0.4s cubic-bezier(0.335, 0.815, 0.470, 1);

  &.marketo-wrapper {
    position:static;
  }
}
#overlay {
  transition: opacity .15s ease-out;
  position:fixed;
  top:0;
  bottom:0;
  width:100%;
  left:0;
  background:rgba(0,0,0,.75);
  z-index:3;
  display:none;
}
body.nav-open {
  #overlay {
    display:block;
  }
  #wrapper {
    * {
      z-index:0;
    }
  }
  #page-header {
    &:after {
      display:block;
    }
  }
  .side-nav {
     z-index:99;
     transform:translatex(0);
    .inner {
      &>* {
        opacity:1;
      }
    }
    overflow-y: scroll;
    .search-form {
      opacity:1;
      .button, button {
        padding:0;
      }
    }
  }
}
.hamburger {
  position: relative;
  width: 26px;
  height: 25px;
  .line {
    width: 26px;
    height: 3px;
    background: $black; 
    border-radius: 3px;
    position: absolute;
    transition: transform 0.25s ease-out;
    &.top {
      transform: translateY(-8px);
    }
    &.bottom {
      transform: translateY(8px);
    }
  }
  &.active {
    .line.middle {
      opacity: 0;
    }
    .line.top {
      transform: rotate(45deg);
    }
    .line.bottom {
      transform: rotate(-45deg);
    }
  }
  &:hover {
    .line {
      background: $blue;
    }
  }
}