.navbar-toggle {
  cursor: pointer;
  //transition: top 0.4s cubic-bezier(0.335, 0.815, 0.470, 1);
  position: absolute;
  top:24px;
  right:20px;
  z-index:99;
  width: 36px;
  height: 30px;
  padding:6px;
  border-radius: 4px;
  outline: none;
  background:transparent;
  &:focus {
    outline: none;
  }
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: $menu-blue;
    //transition: all 0.25s ease-in;

    &+.icon-bar {
      margin-top: 4px;
    }
  }
  &.short {
    top:15px;
  }
  @include bp(m) {
    top:28px;
  }
}
/*
#page-header {
  .small-nav {
    text-align: right;
    font-family: $nav-font;
    vertical-align: middle;

    ul {
      transition: all 0s ease-in;
      display: inline-block;
      margin: 0 $gutter-width 0 0;
      padding: $gutter-width 0 0;

      li {
        margin-left: $gutter-width/2;
        display:none;
        &.show-mobile {
          display:inline-block;
        }
        @include bp(m) {
          display:inline-block;
        }
        a {
          display:inline-block;
          font-weight: 400;
          font-size: 14px;
          color: $menu-blue;
          transition: all 0.1s ease-in;
          padding:$gutter-width/4;
          &:hover {
            color: $header-blue;
          }
          &#btn-search-header {
            margin-left:-36px;
            span {
              display:block;
            }
            &.short {
              //top:11px; 
            }
            @include bp(m) {
              margin:0;
            }
          }
          &.active {
            text-decoration: underline;
            &.requestdemo {
              //display:none;
            }
          }
          &.requestdemo {
            color:$header-blue;
            border:1px solid $header-blue;
            border-radius:3px;
            padding:$gutter-width/4 $gutter-width/2;
            transition:.25s all ease-in;
            &:hover {
              background:$blue;
              color:$white;
            }
            &.active {
              background:$blue;
              color:$white;
              text-decoration:none;
            }
          }
          @include bp(m) {
            font-size: 18px;
          }
          @include bp(l) {
            font-size: 22px;
          }

        }
      }
    }

    &.interior {
      ul {
        margin: 0;
        padding: 0 $gutter-width 0 0;

        li {
          a {
            font-size: 18px;
          }
        }
      }
    }
  }
  .nav-bucket {
    padding-top:22px;
  }
  &.active {
    .navbar-toggle {
      //transition: all 0.25s ease-in;
    }
    .nav-bucket {
      padding-top:8px;
    }

      .small-nav ul {
      transition: all 0.25s ease-in;
      vertical-align: super;

      li a {
        &#btn-search-header {
          top:11px;
        }
        @include bp(m) {
          font-size: 16px;
        }
        @include bp(l) {
          font-size: 18px;
        }
      }
    }
  }
}
*/
$sideNavWidth: 300px;

.sideMenu {
  transform:translatex(300px);
  transition: 0.4s cubic-bezier(0.335, 0.815, 0.470, 1);
  overflow-y: none;
  background:$white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  z-index: 99;
  width:$sideNavWidth;
  #btn-close-sidenav {
    position:absolute;
    top:74px;
    right:32px;
    font-size:3em;
    width:26px;
    height:29px;
    padding-top:14px;
  }
  .inner {
    //visibility:hidden;
    &>* {
      opacity:0;
    }
    padding: 120px $gutter-width 50px;
    text-align:left;
    @include bp(m) {
      padding: 120px $gutter-width*2 50px;
    }
  }
  .search-form {
    opacity:0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding:0;
      a {
        font-weight: 600;
        line-height: 2;
        color: $classic-gray;
        transition: color 0.25s ease-in;
        padding:.5em 0;
        &.demo {
          color:$header-blue;
        }
      }

      ul {
        margin: 0 0 0 $gutter-width;
        padding: 0;

        li {
          a {
            font-weight: 300;
          }
        }
      }
    }
  }
  &.short {
    #btn-close-sidenav {
      top:54px;
    }  
    .inner {
      padding-top:100px;
    }
  }
}

#wrapper {
  min-height: 100%;
  position: relative;
  z-index: 1;
  background: #FFF;
  transition: 0.4s cubic-bezier(0.335, 0.815, 0.470, 1);

  &.marketo-wrapper {
    position:static;
  }
}
#overlay {
  transition: opacity .15s ease-out;
  position:fixed;
  top:0;
  bottom:0;
  width:100%;
  left:0;
  background:rgba(0,0,0,.75);
  z-index:3;
  display:none;
}
body.nav-open {
  #overlay {
    display:block;
  }
  #wrapper {
    * {
      z-index:0;
    }
  }
  #page-header {
    &:after {
      display:block;
    }
  }
  .sideMenu {
     z-index:99;
     transform:translatex(0);
    .inner {
      //visibility:visible;
      &>* {
        opacity:1;
      }
    }
    overflow-y: scroll;
    .search-form {
      opacity:1;
      .button, button {
        padding:0;
      }
    }
  }
  /*
  .navbar-toggle {
    //transform:translatex(285px);
    //padding:12px 6px 0;
    z-index:100;
    .icon-bar {
      background: $header-blue;
      transform: rotate(45deg);

      &+.icon-bar {
        margin-top: -2px;
        transform: rotate(-45deg);
      }

      &:last-child {
        width: 0;
      }
    }
  }
  */
}
