@import url("https://fonts.googleapis.com/css?family=Mulish:400,700&display=swap");

$core-blue: #3f46ff;
$dark-blue: #3039b0;
$darkest-blue:#202B60;
$light-blue-1: #f3f7ff;
$light-blue-2: #ebf1ff;
$light-blue-3: #e0e9fe;
$light-blue-4:#f8f9fe;

$new-header-font: "Mulish", sans-serif;
.new-homepage {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: $new-header-font;
  }
  font-family: $new-header-font;
  h3 {
    font-weight: 700;
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
}
.hero-2021 {
  margin: 150px 0 25px;
  h1 {
    font-size: 50px;
    @include bp(l) {
      white-space: nowrap;
    }
  }
  .bold {
    font-weight: 700;
  }
  .top-copy {
    padding: 50px 0;
  }
  .new-hero-image {
    @include aspect-ratio(4, 3);
    width: 100%;
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center top;
    @include bp(m) {
      width: 140%;
    }
  }
  .logo-flipper {
    .flipper-wrapper {
      flex-basis: 33%;
    }
  }
}
.button-new {
  background: $core-blue;
  border-radius: 6px;
  color: white;
  line-height: 28px;
  font-size: 14px;
  padding: 0.5em 2em;
  display: inline-block;
  @include ds-transition();
  &:hover {
    background-color: lighten($core-blue, 5%);
    color: $white;
  }
  &.knockout {
    background: white;
    color: $dark-blue;
  }
}
.core-blue.curve-container {
  width: 100%;
  background: $dark-blue;
  color: $white;
  @include bp(m) {
    background: linear-gradient(to bottom, $dark-blue 0, $dark-blue 100%)
        no-repeat top left,
      linear-gradient(
          to top,
          $light-blue-4 0,
          $light-blue-4 74px,
          $dark-blue 75px,
          $dark-blue 100%
        )
        no-repeat bottom right;
    background-size: 50% 100%, 50% 100%;
    .row {
      padding-top: 20px;
      padding-bottom: 180px;
      .row {
        padding-top: 0;
        padding-bottom: 0px;
      }
    }
  }
}
.light-blue.curve-container {
  width: 100%;
  background: $light-blue-1;
  .row {
    padding-top: 25px;
  }
  @include bp(m) {
    background: linear-gradient(
          180deg,
          $light-blue-1 0,
          $light-blue-1 24px,
          $light-blue-2 25px,
          $light-blue-2 49px,
          $light-blue-3 50px,
          $light-blue-3 50%
        )
        no-repeat 0 95px,
      linear-gradient(
          to top,
          $light-blue-1 0,
          $light-blue-1 20px,
          $light-blue-2 21px,
          $light-blue-2 40px,
          $light-blue-3 41px,
          $light-blue-3 50%
        )
        no-repeat 0 bottom,
      linear-gradient(
          180deg,
          $light-blue-1 0,
          $light-blue-1 32px,
          $light-blue-2 33px,
          $light-blue-2 63px,
          $light-blue-3 64px,
          $light-blue-3 50%
        )
        no-repeat right top,
      linear-gradient(
          to top,
          $dark-blue 0,
          $dark-blue 74px,
          $light-blue-1 75px,
          $light-blue-1 99px,
          $light-blue-2 100px,
          $light-blue-2 120px,
          $light-blue-3 121px,
          $light-blue-3 50%
        )
        no-repeat right bottom;
    background-size: 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    .row {
      padding-top: 180px;
      padding-bottom: 160px;
      .row {
        padding-top: 0;
        padding-bottom: 0px;
      }
    }
  }
}
.home-phone-image {
  width: 50%;
  margin: 0 auto;
  @include aspect-ratio(4, 5);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  @include bp(m) {
    width: 100%;
  }
}
.has-curve {
  @include bp(m) {
    background: url("/wp-content/themes/ds-new/images/wave-triple-top.jpg")
        no-repeat center top,
      url("/wp-content/themes/ds-new/images/wave-triple-bottom.jpg") no-repeat
        center bottom;
    background-color: $light-blue-3;
    background-size: 100%;
  }
}
.has-dark-curve {
  @include bp(m) {
    background: url("/wp-content/themes/ds-new/images/wave-dk-blue-bottom.jpg")
      no-repeat center bottom;
    background-color: $dark-blue;
    background-size: 100%;
  }
}

.customer-hp-slide {
  color: $white;
  width: 100%;
  padding: $gutter-width * 2 0;
  h2 {
    color: $white;
  }
  .company-logo {
    @include aspect-ratio(2, 1);
    max-width: 150px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }
  a {
    color: $white;
  }
}
#new-home-customer-carousel {
  margin-bottom: 60px;
}
.demo-videos-new-hp {
  padding: $gutter-width * 2 0;
  background-color: $light-blue-4;
  .section-pic {
    @include aspect-ratio(3, 2);
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
  }
}
.new-blog-articles {
    @include bp(m) {
        background: linear-gradient(
            180deg,
            $light-blue-4 0px,
            $light-blue-4 4px,
            $light-blue-1 5px,
            $light-blue-1 22px,
            $light-blue-4 23px,
            $light-blue-4 44px,
            $white 45px,
            $white 50%
          )
          no-repeat left top,
        linear-gradient(
            to top,
            $white 0,
            $white 50%
          )
          no-repeat 0 bottom,
        linear-gradient(
            180deg,
            $light-blue-4 0,
            $light-blue-4 89px,
            $light-blue-1 90px,
            $light-blue-1 109px,
            $light-blue-4 110px,
            $light-blue-4 130px,            
            $white 131px,
            $white 50%
          )
          no-repeat right top,
        linear-gradient(
            to top,
            $white 0,
            $white 50%,
          )
          no-repeat right bottom;
      background-size: 50% 50%, 50% 50%, 50% 50%, 50% 50%; 
    }
  .container {
    padding-top: 160px;
    @include bp(m) {
      background: url("/wp-content/themes/ds-new/images/blogsection-top.jpg")
        no-repeat center top;
      background-size: 100%;
    }
  }
}
.footer-new-top {
    @include bp(m) {
        background: linear-gradient(
            180deg,
            $darkest-blue 0,
            $darkest-blue 100%
          )
          no-repeat left top,
        linear-gradient(
            180deg,
            $white 0,
            $white 57px,          
            $darkest-blue 58px,
            $darkest-blue 100%
          )
          no-repeat right top;
      background-size: 50% 100%, 50% 100%;       
    }
  .container {
    @include bp(m) {
      background: url("/wp-content/themes/ds-new/images/footer-top.jpg")
        no-repeat center top;
      background-size: 100%;
      min-height: 100px;
    }
  }
}

.blog-bucket-hp {
  .thumb {
    @include aspect-ratio(16, 9);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
}
