.agency-content-top {
  text-align:center;
}
#logo-partners-grid {
  .flipper-wrapper {
    margin-bottom:6em;
  }
}

.partners-third-section {
  padding:$gutter-width*2 0;
  .partners-pc-image {
    @include aspect-ratio(553,374);
    width:100%;
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
  }
}
section.partners-orange {
  position:relative;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  h2, p {
    color:$white;
  }
}
.partners-diagram {
  @include aspect-ratio(1087,387);
  width:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
  margin:$gutter-width 0;
}
.partners-section {
  h2 {
    margin-top:0;
  }
}
section.fullpic.partners-hero .header-bg {
  background-position:right top;
}