#whatis-carousel-image {
  &:after {
    content:'';
    display:block;
    padding-bottom:100%;
  }
  background-size:contain;
  background-repeat:no-repeat;
  background-position:right;
}
section.whatis-carousel-bucket {
  background:$off-white;
}
.whatis-testimonial-bucket {
  background:url($img-path+"whatis-bg-testimonials.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  color:$white;
}
.carousel-button {
  &:hover {
    color:$off-black;
    h2 {
      color:$off-black;
    }
  }
  padding:1em 1em 1em 3.5em;
  display:block;
  &.active {
    background:url($img-path+"whatis-widget-active.png");
    background-repeat:no-repeat;
    background-position:left;
  }
  h2 {
      margin:0 0 .25em;
  }
}
#whatis-header {
  text-align:center;
  padding-top:200px;
}
.whatis-bottom {
  .container {
    padding-top:$gutter-width*2;
  }
  .whatis-bottom-pic {
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
    @include aspect-ratio(1200,752)
  }
  h2 {
    text-align:center;
  }
  h3 {
    color:$header-blue;
  }
}
.big-list {
  list-style:none;
  color:$header-blue;

  li {
    position:relative;
    &:before {
      content:'';
      position:absolute;
      margin-right:1em;
      width:11px;
      height:11px;
      border:3px solid $header-blue;
      border-radius:50%;
      left:-1.5em;
      margin-top:.5em;
    }
  }
  h3 {
    margin:.5em 0 .15em;
  }
  p {
    margin:0 0 1em;
    color:$black;
  }
}
#whatis-carousel {
  display:none;
  @include bp(m) {
    display:block;
  }
}
#whatis-carousel-mobile {
  display:block;
  @include bp(m) {
    display:none;
  }
  .what-is-thumb-mobile {
    @include aspect-ratio(400,815);
    width:50%;
    margin:$gutter-width/2 auto;
    background-size:cover;
    background-position:center center;
  }
}
.product-header {
  p {
    font-size:1.2em;
    line-height:1.8;
  } 
  h3 {
    font-weight: normal;
    font-size:1.4em;
  }
}
.product-bucket {
  min-height:40vw;
  &.bg-blue {
    background-color:$header-blue;
    color:$white;
    h2 {
      color:$white;
    }
  }
  &.bg-gray {
    background-color:$lighter-gray;
  }
  h2 {
    text-transform: uppercase;
    font-size:1.4em;
    @include bp(m) {
        font-size:2.4em;
    }
}
p {
  font-size:1.2em;
  line-height:1.8;
} 
  .bg {
    min-height:45vw;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    &.short {
      min-height:35vw;
    }
  }
}
ul.product-logos {
  list-style:none; 
  margin:0;
  display:flex;
  li {
    flex-basis:25%;
    margin-right:20px;
    &:last-child {
      margin-right:0; 
    }
    .bg {
      min-height:12vw;

    }
  }
}