#solutions-top-carousel {
    margin-bottom:$gutter-width*2;
}

.solutions-logo-bottom {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    @include aspect-ratio(4,3);
    width:31%;
    margin:0 1%;
    display:inline-block;
    @include bp(m) {
        width:14%
    }
}
.solutions-slide-image {
    background-size:contain;
    background-repeat:no-repeat;
    @include aspect-ratio(4,3);
    width:100%;
    background-position:center center;
}
ul.tab-nav {
    list-style:none;
    display:flex;
    flex-wrap:nowrap;
    margin:0 0 1em;
    padding:0;
    li {
        flex-basis:31%;
        margin-right:1%;
        border-bottom:3px solid $light-gray;
        padding:1em 0 .5em;
        &.active {
            border-color:$header-blue;  
            a {
                color:$header-blue;
            }
            position: relative;
            &:after {
                content:'';
                @include arrow(bottom,$header-blue,10px);
                position:absolute;
                left:50%;
                margin-left:-10px;
                bottom:-10px; 
            }
        }
        a {
            font-family:$header-font;
            display:block;
            font-size:1.8em;
        }
        &:last-child {
            margin-right:0;
        }
    }
}
.tab-panel {
    display:none;
    &.active {
        display:block;
    }
}
section.tabs {
    background:$lighter-gray;
}