
.icon-bar {
    text-align: center;
    display:flex;
    justify-content: space-between;
    .icon-tile {
        flex-basis:25%;
        .icon-thumb {
            @include aspect-ratio(1,1);
            width: 50%;
            margin: 0 25%;
            background-size: contain;
            background-repeat:no-repeat;
            @include bp(m) {
              width: 30%;
              margin: 0 35%;
            }
          }
        h2 {
          color: $header-blue;
          font-size: 4vw;
          margin: 0.25em 0;
        }
        @include bp(m) {
          h2 {
            font-size: 1.6em;
          }
        }
      }
    &.product-subnav {
        .icon-tile {
            flex-basis:16.6%;
        }
    }
  }
