.support-body {
  margin:60px 0 150px;
  h2 {
    font-size:1.8em;
  }
  .fa {
    padding-right:.5em;
  }
  .col-md-3 {
    padding-bottom:30px;
    border-bottom:1px solid #979797;
    p {
      line-height:1.5;
      font-size:14px;
    }
  }
  @include bp(m) {
    .container {
        box-sizing: border-box;
    }
    .row {
      height:100%;
      display:table;
      width:100%;
      margin:0;
      .col-md-3 {
        padding-bottom:20px;
        border:none;
        height:100%;
      }
    }
  }
}
