.exec-thumb {
  @include aspect-ratio(1,1);
  display:inline-block;
  width:20%;
  padding:$gutter-width/2;
  color:$white;
  background-repeat:no-repeat;
  background-size:90% 90%;
  background-position: center center;
  text-align:center;
  transition:all .2s ease-in;
  &:after {
    transition:all .2s ease-in;
    content:'';
    top:0;
    bottom:0;
    width:100%;
    background:transparent;
  }
  h3, h4 {
    transition:all .2s ease-in;
    opacity:0;
  }
  h3 {
      top:$gutter-width;
      font-size:36px;
      width:90%;
      left:5%;
  }
  h4 {
    top:$gutter-width*4;
    font-size:18px;
    font-weight:500;
    line-height:1.5;
    width:90%;
    left:5%;
  }
  .fa {
    font-size:2em;
  }
  &:hover {
    color:$white;
    h3, h4 {
      opacity:1;
    }
    &:after {
      background:rgba(0, 198, 215, 0.5);
    }
  }

}
.team-header {
  h2 {
    padding: 23px;
    margin: 16px;
    font: 700 40px/1.1 'Open Sans', "Montserrat",sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
  }
}
.team-list {
    margin-bottom:$gutter-width*2;
    text-align: center;
}
