.uber-header {
  .top-nav {
    border: none;
    box-shadow: none;
    position: static;
    top: 80px;
    z-index: 0;
    z-index: 0;
    .page-width {
      margin-top: 0 !important;
    }
    .left-nav.desktop {
      margin: 0;
    }
    @include bp(s) {
      top: 250px;
    }
  }
  .secondary-logo {
    display: none;
  }
}
.single-page {
  #top.hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 380px;
    background: $hero-radial-gradient;
  }
  #top-header {
    //display: none !important;
  }
  .page-width.item-level {
    max-width: none !important;
  }
  .uber-header {
  }
  #hubs-container {
    section[class*="level-"] {
      margin-top: 130px;
    }
  }
}
.hmenu.topnav {
  background: none !important;
}
.uf-stream-template-banner {
  #wrapper.uber-wrapper {
    @include bp(s) {
      background: $white;
    }
  }
  #hubs-container .description-block {
  }
}
.page-aligner {
  width: 100%;
  @include bp(s) {
    width: auto;
  }
  @include bp(m) {
    width: 970px !important;
  }
  @include bp(l) {
    width: 1170px !important;
  }
}
.page-width {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  margin-top: 0 !important;
  width: 100% !important;
}
.uf-stream-template-banner {
  .page-width {
    margin-top: 0 !important;
  }
}
.share-hub,
.share-item {
  top: 315px;
}
.page-width.item-level .page-aligner {
  max-width: 100% !important;
}
#hubs-container {
  width: 100%;
  position: relative;
  display: block;
  .top-nav {
    background: $lighter-gray;
    border-bottom: 1px solid $orange;
    height: auto;
    position: static;
    margin: 0;
    .page-width {
      margin: 0 auto;
      @include bp(m) {
        width: 970px !important;
      }
      @include bp(l) {
        width: 1170px !important;
      }
    }
    .left-nav.desktop > li.selected > a {
      background: transparent;
      border: none;
    }
  }
  .page-width {
    margin: 0;
  }
  .related {
    .carousel-nav {
      display: none !important;
    }
  }
  section[class*="level-"] {
    margin: $gutter-width * 2 $gutter-width $gutter-width * 2;
    padding: 0;
    @include bp(s) {
      width: auto;
      padding: 0 $gutter-width;
      margin-left: auto;
      margin-right: auto;
    }
    @include bp(m) {
      width: 970px;
    }
    @include bp(l) {
      width: 1170px;
    }
  }
  .bread-crumbs {
    display: none;
    margin: 114px auto $gutter-width * 2;
    padding: 0 $gutter-width;
    @include bp(s) {
      margin: 114px 0 $gutter-width * 2;
      width: 750px;
    }
    @include bp(m) {
      width: 970px;
    }
    @include bp(l) {
      width: 1170px;
    }
  }
  .description-block {
    padding-top: 130px;
    min-height: 0;
    background: $hero-radial-gradient;
    @include bp(m) {
      min-height: 330px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      h1,
      p {
        flex-basis: 100%;
      }
    }
    margin: 0;
    h1,
    p {
      margin-right: auto;
      margin-left: auto;
      padding-left: $gutter-width;
      padding-right: $gutter-width;
      text-shadow: none;
      color: $white;
      text-align: center;
      @include bp(s) {
        width: 750px;
      }
      @include bp(m) {
        width: 970px;
      }
      @include bp(l) {
        width: 1170px;
      }
    }
    h1 {
      font-size: 32px;
      text-transform: capitalize;
      letter-spacing: normal;
      font-weight: 400;
      margin-top: 0;
      @include bp(m) {
        font-size: 36px;
      }
    }
    p {
      padding-bottom: $gutter-width * 2;
      @include bp(s) {
        p {
          padding-bottom: 0;
        }
      }
    }
    @include bp(m) {
      padding-top: 60px;
    }
  }
  .page-aligner, .page-aligner.list {
    width: auto !important;
    max-width:none!important;
  }
}
.top-nav .nav-toggle,
html.touch .top-nav .nav-toggle {
  background-image: none;
  text-indent: 0 !important;
  border: none !important;
  &:after {
    content: "categories";
    position: absolute;
    top: 0;
    text-align: center;
    display: inline-block !important;
    padding: 0 1em;
    font-size: 0.75em;
    transition: all 0.25s ease-in;
    background: $blue;
    color: $white;
    line-height: 2.4;
  }
}
html.touch .single-page .top-nav .nav-back,
.single-page .top-nav .nav-back {
  text-align: center;
  display: inline-block;
  padding: 0 1em;
  font-size: 0.75em;
  transition: all 0.25s ease-in;
  background: $blue;
  color: $white;
  line-height: 2.4;
  width: 20% !important;
}
.main,
body.lab_no_header.hub-page .main,
body.lab_no_header.hub-page.hubs-embedded-iframe .main,
.main.clearfix {
  display: block;
  margin-top: 0;
}
nav.main,
body.lab_no_header.hub-page nav.main,
body.lab_no_header.hub-page.hubs-embedded-iframe nav.main,
nav.main.clearfix {
  display: flex;
}

body.pseudo-fullscreen #page-header,
body.pseudo-fullscreen #toggle-side-nav {
  display: none;
}
#collection-items {
  ul.clearfix {
    width: 100%;
    @include bp(m) {
      width: auto;
    }
  }
}
body:not(.stream-banner-hide-top-nav) .uf-stream-banner-marketing .stream-banner {
  margin-top: 0;
  .stream-banner-content {
    z-index: 3;
  }
  &:before {
    content: "";
    background: rgba(5, 111, 176, 0.7);
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
}
@media (max-width: 860px) {
  body.lab_top_menu:not(.stream-banner-hide-top-nav) .uf-stream-banner-marketing .stream-banner {
    //margin-top: 130px;
  }
}
@media (max-width: 640px) {
  body.lab_top_menu:not(.stream-banner-hide-top-nav) .uf-stream-banner-marketing .stream-banner {
   // margin-top: 90px;
  }
}
h2.stream-banner-heading {
  font-weight: normal;
  text-shadow: none;
}
.entry-wrapper a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
#top-header ul.left-nav.desktop {
  margin: 0;
  padding:0 $gutter-width/2;
  position: static;
  border: none;
  li {
    margin: 0;
    padding: 0;
    position: relative;
    display: none;
    float: none !important;
    &.custom-menu-item {
      display: block;
      @include bp(l) {
        display: inline-block;
      }
    }
    a {
      font-family: $nav-font;
      display: block;
      padding: 0 $gutter-width/2;
      line-height: 50px;
      color: $black;
      text-transform: capitalize;
      font-size: 16px;
      position: relative;
      border: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &:not(.has-children):first-child, &.menu-social, &.hover:not(.has-children):first-child {
       a {
        text-decoration:none!important;
        text-decoration-color:transparent!important;
        font-weight:bold!important;
        &:hover {
          color:$black;
          text-decoration:none!important;
          cursor:auto;
        }
      }
      &:hover, &.hover {
         a {
          text-decoration:none!important;
          text-decoration-color:transparent!important;
          color:$black;
          cursor:auto;
        }
      }
    }
    &:hover {
      a {
        color: $blue;
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
      }
    }
  }
  li.has-children {
    position: relative;
    text-align: left;
    ul {
      z-index: 99;
      background: $blue;
      margin: 12px 0 0;
      border-radius: 3px;
      padding: $gutter-width/4 0 $gutter-width/3;
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      min-width: 100%;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      @include ds-transition();
      li, li:first-child {
        margin: 0;
        padding: 0;
        border: none;
        hr {
          margin: $gutter-width/3 $gutter-width/2;
          border-color: rgba(255, 255, 255, 0.3);
        }
        a {
          line-height: 1.2;
          letter-spacing: 0.5px;
          white-space: nowrap;
          font-weight: 400;
          color: #fff;
          padding: $gutter-width/3 $gutter-width/2;
          text-shadow: none;
          text-decoration: none;
          border: none !important;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &:hover,
    &.hover {
      background: transparent;
      box-shadow: none;
      a {
        color: $blue;
        border: none;
      }
      ul {
        //transform: rotateY(0);
        display: block;
        a {
          color: $white;
        }
      }
    }
  }
}
#top-header {
  display:none;
  @include bp(l) {
    display:block;

  }
  .page-aligner {
    display: flex;
  }
  ul.left-nav {
    flex-basis: 100%;
  }
  .right-side-btns {
    position: static;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 7px;
    .share-toggle {
      position: relative;
    }
    .share-hub,
    .share-item {
      top: 57px !important;
      position: absolute !important;
      left: auto !important;
      right: -130px !important;
    }
  }
}
@include bp(l) {
  #top-header, #hubs-container, #bottom-footer {
    opacity:0;
  }
  body.s,
  body.xs,
  body.m,
  body.l,
  body.xl {
    #top-header, #hubs-container, #bottom-footer {
      opacity:1;
    }
  }
}
#hubs-container {
  #top-header .top-nav.resources ul.left-nav.desktop {
    li ul {
      top: 35px;
      li {
        display: block;
      }
    }
  }
}
body.uf-stream-template-banner-marketing {
  #top-header {
    display:block!important;
  }
  #top-header .top-nav {
    display:none!important;
  }
  .description-block {
    display:none!important;
  }
  .stream-banner {
    min-height:330px;
  }
  .stream-banner-content {
    h2 {
      padding-top:$gutter-width*2;
      padding-bottom:$gutter-width;
    }
    p {
      color:$white;
      max-width:80%;
      margin:0 auto;
      text-align:center;
      @include bp(m) {
        max-width:50%;
      }
    }
  }
  &.single-page #top.hidden {
    background:transparent;
  }
}
body.single-page {
  #top-header .top-nav {
    display:none;
  }
}
body.single-page.uf-stream-template-banner-marketing {
  #hubs-container .level-three:not(.bottom) {
    margin-top:-20px;
    z-index:9999;
    position:relative;
    @include bp(m) {
      margin-top:-100px;
    }
  }
}