#hubs-container {
  section.level-two {
    padding:138px 0 $gutter-width;
    @include bp(m) {
      padding:72px 0 $gutter-width;
    }

  }
  .description-block {
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
    position: relative;
    text-align: center;
    margin-top: 0;
    overflow: hidden;
    @include bp(m) {
      padding: 70px 0 0;
      padding-top: $gutter-width*2;
      padding-bottom: $gutter-width*2;
    }
    h1,
    h2 {
      text-align: center;
      z-index: 2;
      position: relative;
    }
    h1,h2 {
      padding:0 $gutter-width 0;
      @include bp(m) {
        padding:0;
      }
    }
    h1 {
      font-size: 36px;
      line-height: 44px;
      color: $off-black;
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: normal;
      @include bp(m) {
        font-size: 48px;
        line-height: 60px;
      }
    }
  }
}
#moveToTop {
  margin-left:0 !important;
  left:$gutter-width/2;
  box-shadow:1px 1px 5px rgba(0,0,0,.75);
  a {
    border-radius:0 !important;
  }
}
.share-toggle {
  display:none !important;
}
.listing-page {
  .main {
    display:block;
  }
}
.single-page {
  .top-nav {
    display:none;
  }
  .main {
    margin:80px auto 0;
  }
}
@media only screen and (max-width: 1024px) {
  .search-results-overlay {
    margin-top:60px;
  }
  .search-drop-down {
    top:100px;
  }
  .top-nav {
      border:none;
      box-shadow:none;
      .left-nav.desktop {
        position:absolute;
        left:0;
        top:7px;
        width:50%;
        margin:0;
        display:none !important;
        li {
          display:block;
          max-height:0;
          overflow:hidden;
          transition: all .1s ease-in;
          float:none;
          width:100%;
          background:$white;
          height:30px;
          font-weight:600;
          &.selected {
            position:absolute;
            top:0;
            max-height:30px;
          }
        }
        &:hover {
          li {
            &.selected {

            }
            max-height:30px;
          }
        }
      }
  }
}
.top-nav .search-container {
    position: fixed;
    top: 100px;
    right: 0;
    .search-toggle {
      border-radius:5px 0 0 5px;
    }
  }
.nav-toggle {
  display:none !important;
}
.top-nav .secondary-logo {
    display:none;
}
.search-drop-down {
    top:370px
}
footer {
  padding:0 !important;
  margin-bottom:0 !important;
}
.top-nav .left-nav.desktop>li.selected.hover, .top-nav .left-nav.desktop>li.selected:hover {
  background-color:$middle-gray !important;
}
.top-nav .left-nav.desktop>li.selected {
    background-color:$middle-gray !important;
    &:hover, &.hover {
      background-color:$middle-gray !important;
      text-decoration: none;
    }
    &>a {
      &:hover {
        text-decoration: none;
      }
    }
}
.tile.cta-form.hide {
  display:block !important;
}
