.use-case-bottom {
  text-align: center;
  padding-bottom:$gutter-width*2;
}
.use-case-problem {
  line-height:2;
  font-size:1.2em;
  text-align: left;
  @include bp(m) {
    text-align: justify;
  }
}
.use-case-quotes {
  display:block;
  min-height:300px;
  width:100%;
  .use-case-quote {
    padding:$gutter-width*2 0 $gutter-width;
   width:100%;
   h3 {
     line-height:1.5;
     font-weight:300;
     @include bp(m) {
       text-align: center;
       width:80%;
       margin:0 10%;
       font-size:1.4em;
     }
   }
  }
}
.use-cases-logo-strip {
  text-align:center;
  background:$light-gray;
  padding:$gutter-width*2 0;
}
ul.gray-logos {
  margin:0;
  padding:0;
  li {
    display:inline-block;
    text-align: center;
    padding:0 $gutter-width;
    width:33%;
    @include bp(m) {
      width:auto;
    }
    img {
      max-height:50px;
      width:auto;
      max-width:100%;
    }
  }
}
.problem-statement {
  font-size: 1.4em;
  line-height: 1.5;
  text-align: center;
  font-weight:300;
  font-family:$header-font;
  color:$blue;
  min-height:150px;
  padding:$gutter-width $gutter-width*3;
  margin-top:$gutter-width/2;
  @include bp(m) {
    padding:$gutter-width;
  }
}
.problem-arrow {
  position:absolute;
  width:1px;
  height:90%;
  bottom:0;
  border:1px dashed $gray;
  left:$gutter-width*2;
  &:before {
    content:'';
    left:-8px;
    position:absolute;
    background:$header-blue;
    border:3px solid $white;
    box-shadow:  0px 0px 0px 2px $gray;
    width:17px;
    height:17px;
    border-radius:50%;
    top:-9px;
  }
  &:after {
    content:'';
    position:absolute;
    right:-8px;
    width:15px;
    height:15px;
    transform:rotate(135deg);
    border-right:2px solid $gray;
    border-top:2px solid $gray;
    //top:-8px;
    bottom:0;
  }
  @include bp(m) {
    position:relative;
    display:block;
    left:auto;
    margin:$gutter-width*2 5%;
    width:90%;
    &:after {
      transform: rotate(45deg);
      bottom:auto;
      top:-8px;
    }

  }

}
.three-pane {
    text-align:center;
    h2 {
      text-align:left;
    }
    h3 {
      font-size:24px;
      line-height:36px;
      font-weight:300;
    }
}
section#parallax.use-cases-parallax {
  #bg-slides {
    .bg-slide {
      &:after {
        content:'';
        position:absolute;
        top:0;
        bottom:0;
        width:100%;
        background: linear-gradient(to left, rgba(0,0,0,0.65) 0, rgba(0,0,0,0.55) 50%,rgba(0,0,0,0) 100%);
      }
    }
  }
  .content-slide {
    &.row {
      margin:0;
    }
    @media only screen and (max-width: 1024px) {
      @include aspect-ratio(1,1);
      background-repeat:no-repeat;
      background-size:cover;
      background-position: center;
      .content {
        &:before {
          content:'';
          position:absolute;
          top:0;
          bottom:0;
          width:100%;
          background:linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
          background:rgba(0,0,0,.6);
        }
      }
    }
    .content {
      h1, h2, .text-content {
        position:relative;
        color:$white;
        padding-left:$gutter-width;
        padding-right:$gutter-width*2;
      }
      h2 {
        padding-top:$gutter-width*2;
        text-transform: none;
        text-align:left;
        font-size:2.4em;
        color:$white;
        font-weight: 600;
        opacity:1;
        text-shadow:1px 1px 5px rgba(255,255,255,.1);
      }
      .text-content {
        font-weight:300;
      }
    }
    @include bp(m) {
      background-image: none !important;
      padding-top:20%;
      .content {
        width:50%;
        margin-left:50% !important;
        h1, h2, .text-content {
          padding-right:160px;
        }
      }

    }

  }
}
section.use-case-quotes {
  padding-bottom:$gutter-width*2;
}
