.video-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    .bg {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
    }
    .main-window {
      margin-top: 4em;
    }
    &.active {
      display: block;
      z-index: 99;
    }
    .modal-hide {
      font-size: 3em;
      background: transparent;
      border: none;
      color: $white;
      &:active {
        outline: none;
      }
    }
    .wrapper-video {
      display: block;
      @include bp(m) {
        display: none;
        &.active {
          display: block;
        }
      }
    }
    .wrapper-html {
      display: none;
      @include aspect-ratio(16,9);
      background: $black;
      &.active {
        display: none;
        @include bp(m) {
          display: block;
        }
      }
      .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $white;
        padding: $gutter-width;
        flex-wrap: wrap;
        font-size: 0.8em;
        .col-wide {
          h1 {
            margin: 0;
          }
          p {
            margin: 0;
          }
          text-align: center;
          flex-basis: 100%;
        }
        .col-three {
          h2 {
            font-size: 16px;
            font-weight: 800;
          }
          flex-basis: 30%;
          text-align: center;
          .button {
            margin-top: $gutter-width;
          }
        }
        @include bp(m) {
          font-size: 1em;
          .col-three {
            h2 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .video-panel {
    display: block;
    @include bp(m) {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  .multi-video-player {
    .buttons {
      margin-bottom: $gutter-width;
      .btn-launch {
        display: flex;
        width: 100%;
        padding: 12px;
        background: $light-gray;
        color: $black;
        text-decoration: none;
        @include ds-transition();
        .thumb {
          @include aspect-ratio(4,3);
          flex-basis: 25%;
          margin-right: 12px;
          background-size: cover;
          background-position: center center;
          max-height: 100px;
          @include bp(m) {
            max-height: none;
          }
          .inner {
            display: none;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            .fa {
              font-size: 3em;
              color: $blue;
              text-align: center;
              flex-basis: 100%;
              @include bp(m) {
                font-size: 6em;
              }
            }
          }
        }
        .title {
          font-weight: 800;
        }
        .state {
          display: none;
          font-style: italic;
          color: $blue;
          font-size: 0.8em;
        }
        .words {
          flex-basis: 75%;
          .fa {
            padding-left: 1em;
          }
        }
        &:hover,
        &.active {
          background: $gray;
        }
        &.active {
          .title,
          .fa {
            color: $blue;
          }
          .thumb {
            border: 1px solid $blue;
            .inner {
              display: flex;
            }
          }
        }
      }
    }
  }