
  .video-panel {
    display: block;
    @include bp(m) {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  .multi-video-player {
    .buttons {
      margin-bottom: $gutter-width;
      .btn-launch {
        display: flex;
        width: 100%;
        padding: 12px;
        background: $light-gray;
        color: $black;
        text-decoration: none;
        @include ds-transition();
        .thumb {
          @include aspect-ratio(4,3);
          flex-basis: 25%;
          margin-right: 12px;
          background-size: cover;
          background-position: center center;
          max-height: 100px;
          @include bp(m) {
            max-height: none;
          }
          .inner {
            display: none;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            .fa {
              font-size: 3em;
              color: $blue;
              text-align: center;
              flex-basis: 100%;
              @include bp(m) {
                font-size: 6em;
              }
            }
          }
        }
        .title {
          font-weight: 800;
        }
        .state {
          display: none;
          font-style: italic;
          color: $blue;
          font-size: 0.8em;
        }
        .words {
          flex-basis: 75%;
          .fa {
            padding-left: 1em;
          }
        }
        &:hover,
        &.active {
          background: $gray;
        }
        &.active {
          .title,
          .fa {
            color: $blue;
          }
          .thumb {
            border: 1px solid $blue;
            .inner {
              display: flex;
            }
          }
        }
      }
    }
  }