-
  var navItems = [{
      "title": "Request a Demo",
      "url": "/requestdemo/",
      "class":"demo"
    },
    {
      "title": "Solutions",
      "url": "/xolutions/",
      "children": [{
          "title": "Communication",
          "url": "/workforce-communication/"
        },
        {
          "title": "Human Resources",
          "url": "/employee-advocacy/"
        },
        {
          "title": "Marketing",
          "url": "/employee-experience/"
        },
        {
          "title": "Healthcare",
          "url": "https://resources.dynamicsignal.com/healthcare"
        },
        {
          "title": "Manufacturing",
          "url": "https://resources.dynamicsignal.com/manufacturing"
        },
        {
          "title": "Retail",
          "url": "https://resources.dynamicsignal.com/retail"
        }
      ]
    },
    {
      "title": "Blog",
      "url": "/blog/"
    },
    {
      "title": "Contact",
      "url": "/contact/"
    },
    {
      "title": "Support",
      "url": "https://support.dynamicsignal.com/"
    }
  ];
  
aside.side-nav.right#side-nav
  a#btn-close-sidenav.hamburger.active(href="#", title="close menu")
    .line.top
    .line.middle
    .line.bottom
  .inner
    ul
      for item in navItems
        - 
          var classname = item.class ? item.class : "";
          if (locals.siteurl && item.url.indexOf("http")<0) {
            url = locals.siteurl + item.url;
            }
          else {
            url = item.url;
            }
            if (item.url.indexOf("support.dynamicsignal.com")>0) {
              targetUrl = "_blank";
            }
            else {
              targetUrl = "_self"
            }
        li
          a(href=locals.siteurl + item.url,class=classname,target=targetUrl)!=item.title
          if item.children
            ul
              for child in item.children
                li
                  - 
                    if (locals.siteurl && child.url.indexOf("http")<0) {
                      childurl = locals.siteurl + child.url;
                      }
                    else {
                      childurl = child.url;
                      }
                    if (child.url.indexOf("support.dynamicsignal.com")>0) {
                      targetUrl = "_blank";
                    }
                    else {
                      targetUrl = "_self"
                    }
                  a(href=childurl,target=targetUrl)!=child.title
